
.page a.btnOra215,.page input.btnOra215,.page a.btnOra140,.page a.btnOra100,.page a.btnOra90,.page input.btnOra90,.page a.btnOra75,.page a.btnOra55,.page a.btnBlue135,.page a.btnBlue90,.page a.btnBlue75,.page a.btnBlue55,.page a.btnGreen120,.page a.btnGreen100,.page a.btnGreen95,.page a.btnGreen90a,.page a.btnGreen90b,.page a.btnGreen75,.page a.btnGray50{background-image:url(../images/btn.jpg);background-repeat:no-repeat;color:#FFFFFF; text-align:center; display:block;}
/*orange*/
.page a.btnOra215,.page input.btnOra215{width:215px;height:38px;line-height:35px;background-position:0px -185px;background-color:#E66A12;}
.page a.btnOra140{width:140px;height:38px;line-height:35px;background-position:0px -225px;background-color:#E66A12;font-size:18px;}
.page a.btnOra100{width:100px;height:40px;line-height:40px;background-position:0px 0px;background-color:#E66A12;}
.page a.btnOra100:hover{text-shadow:1px 1px 5px #eee;}

.page a.btnOra90,.page input.btnOra90{width:90px;height:33px;line-height:30px;background-position:0px -40px;background-color:#E66A12;font-size:16px;}
.page a.btnOra75{width:75px;height:25px;line-height:25px;background-position:0px -75px;background-color:#E66A12;font-size:13px; text-indent:0;}
.page a.btnOra55{width:55px;height:22px;line-height:22px;background-position:0px -100px;background-color:#E66A12;}
/*blue*/
.page a.btnBlue135{width:135px;height:33px;line-height:30px;background-position:-100px 0;background-color:#027DDB;font-size:16px;}
.page a.btnBlue90{width:90px;height:33px;line-height:30px;background-position:-100px -150px;background-color:#027DDB;font-size:16px;}
.page a.btnBlue75{width:75px;height:30px;line-height:30px;background-position:-100px -95px;background-color:#027DDB;font-size:14px;font-weight:700;}
.page a.btnBlue55{width:55px;height:22px;line-height:22px;background-position:-100px -125px;background-color:#027DDB;}
/*green*/
.page a.btnGreen120{width:120px;height:30px;line-height:30px;background-position:-235px 0px;background-color:#40A114;}
.page a.btnGreen100{width:100px;height:37px;line-height:37px;background-position:-235px -35px;background-color:#40A114;}
.page a.btnGreen95{padding-left:15px;width:80px;height:25px;line-height:25px;background-position:-235px -175px;background-color:#40A114;}
.page a.btnGreen90a{width:90px;height:33px;line-height:30px;background-position:-235px -105px;background-color:#40A114;font-size:16px;}
.page a.btnGreen90b{width:90px;height:33px;line-height:30px;background-position:-235px -140px;background-color:#40A114;font-size:16px;}
.page a.btnGreen75{width:75px;height:27px;line-height:27px;background-position:-235px -75px;background-color:#40A114;font-size:14px;}
.page a.btnGray50{width:50px;height:28px;background-position:-180px -65px;background-color:#40A114;}



.page input.btnOra215,.page input.btnOra90{border:none;cursor:pointer;}