@charset "utf-8";
/* CSS Document */

.stugrade{background-color:#005EA7;border:1px solid #BAC7D7;color:#FFFFFF; cursor:pointer;}
.stuUp a{ text-decoration:underline; color:#006699;}
.myname{font-size:18px;overflow:hidden;}
.myStu{ background:url(http://images.rfgxy.com/home_li1.gif) no-repeat 1px 10px; padding-left:10px; height:25px; line-height:25px;}
.stuColumn dt{background-color:#F0F9FE; height:30px; line-height:30px;font-size:16px; font-weight:bolder; text-decoration:none;cursor:pointer;}
.stuColumn dd{height:25px; line-height:25px;}
.stuColumn dd a{color:#000000}
.stuColumn dd a:hover{text-decoration:underline; color:#FF0000;}

.safeOk,.safeDanger,.home_bt1 a,.home_bt2 a,.home_bt2_02 a,.home_bt3 a,.home_bt4 a,.home_bt4_button,.home_bt5 a,.home_bt5_button,.home_bt6 a,.home_bt6_02 a,.home_bt7 a,.home_bt8_01 a,.home_bt8_02 a,.home_bt8_03 a,.home_bt9 a,.home_bt10 a,.home_bt11 a{background-image:url(http://images.rfgxy.com/home_bt.gif); background-repeat:no-repeat;}
.safeOk{background-position:-340px -340px;}
.safeDanger{background-position:-350px -420px;}
.home_bt1 a{background-position:0 -200px; width:75px; height:25px;  line-height:25px; color:#FFFFFF!important;}
.home_bt2 a{background-position:0 -240px; width:80px; height:35px; line-height:35px; color:#FFFFFF!important;}
.home_bt2_02 a{background-position:-340px -120px; width:80px; height:35px; line-height:35px; color:#FFFFFF!important;}
.home_bt3 a{background-position:-340px -300px; width:80px; height:35px; line-height:35px; color:#FFFFFF!important;}
.home_bt4 a{background-position:0px -120px; width:60px; height:25px; line-height:25px; color:#FFFFFF!important;}
.home_bt4_button{background-position:0px -120px; width:60px; height:25px; line-height:25px; color:#FFFFFF;border:0;}
.home_bt5 a{background-position:0px -330px; width:100px; height:25px; line-height:25px; color:#FFFFFF!important;}
.home_bt5_button{background-position:0px -330px; width:100px; height:25px; line-height:25px; color:#FFFFFF!important; border:0;}
.home_bt6 a{background-position:-295px -245px; width:123px; height:40px; line-height:40px; color:#FFFFFF!important;}
.home_bt6_02 a{background-position:-150px -245px; width:123px; height:40px; line-height:40px; color:#FFFFFF!important;}
.home_bt7 a{background-position:-290px -70px; width:130px; height:26px; line-height:26px; color:#FFFFFF!important;}
.home_bt8_01 a{background-position:0 0; width:73px; height:23px; line-height:23px; padding-left:20px; color:#FFFFFF!important;}
.home_bt8_02 a{background-position:0 -40px; width:73px; height:23px; line-height:23px; padding-left:20px; color:#FFFFFF!important;}
.home_bt8_03 a{background-position:0 -80px; width:73px; height:23px; line-height:23px; padding-left:20px; color:#FFFFFF!important;}
.home_bt9 a{background-position:0 -290px; width:87px; height:22px; line-height:22px;color:#FFFFFF!important;}
.home_bt10 a{background-position:-110px 0px; width:70px; height:25px; line-height:25px;color:#FFFFFF!important;}
.home_bt11 a{background-position:-110px -40px; width:120px; height:36px; line-height:36px;color:#FFFFFF!important;}


h3{/*background:url(/images/stu_bg1.jpg) repeat-x 0 0;*/ padding-left:15px; height:35px; line-height:35px; color:#0E8BE9; font-size:18px; margin:1px;}
.showlist{color:#595959; height:34px; line-height:34px;}
.showlist a{ padding:2px 5px; font-size:12px; margin-right:15px;color:#595959!important;}
.showlist .on{background-color:#1B7FC6; color:#ffffff!important;}
.myorder{color:#595959;}
.lessonlist{color:#595959; border-left:1px solid #E9E9E9; border-right:1px solid #E9E9E9;}
.list_tt{border-top:1px solid #ADD1F1;border-left:1px solid #ADD1F1;border-right:1px solid #ADD1F1; height:29px; line-height:30px;padding:0 8px; margin-right:10px; float:left; }
.list_tt a{color:#04507C!important;}
.list_on{height:30px; line-height:30px; background-color:#FFFFFF;}
.list_on a{ color:#000000!important;}
.select_bt{background:url(http://images.rfgxy.com/select_bt.jpg) no-repeat 0 0; width:48px; height:25px; border:0px; margin-left:10px;}
.faq_tt a{color:#133DB6!important; font-size:14px; padding-left:5px;}
.faq_tt a:hover{color:#133DB6;}
.anslink a{width:123px; color:#FFFFFF!important; background-color:#009966;}
.safediv{background-color:#FFFDEE;border:1px solid #EDD28B;}
.wdlink3 a{color:#F24D04!important; text-decoration:underline!important;}

.bdgray-3{background-color:#FCFCFC;}
.bdallgray1{border:1px solid #E9E9E9;}
.bdt1{border-top:1px solid #E9E9E9;}
.bdb1{border-bottom:1px solid #E9E9E9;}
.bdr1{border-right:1px solid #E9E9E9;}
.bddb1{border-bottom:1px dashed #E9E9E9;}

.bdallblue1{border:1px solid #ADD1F1;}
.bdb_blue1{border-bottom:1px solid #ADD1F1;}
.cblue-4{color:#0E8BE9;}
.cblue{color:#006699;}
.corange1{color:#FB910F;}

.ti2{text-indent:2em;}
.pl120{padding-left:120px;}

.chatDown{ background:url(http://images.rfgxy.com/chat_tool.png) no-repeat 0 0; height:21px;}
.chatDown:hover{background:url(http://images.rfgxy.com/chat_tool02.png) no-repeat;}

a.close{color:#999; font-size:12px; float:right; padding-right:20px; text-decoration:underline;font-weight:normal;}

.home_bt5_button{cursor: pointer;}

.showlist a{cursor: pointer;}

.green{color: #009900;}
.pl100{padding-left: 100px;}

.pl35{padding-left:35px;}

.del a{color:#FF0000!important; font-size:20px;}
.del a:hover{color:#FF0000;}

.msglink a{color:#83878A!important;}
.msglink a:hover{color:#83878A;}


.gradelink a{color:#FF0000!important;}
.cont{background-color:#F8F8F8;border:1px solid #E1DFDF;/*width:758px;*/ padding:10px 30px 30px; margin-top:15px;}
.contHead{height:40px; line-height:40px; text-align:center; font-size:20px;}

.service{background-color:#F8F8F8;border:1px solid #E1DFDF; padding-left:50px; /*width:768px;*/ height:50px; line-height:50px; margin-top:15px;}
.serviceP{float:left;color:#C93D26; font-size:20px; margin-right:20px;}
.serviceBt{background:url(../../images/help21_img.jpg) no-repeat 0 -196px; width:115px; height:40px; float:left; margin-top:5px;}

.tbsp td{padding-top: 12px;padding-left: 20px;}

.selmore option{text-align:left; padding-left:10px; padding-top:5px; padding-bottom:5px;}

.showlist a{cursor:pointer;}.nl_title{height:34px;line-height:34px;padding-left:15px;background:url(/images/home_img_20120914.gif) repeat-x scroll 0 -31px #f7f7f7;}.lessonPage{width:95%;margin:0 auto;font-family:"΢ź";}.leftLesson_list{margin-top:10px;}.leftLesson_list dt{border:1px solid #B8CDE2;padding:2px;float:left;width:145px;margin:25px 10px 0 0;}.leftLesson_list dd{padding-bottom:15px;border-bottom:dotted 1px #ccc;}.leftLesson_list dd .list_h3{font-size:14px;color:#0033CC;height:35px;line-height:35px;margin:1px;padding-left:15px;}.leftLesson_list dd .list_h3 .t{float:left;width:500px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}.leftLesson_list dd .list_h3 a:hover{color:#0055AA;}.leftLesson_list dd .list_h4{font-size:12px;color:#999;line-height:20px;padding-left:15px;}.leftLesson_list dd .list_cont{font-size:12px;line-height:18px;padding-left:15px;}.leftLesson_list dd .list_cont a{color:#000;}.lesson_nav{height:34px;line-height:34px;padding-left:25px;background:url(/images/home_img_20120914.gif) repeat-x scroll 0 -31px #F7F7F7;}.lessonLeft{width:95%;margin:10px auto 0 auto;}.lesson_nav{height:34px;line-height:34px;padding-left:25px;background:url(http://images.rfgxy.com/home_img_20120914.gif) repeat-x scroll 0 -31px #F7F7F7;}

.pr100{padding-right:100px;}
.bg_ans{background:url(/images/ans_bg.jpg) no-repeat 0 0;border-top:1px solid #D1D1D1;}
.ans_text1{background:url(/images/ans_bgx1.jpg) repeat-x 0 0;width:558px;border:0;padding:5px;}
.ans_text2{background:url(/images/ans_bgx2.jpg) repeat-x 0 0;border-bottom:1px solid #D1D1D1;}
a.check_img1{background:url(/images/home_bt.gif) no-repeat 0 -502px;color:#0033FF !important;}
a.ans_bt1{background:url(/images/home_bt.gif) no-repeat -150px -370px;width:90px;height:33px;line-height:33px;color:#FFFFFF !important;}
a.ans_bt2,a.ans_bt4{height:24px;line-height:24px;color:#FFFFFF !important;background:url(/images/home_bt.gif) no-repeat;}
a.ans_bt2{background-position:0 -470px;width:93px;}
a.ans_bt4{background-position:-169px -470px;width:77px;}

table td{border:none;}
.window{border-top:5px solid #005DAB;border-left:1px solid #005DAB;border-right:1px solid #005DAB;border-bottom:1px solid #005DAB;}
.wd_care{background:url(../../images/home_bt.gif) -315px -435px no-repeat;}
.wdlink1 a{color:#FFFFFF !important;background:url(../../images/home_bt.gif) 0 -370px no-repeat;}
.wdlink2 a{color:#FFFFFF !important;line-height:55px;background:url(../../images/home_bt.gif) -250px 0px no-repeat;}
.window2Table{width:400px;margin:0 auto;}
.window2Table td{font-size:14px;}
.window2Teacher{border:1px solid #ADD1F1;width:100px;height:23px;line-height:23px;text-align:center;}
.window2Text{border:1px solid #ADD1F1;width:150px;height:23px;line-height:23px;padding:0 5px;}
.window2Table .window2Bt1{background:url(../../images/home_bt.gif) no-repeat -340px -119px;width:80px;height:40px;line-height:38px;float:left;color:#FFFFFF;margin-right:20px;font-size:16px;}
.window2Table .window2Bt2{background:url(../../images/home_bt.gif) no-repeat -340px -299px;width:80px;height:40px;line-height:38px;float:left;color:#FFFFFF;font-size:16px;}
.window2Table td.window2Explain{color:#FF8000;font-size:12px;}

.wd_care{background:url(/images/home_bt.gif) -315px -435px no-repeat;}
.wdlink1 a{color:#FFFFFF!important; background:url(/images/home_bt.gif) 0 -370px no-repeat;}
.wdlink2 a{color:#FFFFFF!important; line-height:55px; background:url(/images/home_bt.gif) -250px 0px no-repeat;}

.helplink2 a{color:#FFFFFF !important;background:url(/images/home_bt.gif) -260px -175px no-repeat;width:158px;}

.helplink1 a{color:#FFFFFF !important;background:url(/images/home_bt.png) 0 -420px no-repeat;width:158px;}
.window{border-top:5px solid #005DAB;border-left:1px solid #005DAB;border-right:1px solid #005DAB;border-bottom:1px solid #005DAB;}
.wd_care{background:url(../../images/home_bt.gif) -315px -435px no-repeat;}
.wdlink1 a{color:#FFFFFF !important;background:url(../../images/home_bt.gif) 0 -370px no-repeat;}
.wdlink2 a{color:#FFFFFF !important;line-height:55px;background:url(../../images/home_bt.gif) -250px 0px no-repeat;}
.window2Table{width:400px;margin:0 auto;}
.window2Table td{font-size:14px;}
.window2Teacher{border:1px solid #ADD1F1;width:100px;height:23px;line-height:23px;text-align:center;}
.window2Text{border:1px solid #ADD1F1;width:150px;height:23px;line-height:23px;padding:0 5px;}
.window2Table .window2Bt1{background:url(../../images/home_bt.gif) no-repeat -340px -119px;width:80px;height:40px;line-height:38px;float:left;color:#FFFFFF;margin-right:20px;font-size:16px;}
.window2Table .window2Bt2{background:url(../../images/home_bt.gif) no-repeat -340px -299px;width:80px;height:40px;line-height:38px;float:left;color:#FFFFFF;font-size:16px;}
.window2Table td.window2Explain{color:#FF8000;font-size:12px;}
.myRecord{}
.myRecord td{height:30px;border:1px solid #E9E9E9;text-align:center;line-height:30px;}
.myRecord td h3{text-align:left;}


.ans_img1{background:url(/images/home_bt.gif) no-repeat 0 -535px;}
a.ans_check2{background:url(/images/home_bt.gif) no-repeat -100px -505px;}
a.ans_bt2,a.ans_bt3,a.ans_bt4{height:24px;color:#FFFFFF !important;background:url(/images/home_bt.gif) no-repeat;}
a.ans_bt2{background-position:0 -470px;width:93px;}
a.ans_bt3{background-position:-93px -470px;width:76px;}
a.ans_bt4{background-position:-169px -470px;width:77px;}
.ans_underline{border-bottom:1px dashed #999999;}
.list_tt{cursor:pointer;}

.jcld_left_7{width:668px;margin:0 auto 0 auto;}
.jcld_left_7 .jl7_title{width:668px;line-height:35px;height:35px;overflow:hidden;color:#ffffff;background-color:#025da4;text-indent:1em;padding:0;margin:0;}
.jcld_left_7 .jl7_title h3{width:400px;float:left;display:inline;font-weight:normal;margin:0;padding:0;}
.jcld_left_7 .jl7_title h3 b{font-size:14px;color:#ffffff;font-weight:normal;}
.jcld_left_7 .jl7_title span{width:163px;float:right;display:inline;font-size:12px;text-align:right;padding-right:5px;}
.jl7_content{width:666px;font-size:12px;text-align:center;border:1px solid #eeeeee;margin:0 auto 0 auto;padding:0;}
img{border:0px;}
.jl7_c_table td{line-height:30px;background-color:#ffffff;}
.jl7_c_table td input{vertical-align:middle;}
.bg_f7f7f7{background-color:#f7f7f7;}
.showPize1{_margin-top:5px;line-height:35px;}
#sltChange{height:22px;}

.window{/*border-top:5px solid #A7A6A6;border-left:1px solid #A7A6A6;border-right:1px solid #A7A6A6;border-bottom:1px solid #A7A6A6;*/}
.wd_care{background:url(/images/home_bt.gif) -315px -435px no-repeat;}
.wdlink1 a{color:#FFFFFF !important;background:url(/images/home_bt.gif) 0 -370px no-repeat;}
.wdlink2 a{color:#FFFFFF !important;line-height:55px;background:url(/images/home_bt.gif) -250px 0px no-repeat;}

.head{line-height:20px;font-size:12px;font-weight:500;}
.head a{color:#000000;/*font-size:12px;font-weight:700;*/}
.head span{color:#6F6F6F;}
.cont{padding:0 15px;background-color:#FFFCF5;}
.cont dt{line-height:25px;font-size:12px;font-weight:700;color:#000000;}
.cont dt label{color:#FF6600;}
.cont dt span{color:#6F6F6F;font-size:12px;font-weight:500;}
.cont dd{border-bottom:1px solid #F3E6C6;line-height:20px;}

.bdreco{border:1px solid #78C1FF;background-color:#F7FCF8;}

.bdreco{border:1px solid #78C1FF;background-color:#F7FCF8;}

.del a{color:#FF0000!important; font-size:20px;}
.del a:hover{color:#FF0000;}

.msglink a{color:#83878A!important;}
.msglink a:hover{color:#83878A;}
.con_detail{margin:10px; border: 1px solid #EDD28B;background: #FFFDEE;padding: 10px;}
.con_detail p{ line-height:22px;}

.home_bt5_button{cursor:pointer;}
.pl40{padding-left:40px;}




.sbuy_cont{padding:20px 5px;}
.sbuy_select span{color:#808080;font-size:14px;}
.sbuy_h2{height:25px;line-height:25px;padding-left:10px;font-size:14px;font-weight:bold;border-bottom:1px solid #C4D4E7;}
.sbuy_h4{background-color:#F5F5F5;height:30px;line-height:30px;padding-left:25px;}
.sbuy_pay1 p{float:left;}
.sbuy_pay1 input{margin-top:15px;}
.sbuy_pay2 p{float:left;}
.sbuy_pay2 input{margin-top:10px;}
.pay_img1,.pay_img2,.pay_img3,.pay_img4,.pay_img5,.pay_img6,.pay_img7,.pay_img8,.pay_img9,.pay_img10,.pay_img11,.pay_img12,.pay_img13,.pay_img14,.pay_img15,.pay_img16,.pay_img17,.pay_img18,.pay_img19,.pay_img20,.pay_img21,.pay_img22,.pay_img23,.pay_img24,.pay_img25,.pay_img26,.pay_img27,.pay_img28,.pay_img29,.pay_img30{background-image:url(../../images/sbuy_img.jpg);background-repeat:no-repeat;cursor:pointer;margin-top:5px;}
.pay_img1{background-position:20px 0;width:150px;height:40px;}
.pay_img2{background-position:-150px 0;width:150px;height:40px;}
.pay_img3{background-position:-320px 0;width:180px;height:40px;}
.pay_img4{background-position:20px -40px;width:140px;height:30px;}
.pay_img5{background-position:-150px -40px;width:150px;height:20px;}
.pay_img6{background-position:-340px -40px;width:115px;height:30px;}
.pay_img7{background-position:20px -100px;width:180px;height:33px;}
.pay_img8{background-position:-180px -100px;width:180px;height:33px;}
.pay_img9{background-position:-380px -100px;width:180px;height:33px;}
.pay_img10{background-position:20px -135px;width:180px;height:33px;}
.pay_img11{background-position:-180px -135px;width:180px;height:33px;}
.pay_img12{background-position:-380px -135px;width:180px;height:33px;}
.pay_img13{background-position:20px -170px;width:180px;height:33px;}
.pay_img14{background-position:-180px -170px;width:180px;height:33px;}
.pay_img15{background-position:-380px -170px;width:180px;height:33px;}
.pay_img16{background-position:20px -205px;width:180px;height:33px;}
.pay_img17{background-position:-180px -205px;width:180px;height:33px;}
.pay_img18{background-position:-380px -205px;width:180px;height:33px;}
.pay_img19{background-position:20px -240px;width:180px;height:33px;}
.pay_img20{background-position:-180px -240px;width:180px;height:33px;}
.pay_img21{background-position:-380px -240px;width:180px;height:33px;}
.pay_img22{background-position:20px -275px;width:180px;height:33px;}
.pay_img23{background-position:-180px -275px;width:180px;height:33px;}
.pay_img24{background-position:-380px -275px;width:180px;height:33px;}
.pay_img25{background-position:20px -310px;width:180px;height:33px;}
.pay_img26{background-position:-180px -310px;width:180px;height:33px;}
.pay_img27{background-position:-380px -310px;width:180px;height:33px;}
.pay_img28{background-position:20px -345px;width:180px;height:33px;}
.pay_img29{background-position:-180px -345px;width:180px;height:33px;}
.pay_img30{background-position:-380px -345px;width:180px;height:33px;}

.order_bt{background:url(/images/order_bt.jpg) no-repeat 0 0;width:72px;height:21px;}
.orderfoot a{margin-left:5px;color:#595959 !important;}
.showlist a{cursor:pointer;}


.mr8{ margin-right:8px;}
.user_center_right_navs{width:760px;float:left;margin-bottom:10px;}
.user_center_right_navs a{float: left; width: 245px; height: 125px; line-height: 125px; text-align: center; border: 1px solid rgb(152, 212, 120); background-color: rgb(241, 255, 232); color: rgb(100, 178, 58); font-size: 30px; font-weight: 700; font-family: '微软雅黑';}
.user_center_right_navs a:link{color:rgb(100, 178, 58);}
.user_center_right_navs a.news_nav1{ background:url(http://images.rfgxy.com/bg_20130709001.png) no-repeat scroll 175px 0 #F1FFE8;}
.user_center_right_navs a.right_nav2{background-color:#64b23a;color:#fff;text-decoration:none;}
.user_center_right_navs a.right_nav2:link{background-color:#64b23a;color:#fff;text-decoration:none;}