<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
    <style type="text/css">

.us-list {
    padding-left: 20px;
}
dl{
      margin: 0;
    padding: 0;
}
.us dd {
    padding-left: 27px;
    margin-bottom: 28px;
    font-size: 12px;
    color: #60686b;
}
.us dt {
    color: #303538;
    font-size: 14px;
    padding-left: 27px;
    background: url(../images/us-sprite.png) no-repeat -85px -192px;
}

    </style>        
<div class="us others">
    <h1>关于我们</h1>
    <dl class="us-list">
        <dt>关于儒风国学院</dt>

<dd>山东儒风国学有限公司，是经省工商局注册的国学教学基地，因其坐落在伟大的思想家、教育家、先师孔子故里、东方圣城——曲阜，于创建之初，便确立了对传统文化的教学、培训、交流、展示、研究与传播的方向，并开设了特色修学游活动，吸引着全国各地的人们前来体验与学习。</dd>

<dd>
  学院与孔庙一墙之隔，是离儒家文化思想最近的国学教学基地，是中国全面恢复古人“读经、习礼、开笔、开讲、游学、力行、会讲、祭祀”的高等国学教育机构。成为当今最具影响力的现代国学学院。
</dd>

<dd>
  中华民族的传统文化源远流长，是整个东方文化的重要标志和世界历史文化宝库中的重要遗产，对人类社会的文明进步作出了不可磨灭的贡献。国学作为中华民族传统文化的载体，承载着民族精神和民族灵魂，在传统文化发展中起着重要的作用，文化创新必然离不开对传统的继承。
</dd>
<dd>
  曲阜鼎立启智学校隶属儒风国学有限公司，以“弘扬传统文化，发展现代教育”为宗旨，是经民政局备案，教育局批准设立的非盈利性教育学校，在浓厚的传统文化熏陶下，做最有情怀的教育培训，学校开设学习能力提升（以快速记忆，思维导图，快速阅读的科学方式，同步各科课程，在掌握学习新方法的同时，显著提高学习成绩），专业技能培训，公务考试专业指导等服务，与全国上百所教育培训学校建立了合作伙伴关系，及时、准确、权威的掌握最新教育动态和教学方法，造福当地教育事业，并常年与多所高校进行自身培训学习，和专业人才的聘用，确保了高质量的教学力量和高素质的教学队伍。
</dd>
<dd>
  “君子务本，本立而道生”，山东儒风国学有限公司，致力于做最专业，最有良心的教育，为传统的教育附加新的诠释。
</dd>

<dt>学校地址</dt>
<dd>
  山东曲阜神道路1号
</dd>

<dt>
  求学热线
</dt>
<dd>
  0537----4983789   18606473789   18553720567
</dd>
        <dd>
            <div clas
s="us-app-wrap clearfix">
        <div class="us-app-qr us-app-mobile l">
          <div class="qr-img qr-img-mobile"></div>
        </div>
        <div class="us-app-split l"></div>
        <div class="us-app-qr l">
          <div class="qr-img qr-img-ipad"></div>
        </div>
        <!-- <div class="us-app-code l"></div>
        <div class="us-app-links">
          <a href="https://itunes.apple.com/cn/app/mu-ke-wang/id722179140?mt=8" target="_blank" class="us-app-iphone" ><i></i>iPhone</a>
          <a href="http://www.imooc.com/mobile/mukewang.apk" target="_blank" class="us-app-android"><i></i>Android</a>
        </div> -->
      </div>
      </dd>
    </dl>
   <div class="us-more">
   </div>
</div>


          </div>
        </div>
    </div>