<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
    <style type="text/css">

.us-list {
    padding-left: 20px;
}
dl{
      margin: 0;
    padding: 0;
}
.us dd {
    padding-left: 27px;
    margin-bottom: 28px;
    font-size: 12px;
    color: #60686b;
}
.us dt {
    color: #303538;
    font-size: 14px;
    padding-left: 27px;
    background: url(../images/us-sprite.png) no-repeat -85px -192px;
}

    </style>        
<div class="us others">
    <h1>团队介绍</h1>
    <dl class="us-list">
<dd>我们以大脑潜能开发和创新思维能力与方法训练为教育教学特色；以“促进青少年脑力运动快速发展，普及科学教育先进训练技术，帮助更多人群富有大脑为宗旨；学校以推动本地”强脑、强人、强志“为使命，让全市孩子能够快乐学习，轻松记忆，有效提升10-50倍记忆力与速度能力。</dd>

<dd>
     学校教学设施齐全，交通方便，配备专业专职记忆力教师和专业速读教师，拥有完善的教学体系和行政管理机制。
</dd>
<dd>
     学校以“管理创新、教学创新、产品创新”为办学理念，秉承“对学生负责、家长负责、国家负责”的精神，致力于为社会培养更多更实用、更优秀的杰出人才，努力打造本土记忆教育第一品牌。用我们的专业、爱心、执着、热情为青少年记忆力教育付出毕生的努力。
</dd>
<dd>
    学校开设世界三大高效学习法培训课程：快速记忆、快速阅读、思维导图
</dd>


        <dd>
            <div clas
s="us-app-wrap clearfix">
        <div class="us-app-qr us-app-mobile l">
          <div class="qr-img qr-img-mobile"></div>
        </div>
        <div class="us-app-split l"></div>
        <div class="us-app-qr l">
          <div class="qr-img qr-img-ipad"></div>
        </div>
        <!-- <div class="us-app-code l"></div>
        <div class="us-app-links">
          <a href="https://itunes.apple.com/cn/app/mu-ke-wang/id722179140?mt=8" target="_blank" class="us-app-iphone" ><i></i>iPhone</a>
          <a href="http://www.imooc.com/mobile/mukewang.apk" target="_blank" class="us-app-android"><i></i>Android</a>
        </div> -->
      </div>
      </dd>
    </dl>
   <div class="us-more">
   </div>
</div>


          </div>
        </div>
    </div>