<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
    <style type="text/css">

.us-list {
    padding-left: 20px;
}
dl{
      margin: 0;
    padding: 0;
}
.us dd {
    padding-left: 27px;
    margin-bottom: 28px;
    font-size: 12px;
    color: #60686b;
}
.us dt {
    color: #303538;
    font-size: 14px;
    padding-left: 27px;
    background: url(../images/us-sprite.png) no-repeat -85px -192px;
}

    </style>        
<div class="us others">
    <h1>关于我们</h1>
    <dl class="us-list">
        <dt>什么是慕课（MOOC）</dt>
        <dd>源于国外，Massive（大规模）Open（开放）Online（在线）Course（课程）。</dd>
        <dt>慕课网是什么MOOC</dt>
        <dd>专注做好IT技能教育的MOOC，符合互联网发展潮流接地气儿的MOOC。我们免费，我们只教有用的，我们专心做教育。</dd>
        <dt>为什么做慕课网</dt>
        <dd>慕课网的小伙伴希望所有热爱互联网的同学能更加便捷的获取学习资源，用互联网思维改变我们的学习。
            <br>我们提供最新的知识，帮你应对变化的世界！</dd>
        <dt>慕课网在做什么</dt>
        <dd>做更多实用的课程，做更好体验的产品，研究更牛的技术！</dd>
        <dt>慕课网的追求是什么</dt>
        <dd>让更多热爱互联网的同学来慕课网学习，多年以后，圈子里一批技术牛说：我在慕课网学习过，这就够了。</dd>
        <dt>慕课网有移动端吗</dt>
        <dd>
            有啊，手机端、iPad版请扫描下方二维码下载
            <div clas
s="us-app-wrap clearfix">
        <div class="us-app-qr us-app-mobile l">
          <div class="qr-img qr-img-mobile"></div>
          <a href="http://www.imooc.com/mobile/app" class="us-qr-link us-qr-ios" target="_blank">iPhone</a>
          <a href="http://www.imooc.com/mobile/app" class="us-qr-link us-qr-android" target="_blank">Android</a>
        </div>
        <div class="us-app-split l"></div>
        <div class="us-app-qr l">
          <div class="qr-img qr-img-ipad"></div>
          <a href="http://www.imooc.com/mobile/app?curr=ipad" class="us-qr-link us-qr-ios" target="_blank">iPad</a>
        </div>
        <!-- <div class="us-app-code l"></div>
        <div class="us-app-links">
          <a href="https://itunes.apple.com/cn/app/mu-ke-wang/id722179140?mt=8" target="_blank" class="us-app-iphone" ><i></i>iPhone</a>
          <a href="http://www.imooc.com/mobile/mukewang.apk" target="_blank" class="us-app-android"><i></i>Android</a>
        </div> -->
      </div>
      </dd>
      <dt>慕课网的大佬是谁</dt>
      <dd>慕课网隶属于北京慕课科技中心(有限合伙)，是一家从事互联网免费教学的网络教育公司。秉承“开拓、创新、公平、分享”的精神，将互联网特性全面的应用在教育领域，致力于为教育机构及求学者打造一站式互动在线教育品牌</dd>
      <dt>想及时沟通，请加慕粉QQ群，咱们当面聊！</dt>
    </dl>
   <div class="us-more">
      <div class="qqGroup">
        <ul>
          <li>群7: 416465236</li>
          <li>Java群: 6200344</li>
          <li>Php群: 42125527</li>
          <li>web前端群3: 249860541</li>
          <li>安卓群: 232465453</li>
          <li>在校生群: 187845234</li>
        </ul>
      </div>
   </div>
</div>


          </div>
        </div>
    </div>