            </div>
        </div>
        <!--footer-->
        <div class="footer mt20">
            <!--footer-guide-->
            <div class="foot-guide inner clearfix">
                <dl class="fg-item2">
                    <dt class="h30 lh30 b f14">精品课程</dt>
                    <dd class="clearfix">
                        <a class="w140" href="/lesson1/search-list.aspx?keyword=三菱">三菱视频教程</a>
                        <a class="w80" href="/lesson1/search-list.aspx?keyword=电工">电工</a>
                        <a class="w140" href="/lesson1/search-list.aspx?keyword=案例课程">案例课程</a>
                        <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子">西门子视频教程</a>
                        <a class="w80" href="/lesson1/search-list.aspx?keyword=数控">数控</a>
                        <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子S7-200">西门子S7-200</a>
                        <a class="w140" href="/lesson1/search-list.aspx?keyword=指令详解">指令详解</a>
                        <a class="w80" href="/lesson1/search-list.aspx?keyword=组态王">组态王</a>
                        <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子S7-300">西门子S7-300</a>
                        <a class="w140" href="/lesson1/search-list.aspx?keyword=变频器">变频器</a>
                        <a class="w80" href="/lesson1/search-list.aspx?keyword=PID">PID</a>
                        <a class="w140" href="/lesson1/search-list.aspx?keyword=伺服">伺服</a>
                    </dd>
                </dl>
                <dl class="fg-item">
                    <dt class="h30 lh30 b f14">学习咨询</dt>
                    <dd><a href="/lesson1/jinpin.aspx">选课中心</a></dd>
                    <dd><a href="/lesson1/jihua.aspx">学习计划</a></dd>
                    <dd><a href="/knowledge/">文章中心</a></dd>
                    <dd><a href="http://www.jcpeixun.com/xiazai/">技成下载库</a></dd>
                    <dd style="width:100px;"><a href="http://www.jcpeixun.com/lesson1/tear_user.aspx">助教老师邀请通道</a> </dd>
                </dl>
                <dl class="fg-item">
                    <dt class="h30 lh30 b f14">帮助中心</dt>
                    <dd><a href="http://www.jcpeixun.com/lesson1/guide.aspx">新手上路</a></dd>
                    <dd><a href="http://www.jcpeixun.com/help/help36.aspx">积分获取、规则</a></dd>
                    <dd><a href="http://www.jcpeixun.com/help/help12.aspx" target="_blank">升级与购买</a></dd>
                    <dd><a href="http://www.jcpeixun.com/help/help25.aspx" target="_blank">购买白金学员</a></dd>
                    <dd><a href="http://www.jcpeixun.com/help/help22.aspx" target="_blank">购买金牌学员</a></dd>
                </dl>
                <dl class="fg-item">
                    <dt class="h30 lh30 b f14">关于技成</dt>
                    <dd><a href="http://www.jcpeixun.com/AboutUs.aspx">了解技成</a></dd>
                    <dd><a href="http://www.jcpeixun.com/contact.aspx">联系我们</a></dd>
                    <dd><a href="http://www.jcpeixun.com/zhaopin.aspx">加入我们</a></dd>
                    <dd><a href="http://www.jcpeixun.com/lesson1/tear_info.aspx">助教老师</a></dd>
                    <dd><a href="http://exam.jcpeixun.com/jcexam/certificateprofile.aspx">证书查询</a></dd>
                </dl>
                <dl class="fg-item">
                    <dt class="h30 lh30 b f14">客户端</dt>
                    <dd><a href="http://www.jcpeixun.com/player_page/play_show.html?adfrom=old">技成播放器</a></dd>
                    <dd><a href="http://www.jcpeixun.com/appDownload/app_page.html">技成手机APP</a></dd>
                    <dd><a href="http://weibo.com/jcpx">新浪微博</a></dd>
                    <dd><a href="http://bbs.jcpeixun.com/thread-39246-1-1.html">官方微信</a></dd>
                </dl>
                <dl class="fg-item" style="border-right:0; padding-right:0;">
                    <dt class="h30 lh30 f14">合作服务</dt>
                    <dd><a href="http://www.jcpeixun.com/help/help21.aspx">个人服务</a></dd>
                    <dd><a href="/lesson1/weipei.aspx">企业服务</a></dd>
                    <dd><a href="/lesson1/weipei.aspx">院校服务</a></dd>
                </dl>
            </div>
            <!--footer-guide-->
            <!--copyright-->
            <!--         <div class="copyright">
            <div class="inner">
                <div class="w250 r tr mt15">
                    <a class="mr10" href="http://www.anquan.org/" target="_blank"><img src="/lesson1/img/copyright/aqlm.jpg" width="66" height="24" alt="安全联盟行业验证"></a>
                    <a class="mr10" href="http://xinyu.baidu.com/" target="_blank"><img src="/lesson1/img/copyright/bdxy.jpg" width="66" height="24" alt="百度信誉放心访问"></a>
                    <a class="mr10" href="http://kexin.knet.cn/column_1/column_1_2/" target="_blank"><img src="/lesson1/img/copyright/kxwz.jpg" width="66" height="24" alt="可信网站身份验证"></a>
                </div>
                <p class="gray9">©深圳市技成科技有限公司 - 课程内容版权均归技成培训网所有  粤ICP备11069432号</p>
                <p class="">广东省 深圳市 专业技术人员继续教育网络学习平台<br>联合运营单位：深圳市工程师联合会</p>
            </div>
        </div> -->
            <!--copyright-->
        </div>
        <div class="aside-bar fixed-top">
            <ul class="aside-bar-inner">
                <li class="aside-bar-item" data-role="collapsible">
                    <a class="aside-bar-link">
                        <p class="iconfont f30 n">
                            &#xe633;</p>
                        <p class="txt">
                            公众账号</p>
                    </a>
                    <div class="aside-bar-cont">
                        <p class="f13 gray6 tc">
                            扫描二维码
                            <br> 关注技成微信公众账号
                        </p>
                        <p>
                            <img src="/lesson1/img/pic/qr.jpg" width="130" height="130" alt="技成微信公众账号"></p>
                    </div>
                </li>
                <li class="aside-bar-item" data-role="collapsible">
                    <a class="aside-bar-link">
                        <p class="iconfont f30 n">
                            &#xe630;</p>
                        <p class="txt">
                            学习交流</p>
                    </a>
                    <div class="aside-bar-cont">
                        <p class="f14 gray6 tc">
                            技成学员交流总群</p>
                        <p class="f14">
                            125群：154017892</p>
                        <p class="link-blue">
                            <a href="http://shang.qq.com/wpa/qunwpa?idkey=2eee53569300abbcfb8b8a6cab6f7374da37ddcbe5fc37e5015bdec61dbb30fe" target="_blank">进群交流</a></p>
                    </div>
                </li>
                <li class="aside-bar-item" data-role="collapsible">
                    <a class="aside-bar-link">
                        <p class="iconfont f30 n">
                            &#xe63f;</p>
                        <p class="txt">
                            留言反馈</p>
                    </a>
                    <div class="aside-bar-cont msg-board">
                        <p class="f16 h40 lh40 gray6 tl">
                            欢迎给我们留言</p>
                        <form id="mesform" role="form" method="post" action="">
                            <textarea class="form-area w220" rows="3" id="txtMgs" name="content" placeholder="您有什么问题？可以给我们留言，我们竭尽全力为您解决！"></textarea>
                            <input type="text" class="form-txt h20 lh20 w220 mt10" id="txtMobile" name="phone" placeholder="请输入手机号码，方便为你答疑">
                            <input type="submit" value="提交" href="javascript:;" id="btn-message" class="btn btn-blue1 btn-auto w130 mc h30 f16 mt10 btn-radius btn-message" style="line-height:30px;">
                        </form>
                    </div>
                </li>
                <li class="aside-bar-item" data-role="collapsible">
                    <a class="aside-bar-link">
                        <p class="iconfont f30 n">
                            &#xe63c;</p>
                        <p class="txt">
                            APP下载</p>
                    </a>
                    <div class="aside-bar-cont">
                        <p class="f13 gray6 tc">
                            扫描二维码下载到手机</p>
                        <p>
                            <img src="/lesson1/img/pic/qr.png" width="130" height="130" alt="技成微信公众账号"></p>
                    </div>
                </li>
                <li class="aside-bar-item">
                    <a class="aside-bar-link" href="#top" target="_self">
                        <p class="iconfont f30 n">
                            &#xe625;</p>
                        <p class="txt">
                            返回顶部</p>
                    </a>
                </li>
            </ul>
        </div>
        <script type="text/jscript">
        var txtMgs;
        var txtMobile
        $(".msg-board").on("click", "#btn-message", function() {

            txtMgs = $("#txtMgs").val();
            txtMobile = $("#txtMobile").val();
            if (!(/^(13[0-9]|15[0-9]|17[0-9]|18[0-9])\d{8}$/).test(txtMobile)) {
                alert("请输入正确的手机号码");
                d.show(document.getElementById('txtMobile'));
                $("#txtMobile").focus();
            } else {
                $.post("http://www.jcpeixun.com/ashx/studentsound/CreateMsg.ashx", $("#mesform").serialize())
                    .done(function(d) {
                        if (d == "留言内容过长") {
                            alert("您的留言内容过长");
                            d.show(document.getElementById('txtMgs'));
                            $("#txtMgs").focus();
                        } else {

                            alert("留言成功!如紧急,请拨免费咨询:400-111-4100");
                            d.show(document.getElementById('btn-message'));
                        }

                    });
            }
        });
        </script>
        <script>
        (function() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://images.jcpeixun.com/static/js/tongji.js?a=201601';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
        </script>
        <!-- WPA Button Begin -->
        <!-- WPA Button End -->
        <!--footer-->
    </div>
</body>

</html>