                                                <script type="text/javascript" src="<?php echo base_url('index/include/jquery-1.8.2.min.js'); ?>"></script>

<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
       <style type="text/css">
          .job-block {
    margin-bottom: 45px;
}
.job-block h2 {
    font-size: 15px;
    color: #303538;
    margin: 1em 0;
}
.job-block ol {
    line-height: 30px;
}
.others ol {
    padding-left: 10px;
}
.space-side {
    margin: 0 20px 20px;
    color: #60686b;
}
.btn-green:link, .btn-green:visited {
    color: #ffffff;
}
.btn-green {
    color: #ffffff;
    background-color: #188EEE;
    border-color: #188EEE;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    -weibkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 138px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}
.btn:hover {
    background-color: #188EEE!important;
  }

       </style>     
<div class="others">
    <h1>讲师招募</h1>
    <div class="space-side">
      <p>想试水尝尝网络讲师的滋味？快加入讲师队伍吧！</p>
      <div class="job-block">
          <h2>我们希望你：</h2>
          <ol>
            <li>-&nbsp;热衷分享；</li>
            <li>-&nbsp;有3年以上的大型项目开发经验；</li>
            <li>-&nbsp;至少精通前端开发技术、Html5（游戏）、PHP、3G开发、JAVA、Python、cocos2d-x、Unity 3D开发技术中的一项；</li>
          </ol>
          <h2>你的收获：</h2>
          <ol>
            <li>-&nbsp;额外收入；</li>
            <li>-&nbsp;技术的沉淀与分享；</li>
            <li>-&nbsp;迅速增长的粉丝及业内知名度；</li>
          </ol>
	      <br>
                            <a target="_blank" class="btn btn-green" id="join_us">立即加入</a>

<script type="text/javascript">
              $("#join_us").click(function() {
                $.ajax({
                    type: 'GET',
                    url: "../join/apply",
                    // data: 'data=' + JSON.stringify(data),
                    success: function(result) {
                        if (result == -1) {
                            alert('请先登陆！');
                            location.href = "http://www.qfdlqz.com/login";
                        }else if(result == -2){
                          alert('请先填写您的详细资料！');
                           location.href = "http://www.qfdlqz.com/center/mydata";
                        }else if(result == -3){
                          alert('您已经是讲师中的一员！');
                        }else{
                           location.href = "http://www.qfdlqz.com/join";
                        }
                    }
                });
            });
</script>
      </div>
    </div>
</div>

          </div>
        </div>
    </div>