<div class="other-right ">
    <div class="other-right-wrap">
        <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
        <div id="pjax-container">
            <style type="text/css">
            .friend-links {
                padding: 0 20px;
            }
            
            .friend-links {
                line-height: 60px;
            }
            
            .friend-links dl {
                padding: 0 10px;
            }
            
            .friend-links dd {
                font-size: 12px;
                width: 190px;
            }
            
            .friend-links dd {
                float: left;
            }
            </style>
            <div class="others">
                <h1>友情链接</h1>
                <div class="clearfix friend-links">
                    <dl>
                        <?php foreach($link as $links) : ?>
                            <dd>
                                <a href="<?php echo $links['url'] ?>" target="_blank" title="360导航">
                                    <?php echo $links['name'] ?>
                                </a>
                            </dd>
                            <?php  endforeach; ?>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
