<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>现场培训-儒风国培训网-自动化专业在线培训的首选工控网平台-视频教程下载</title>
    <meta name="description" content="儒风国自动化培训网课程中心，提供最新最全的专业自动化课程培训视频，提供长期在线答疑辅导服务,确保儒风国学员学以致用。" />
    <meta name="keywords" content="西门子S7-200,S7-300,三菱PLC视频,变频器视频 欧姆龙视频教程,工控教程,PLC培训，plc教程视频" />
    <link rel="stylesheet" href="<?php echo base_url('index/lesson1/css/reset.css') ?>">
    <link rel="stylesheet" href="<?php echo base_url('index/lesson1/css/font/iconfont.css') ?>">
    <link rel="stylesheet" href="<?php echo base_url('index/lesson1/css/basic.css') ?>">
    <link rel="stylesheet" href="<?php echo base_url('index/lesson1/css/style.css') ?>">
    <link rel="stylesheet" href="<?php echo base_url('index/css/other.css') ?>">
    <script type="text/javascript" src="<?php echo base_url('index/include/jquery-1.8.2.min.js'); ?>"></script>
    <!--日常特效插件-->
    <!--日常特效插件-->
</head>

<body>
    <div class="wrap">
        <!--header-->
        <script>
        window.enable_ad_stat_ord = true; //表示本页面启用订单来源统计
        </script>
        <div class="con-wrap con-wrap1">
            <div class="container con1">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="header-top clearfix">
                            <div class="header-top-left">
                                <a href="javascript:;" id="btn-addToFav" class="btn-link btn-link6">收藏儒风国</a>
                                <!-- <a href="http://www.rfgxy.com/v4/" class="btn-link btn-link6 ml15">回到旧版</a> -->
                            </div>
                            <div class="header-top-right clearfix">
                                <!DOCTYPE html>
                                <?php if (empty($_SESSION['username'])): ?>
                                <ul class="l m0" id="login_top_nologin">
                                    <li>
                                        <div><a href="http://www.rfgxy.com/login" class="btn-link btn-link6">[请登录]</a></div>
                                    </li>
                                    <li>
                                        <div><a href="http://www.rfgxy.com/register" class="btn-link btn-link6">[免费注册]</a></div>
                                    </li>
                                </ul>
                                <?php else : ?>
                                <ul class="l m0" id="login_top_logined">
                                    <li>
                                        <b class="cgray6"><?php echo $_SESSION['username']; ?></b>
                                        <span class="fw" style="color:#188eee">[普通会员]</span>，
                                        <span class="cgray6">欢迎来儒风国培训！</span><a href="http://www.rfgxy.com/logout" class="btn-link btn-link9">[退出]</a>
                                    </li>
                                    <li>
                                        <div><a href="http://www.rfgxy.com/center/mydata?label=jiben" target="_blank" class="btn-link btn-link6">个人中心</a></div>
                                    </li>
                                </ul>
                                <?php endif; ?>
                                <ul class="l m0">
                                    <!--
                                <li><div><a href="http://my.rfgxy.com/" target="_blank" class="btn-link btn-link6">学员中心</a></div></li>
                                -->
                                    <li>
                                        <div><a href="http://www.rfgxy.com/lesson1/guide.aspx" target="_blank" class="btn-link btn-link6" style="color:Red;">新手攻略</a></div>
                                    </li>
                                    <li>
                                        <div><a href="http://www.rfgxy.com/about/us" target="_blank" class="btn-link btn-link6">网站导航</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="inner clearfix">
                <a class="logo mr20" href="/"><img src="./index/logo/logo.png" width="250" height="66" alt="儒风国培训"></a>
                <!--位置导航-->
                <div class="guide-nav mr20">
                    <li>
                        <a class="nav-link" href="http://www.rfgxy.com">首页</a>
                    </li>
                    <li>
                        <span class="fs pr10 pl10">&gt;</span>
                        <strong class="gray3">选课中心</strong>
                    </li>
                </div>
                <!--位置导航-->
                <!--搜索框-->
                <div class="h-search mr20">
                    <div class="search-input search-area">
                        <input type="text" name="txtSearch" class="txt-search1" id="txtSearch" placeholder="搜索课程" />
                    </div>
                    <a href="javascript:;" class="search-btn searchsubmit btn-search1" id="btn-search1" onfocus="this.blur();">
                        <i class="iconfont f20 icon Hui-iconfont">&#xe665;</i></a>
                </div>
                <!--搜索框-->
                <script type="text/javascript">
                /*  搜索    */
                var
                    $searchArea = $(".search-area"),
                    $txtSearch = $("#txtSearch"),
                    $btnSsearch1 = $("#btn-search1"),

                    s = "17323522629653896619",
                    searchTypes = {
                        "all": function(arg1) {
                            return "http://zhannei.baidu.com/cse/search?q=" + arg1 + "&s=" + s;
                        },
                        "course": function(arg1) {
                            return "http://www.rfgxy.com/lesson/lessonSearch?q=" + escape(arg1);
                        },
                        "video_course": function(arg1) {
                            return "http://www.rfgxy.com/lesson/lessonSearch?q=" + escape(arg1);
                        },
                        "case_course": function(arg1) {
                            return "http://www.rfgxy.com/lesson/lessonSearch?q=" + escape(arg1) + "&course=%u6848%u4F8B%u8BFE%u7A0B";
                        },
                        "down": function(arg1) {
                            return "http://zhannei.baidu.com/cse/search?q=" + arg1 + "&s=" + s + "&nsid=2";
                        }
                    },
                    searchValidate = function() {
                        var
                            txtSearch = $txtSearch.val();
                        if (!txtSearch) {
                            $txtSearch.val("请输入课程").focus();
                        } else if (!$.trim(txtSearch).indexOf("请输入课程")) {
                            $txtSearch.val("请输入课程").focus();
                        } else {
                            var
                                search_type_on = "all",
                                search_text = $txtSearch.val(),
                                cur_location = window.location.href;
                            if (!cur_location.indexOf("http://www.rfgxy.com/xiazai/")) {
                                search_type_on = "down";
                            };
                            window.location.href = searchTypes[search_type_on](search_text);
                        }
                    };
                $searchArea.on({
                    "mouseover": function() {
                        var
                            txtSearch = $txtSearch.val();
                        if ($.trim(txtSearch) == "请输入课程") {
                            $txtSearch.val("");
                        }
                        $txtSearch.focus();
                    }
                });
                $txtSearch.on({
                    "keydown": function(event) {
                        if (event.which == 13) {
                            searchValidate();
                        }
                    }
                });
                $btnSsearch1.on({
                    "click": function() {
                        searchValidate();
                    }
                });
                </script>
                <div class="h-user">
                    <!--已登录-->
                    <div class="user-center">
                        <!--用户菜单-->
                        <!--                <div class="user-wrap" data-role="collapsible">
                    <div class="user-head">
                        <a class="user-head-inner" href="http://my.jcpeixun.com/">
                            <img src="/lesson1/_temp/stu.jpg" width="32" height="32"></a>
                        <i class="caret"></i>
                    </div>
                    <div class="user-cont">
                        <div class="user-info">
                            普通会员<span class="gray9 f12">(0001-01-01到期)</span> <a class="f12" href="http://u.jcpeixun.com/member/">
                                续费</a></div>
                        <div class="user-menu">
                            <a href="http://my.jcpeixun.com/">学员中心</a> <a href="http://my.jcpeixun.com/messager/list.aspx">
                                我的消息<span></span></a> <a href="http://my.jcpeixun.com/study/FreeLesson.aspx" target="_blank">
                                    我的课程</a> <a href="http://my.jcpeixun.com/orderLesson/order.aspx" target="_blank">我的订单</a>
                            <a href="http://my.jcpeixun.com/study/favorite.aspx" target="_blank">我的收藏</a> <a
                                href="http://my.jcpeixun.com/study/NewLesson.aspx" target="_blank">新课上架</a>
                            <a href="http://www.rfgxy.com/userreg.aspx?u=20130925003" class="btn-link btn-link9"
                                target="_blank">赚学费</a> <a href="http://my.jcpeixun.com/orderLesson/coupon.aspx"
                                    class="btn-link btn-link9" target="_blank">优惠券</a> 
                                      <a href="/lesson1/person_xufei.aspx"
                                        class="fw" style="background: url(http://images.jcpeixun.com/bg_20130926001.gif) no-repeat scroll 60px 0px transparent;">会员续费</a> 
                                          <a href="http://u.jcpeixun.com/member/"
                                        class="fw" style="background: url(http://images.jcpeixun.com/bg_20130926001.gif) no-repeat scroll 60px 0px transparent;">购买会员</a>
                                    <a href="http://www.rfgxy.com/logout.aspx?callback=http://www.rfgxy.com/lesson1/scene.aspx"
                                        class="fw">退出</a>
                        </div>
                    </div>
                </div> -->
                        <!--用户菜单-->
                        <!--购物车-->
                        <!--                 <div class="user-shop" data-role="collapsible">
                    <a class="shop-btn" href="http://www.rfgxy.com/emailregister.aspx">用户注册</a>
              
            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--header-->
        <!--slide-->
        <!--# include file="inc/slide.aspx" -->
        <!--slide-->
        <!--container-->
        <div id="main">
            <div class="container clearfix">
                <ul class="other-left l">
                    <li class="<?php echo $selected['us'] ?>">
                        <a href="/about/us"><span>关于我们</span></a>
                    </li>
                    <li class="<?php echo $selected['group'] ?>">
                        <a href="/about/group"><span>团队介绍</span></a>
                    </li>
                    <li class="<?php echo $selected['job'] ?>">
                        <a href="/about/job"><span>人才招聘</span></a>
                    </li>
                    <li class="<?php echo $selected['recruit'] ?>">
                        <a href="/about/recruit"><span>讲师招募</span></a>
                    </li>
                    <li class="<?php echo $selected['contact'] ?>">
                        <a href="/about/contact"><span>联系我们</span></a>
                    </li>
                    <li class="<?php echo $selected['faq'] ?>">
                        <a no-pjajx="" href="/about/faq"><span>常见问题</span></a>
                    </li>
                    <li class="<?php echo $selected['feedback'] ?>">
                        <a no-pjajx="" href="/about/feedback"><span>意见反馈</span></a>
                    </li>
                    <li class="<?php echo $selected['friendly'] ?>">
                        <a no-pjajx="" href="/about/friendly"><span>友情链接</span></a>
                    </li>
                </ul>
