<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
            <style type="text/css">
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.faq li h3 {
    font-size: 18px;
    color: #f01400;
    cursor: pointer;
    background: url(../img/faq/icon_open.png) no-repeat right center;
}
.faq li.curr h3 {
    color: #f01400;
    background-image: url(../img/faq/icon_close.png);
}

              .faq li {
    padding: 25px 0;
    border-bottom: 1px solid #eceff0;
}

.faq li.curr .faq-info {
    display: block;
}
.faq li .faq-info {
    padding-top: 25px;
}
.faq li .faq-info h4 {
    font-size: 16px;
}
.faq li .faq-info p {
    margin: 10px 0 20px;
    line-height: 200%;
}
            </style>
<div class="others faq">
  <h1>常见问题</h1>
  
  <ul>
    <li class="">
        <h3>视频播放异常常见问题</h3>
        <div class="faq-info">
          <h4>视频有声音无图像：</h4>
          <p>
            此问题一般是处在flash播放模式下。解决方法：播放页右键→设置，弹出的窗口中去掉启用硬件加速
          </p>
          <h4>视频播放中，无法播放或播放时发生异常跳转：</h4>
          <p>
            若是使用海外线路或港澳台用户，暂时无法解决；国内线路，非网络问题，请清除缓存后再刷新；<br>
            1，网络正常，本网站所有视频看不了，其他视频正常！<br>
            　&nbsp;&nbsp;解决方法：联系网络管理员，确认是否网关设备对部分关键字进行了屏蔽（如swf/flv/mp4）<br>
            2，网络正常，也没有屏蔽措施。访问该链接查看dns设置是否正常    <a href="http://tools.cloudxns.net/index.php/Index/Diag" target="_blank">http://tools.cloudxns.net/index.php/Index/Diag</a><br>
    　&nbsp;&nbsp;如果提示dns异常，可将dns设置为 114.114.114.114或8.8.8.8<br>
    　&nbsp;&nbsp;如果dns正常，可以访问以下链接，以检查是否可以正常访问到视频cdn    <a href="http://tool.alikunlun.com/doc.html" target="_blank">http://tool.alikunlun.com/doc.html</a>
          </p>
          <p>
            <span>如仍无法解决，请发送意见反馈。或加入视频播放异常反馈群(<a href="http://shang.qq.com/wpa/qunwpa?idkey=668ee1e298ac42ed9a76b532b6f8d1afdb2251c6cf55a88f57631c1ac05ca98d" target="_blank">230569067</a>)</span>
          </p>
          
        </div>
    </li>
    <li class="curr">
        <h3>未收到邮件的处理方法</h3>
        <div class="faq-info">
          <h4>未收到激活邮件的处理方法：</h4>
          <p>1，查看邮箱中的“垃圾邮件”或”订阅邮件”，也可能直接被系统拦截;<br>
              2，在个人资料设置”邮箱验证“页面重新点击【发送验证邮件】;<br>
              3，如果还是没有收到激活信，需要您使用其他邮箱，重新注册。
          </p>
          <h4>未收到重置密码邮件的处理方法：</h4>
          <p>
              1，查看邮箱中的“垃圾邮件”或”订阅邮件”，也可能直接被系统拦截;<br>
              2，在登录/注册”忘记密码“页面尝试重新【提交】;
          </p>
          <p>
            <span>QQ邮箱拦截邮件的查找：（其他邮箱都有类似设置，把慕课网添加到白名单即可）</span>
          </p>
          
        </div>
    </li>
  </ul>

</div>


          </div>
        </div>
    </div>