<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
            
<div class="others">
   <h1 class="contact-title">联系我们</h1>
   <ul class="other-contact clearfix">
      <li>
         <h1>讲师招募</h1>
         <h2>邹同学</h2>
         <p>
            QQ：3305427179<br>
            E-mail：daisy@imooc.com
         </p>
      </li>
      <li class="contact-right">
         <h1>文章投稿</h1>
         <h2>张同学</h2>
         <p>
            E-mail：zhangqy@imooc.com
         </p>
      </li>
      <li>
         <h1>人才招聘</h1>
         <h2>闫同学</h2>
         <p>
            QQ：708883600 <br>
            E-mail：hr@imooc.com
         </p>
      </li>
      <li class="contact-right">
         <h1>网站合作</h1>
         <h2>郭同学</h2>
         <p>
            QQ：413058038 <br>
            E-mail：guotao@imooc.com
         </p>
      </li>
      <li>
         <h1>高校合作</h1>
         <h2>
            <a target="_blank" href="http://daxue.imooc.com">点击进入</a>
         </h2>
      </li>
      <li class="contact-right">
         <h1>公司地址</h1>
         <h2>北京市西城区德外大街10号</h2>
         <p style="padding-bottom:61px;">&nbsp;</p>
      </li>
   </ul>

</div>

          </div>
        </div>
    </div>