<div class="ucenter-right cf">
    <div class="mycourse-block">
        <div class="mycourse-tab-tit">
            <ul class="cf mycourse-tab-ul">
                <li class="active" id="pass"><a href="javascript:;" jktag="&amp;posOper=62012&amp;posArea=0003">我的课程</a></li>
                <li class="" id="checking"><a href="javascript:;" jktag="&amp;posOper=62012&amp;posArea=0003">审核中</a></li>
                <li class="" id="not_pass"><a href="javascript:;" jktag="&amp;posOper=62012&amp;posArea=0003">审核未通过</a></li>
            </ul>
        </div>
        <script type="text/javascript">
        $("#pass").click(function() {
            $('#pass').addClass("active");
            $('#checking').removeClass("active");
            $('#not_pass').removeClass("active");
            $('#tab1').css('display', 'block');
            $('#tab2').css('display', 'none');
            $('#tab3').css('display', 'none');
        });
        $("#checking").click(function() {
            $('#pass').removeClass("active");
            $('#checking').addClass("active");
            $('#not_pass').removeClass("active");
            $('#tab1').css('display', 'none');
            $('#tab2').css('display', 'block');
            $('#tab3').css('display', 'none');
        });
        $("#not_pass").click(function() {
            $('#pass').removeClass("active");
            $('#checking').removeClass("active");
            $('#not_pass').addClass("active");
            $('#tab1').css('display', 'none');
            $('#tab2').css('display', 'none');
            $('#tab3').css('display', 'block');
        });
        </script>
        <div class="mycourse-tab-body lesson-list" id="tab1">
            <?php if (!empty($pass)): ?>
            <ul class="cf" id="home_my_fav">
                <?php foreach ($pass as $row) :?>
                <li id="<?php echo $row['course_id']; ?>" test="0" deg="360" stop="1">
                    <div class="lessonimg-box">
                        <i class="user-action lesson-shoucang " style="display: none;" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64013&amp;aCId=127&amp;posColumn=127.3"></i>
                        <!-- <i class="free-icon"></i> -->
                        <a href="http://www.qfdlqz.com/course/showcourse/<?php echo $row['course_id'] ?>" target="_blank" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64014&amp;aCId=127&amp;posColumn=127.3">
                            <img src="<?php echo $row['img_path']; ?>" class="lessonimg" title="<?php echo $row['course_name']; ?>" alt="<?php echo $row['course_name']; ?>">
                            <div class="lessonplay" style="opacity: 0;">
                                <div class="cricle">
                                    <div class="mask" style="display: none;"></div>
                                    <div class="left" style="transform: rotate(360deg);">
                                        <div class="bg"></div>
                                    </div>
                                    <div class="cright" style="display: block;">
                                        <div class="bg"></div>
                                    </div>
                                    <div class="text">100%</div>
                                </div>
                            </div>
                        </a>
                        <div class="jd-line" style="display: block;">
                            <div class="green-line" style="width:238px"></div>
                        </div>
                    </div>
                    <div class="lesson-infor" style="height: 88px;">
                        <h2 class="lesson-info-h2"><a href="http://www.jikexueyuan.com/course/127.html" target="_blank" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64014&amp;aCId=127&amp;posColumn=127.3"><?php echo $row['course_name']; ?></a></h2>
                        <div class="timeandicon">
                            <div class="cf">
                                <dl>
                                    <dd class="mar-b8"><i class="hand Hui-iconfont">&#xe702;收藏：</i><em><?php echo $row['collects'] ?>人</em>
                                    </dd>
                                    <dd class="zhongji" style="display: none;">
                                        <i class="xinhao-icon"></i><em><?php echo $row['course_level']; ?></em>
                                    </dd>
                                </dl>
                            </div>
                            <div class="cf">
                                <div class="lessonicon-box" style="bottom: 4px;">
                                    <i class="<?php if($row['course_level'] == '初级'){
                                        echo 'xinhao-icon';
                                        }elseif ($row['course_level'] == '中级') {
                                            echo 'xinhao-icon2';
                                        }elseif ($row['course_level'] == '高级') {
                                            echo 'xinhao-icon3';
                                        } ?>"></i><em><?php echo $row['course_level']; ?></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <?php endforeach;?>
            </ul>
            <?php else: ?>
            <ul class="cf" id="home_my_fav">
                <div class="mar-t30 no-contnet-block">
                    <div class="no-contnet-box cf">
                        <div class="no-content-img">
                            <img src="http://s1.jikexueyuan.com/member/images/no-content_8a46981.png">
                        </div>
                        <div class="no-content-h3">
                            <p class="no-content-textbig">暂时没有课程！</p>
                            <p class="no-content-text">点击添加课程，即可添加课程！</p>
                        </div>
                    </div>
                </div>
            </ul>
            <?php endif; ?>
        </div>
        <div class="mycourse-tab-body lesson-list" id="tab3" style="display:none;">
            <?php if (!empty($not_pass)): ?>
            <ul class="cf" id="home_my_fav">
                <?php foreach ($not_pass as $row) :?>
                <li id="<?php echo $row['course_id']; ?>" test="0" deg="360" stop="1">
                    <div class="lessonimg-box">
                        <i class="user-action lesson-shoucang " style="display: none;" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64013&amp;aCId=127&amp;posColumn=127.3"></i>
                        <!-- <i class="free-icon"></i> -->
                        <a href="javascript:;" target="_blank" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64014&amp;aCId=127&amp;posColumn=127.3">
                            <img src="<?php echo $row['img_path']; ?>" class="lessonimg" title="<?php echo $row['course_name']; ?>" alt="<?php echo $row['course_name']; ?>">
                            <div class="lessonplay" style="opacity: 0;">
                                <div class="cricle">
                                    <div class="mask" style="display: none;"></div>
                                    <div class="left" style="transform: rotate(360deg);">
                                        <div class="bg"></div>
                                    </div>
                                    <div class="cright" style="display: block;">
                                        <div class="bg"></div>
                                    </div>
                                    <div class="text">100%</div>
                                </div>
                            </div>
                        </a>
                        <div class="jd-line" style="display: block;">
                            <div class="green-line" style="width:238px"></div>
                        </div>
                    </div>
                    <div class="lesson-infor" style="height: 88px;">
                        <h2 class="lesson-info-h2"><a href="http://www.jikexueyuan.com/course/127.html" target="_blank" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64014&amp;aCId=127&amp;posColumn=127.3"><?php echo $row['course_name']; ?></a></h2>
                        <div class="timeandicon">
                            <div class="cf">
                                <dl>
                                    <dd class="mar-b8"><i class="hand">状态：</i><em>审核未通过</em>
                                    </dd>
                                    <dd class="zhongji" style="display: none;">
                                        <i class="xinhao-icon"></i><em><?php echo $row['course_level']; ?></em>
                                    </dd>
                                </dl>
                            </div>
                            <div class="cf">
                                <div class="lessonicon-box" style="bottom: 4px;">
                                    <i class="<?php if($row['course_level'] == '初级'){
                                        echo 'xinhao-icon';
                                        }elseif ($row['course_level'] == '中级') {
                                            echo 'xinhao-icon2';
                                        }elseif ($row['course_level'] == '高级') {
                                            echo 'xinhao-icon3';
                                        } ?>"></i><em><?php echo $row['course_level']; ?></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <?php endforeach;?>
            </ul>
        </div>
        <?php else: ?>
        <ul class="cf" id="home_my_fav">
            <div class="mar-t30 no-contnet-block">
                <div class="no-contnet-box cf">
                    <div class="no-content-img">
                        <img src="http://s1.jikexueyuan.com/member/images/no-content_8a46981.png">
                    </div>
                    <div class="no-content-h3">
                            <p class="no-content-textbig">暂时没有课程！</p>
                            <p class="no-content-text">点击添加课程，即可添加课程！</p>
                    </div>
                </div>
            </div>
        </ul>
        <?php endif; ?>
    </div>
    <div class="mycourse-tab-body lesson-list" id="tab2" style="display:none;">
        <?php if (!empty($checking)): ?>
        <ul class="cf" id="home_my_fav">
            <?php foreach ($checking as $row) :?>
                <li id="<?php echo $row['course_id']; ?>" test="0" deg="360" stop="1">
                    <div class="lessonimg-box">
                        <i class="user-action lesson-shoucang " style="display: none;" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64013&amp;aCId=127&amp;posColumn=127.3"></i>
                        <!-- <i class="free-icon"></i> -->
                        <a href="javascript:;" target="_blank" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64014&amp;aCId=127&amp;posColumn=127.3">
                            <img src="<?php echo $row['img_path']; ?>" class="lessonimg" title="<?php echo $row['course_name']; ?>" alt="<?php echo $row['course_name']; ?>">
                            <div class="lessonplay" style="opacity: 0;">
                                <div class="cricle">
                                    <div class="mask" style="display: none;"></div>
                                    <div class="left" style="transform: rotate(360deg);">
                                        <div class="bg"></div>
                                    </div>
                                    <div class="cright" style="display: block;">
                                        <div class="bg"></div>
                                    </div>
                                    <div class="text">100%</div>
                                </div>
                            </div>
                        </a>
                        <div class="jd-line" style="display: block;">
                            <div class="green-line" style="width:238px"></div>
                        </div>
                    </div>
                    <div class="lesson-infor" style="height: 88px;">
                        <h2 class="lesson-info-h2"><a href="http://www.jikexueyuan.com/course/127.html" target="_blank" jktag="&amp;posGP=103001&amp;posArea=0003&amp;posOper=64014&amp;aCId=127&amp;posColumn=127.3"><?php echo $row['course_name']; ?></a></h2>
                        <div class="timeandicon">
                            <div class="cf">
                                <dl>
                                    <dd class="mar-b8"><i class="hand">状态：</i><em>审核中</em>
                                    </dd>
                                    <dd class="zhongji" style="display: none;">
                                        <i class="xinhao-icon2"></i><em><?php echo $row['course_level']; ?></em>
                                    </dd>
                                </dl>
                                <em class="learn-number" style="display: none;">100511人学习</em>
                            </div>
                            <div class="cf">
                                <div class="lessonicon-box" style="bottom: 4px;">
                                    <i class="<?php if($row['course_level'] == '初级'){
                                        echo 'xinhao-icon';
                                        }elseif ($row['course_level'] == '中级') {
                                            echo 'xinhao-icon2';
                                        }elseif ($row['course_level'] == '高级') {
                                            echo 'xinhao-icon3';
                                        } ?>"></i><em><?php echo $row['course_level']; ?></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach;?>
        </ul>
    </div>
    <?php else: ?>
    <ul class="cf" id="home_my_fav">
        <div class="mar-t30 no-contnet-block">
            <div class="no-contnet-box cf">
                <div class="no-content-img">
                    <img src="http://s1.jikexueyuan.com/member/images/no-content_8a46981.png">
                </div>
                <div class="no-content-h3">
                            <p class="no-content-textbig">暂时没有课程！</p>
                            <p class="no-content-text">点击添加课程，即可添加课程！</p>
                </div>
            </div>
        </div>
    </ul>
    <?php endif; ?>
</div>
<div class="mycourse-page">
    <div id="page-nav"></div>
</div>
</div>
</div>
</div>
</div>
