</div>
</div>
<!--footer-->
<div class="footer mt20">
    <!--footer-guide-->
    <div class="foot-guide inner clearfix" style="width:900px">
        <dl class="fg-item2">
            <dt class="h30 lh30 b f14">精品课程</dt>
            <dd class="clearfix">
                <a class="w140" href="/lesson1/search-list.aspx?keyword=三菱">三菱视频教程</a>
                <a class="w80" href="/lesson1/search-list.aspx?keyword=电工">电工</a>
                <a class="w140" href="/lesson1/search-list.aspx?keyword=案例课程">案例课程</a>
                <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子">西门子视频教程</a>
                <a class="w80" href="/lesson1/search-list.aspx?keyword=数控">数控</a>
                <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子S7-200">西门子S7-200</a>
                <a class="w140" href="/lesson1/search-list.aspx?keyword=指令详解">指令详解</a>
                <a class="w80" href="/lesson1/search-list.aspx?keyword=组态王">组态王</a>
                <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子S7-300">西门子S7-300</a>
                <a class="w140" href="/lesson1/search-list.aspx?keyword=变频器">变频器</a>
                <a class="w80" href="/lesson1/search-list.aspx?keyword=PID">PID</a>
                <a class="w140" href="/lesson1/search-list.aspx?keyword=伺服">伺服</a>
            </dd>
        </dl>
        <dl class="fg-item">
            <dt class="h30 lh30 b f14">关于鼎立启智教育网学</dt>
            <dd><a href="http://www.qfdlqz.com/about/us">关于我们</a></dd>
            <dd><a href="http://www.qfdlqz.com/about/group">团队介绍</a></dd>
            <dd><a href="http://www.qfdlqz.com/about/faq">常见问题</a></dd>
            <dd><a href="http://www.qfdlqz.com/about/feedback">意见反馈</a></dd>
        </dl>
        <dl class="fg-item" style="border-right:0; padding-right:0;">
            <dt class="h30 lh30 f14" style="font-weight: bold;">合作服务</dt>
            <dd><a href="http://www.qfdlqz.com/about/job">人才招聘</a></dd>
            <dd><a href="http://www.qfdlqz.com/about/recruit">讲师招募</a></dd>
            <dd><a href="http://www.qfdlqz.com/about/friendly">友情链接</a></dd>
            <dd><a href="http://www.qfdlqz.com/about/contact">联系我们</a></dd>
        </dl>
        <div class="sns">
            <a>
                <div class="weixin">
                    <p class="code" id="code">
                        <img src="http://www.qfdlqz.com/index/logo/erweima.jpg" width="150px" height="150px" >
                    </p>
                    <span></span>
                </div>
            </a>
            <a href="http://weibo.com/5886126712/profile?topnav=1&wvr=6&is_all=1" target="_blank">
                <div class="weibo">
                    <span></span>
                </div>
            </a>
        </div>
    </div>
    <style type="text/css">
    .weixin {
        width: 50px;
        height: 50px;
        padding: 0px;
        border-radius: 50%;
        display: inline-block;
        background-color: #36444a;
        margin-right: 50px;
        margin-top: 16px;
    }
    
    .sns {
        font-size: 14px;
        display: inline-block;
    padding: 0 0 0 50px;
            vertical-align: top;
        text-align: left;
        position: relative;
    }
    
    .sns a {
        cursor: pointer;
        display: inline-block;
        color: #9DABB3;
        line-height: 26px;
    }
    
    .sns a > div > span {
        display: block;
        height: 23px;
        width: 30px;
        background-image: url(http://code32.b0.upaiyun.com/status/img/footerimgs.png);
        background-repeat: no-repeat;
        margin: 14px auto 14px 12px;
    }
    
    .code {
        display: none;
        position: absolute;
        top: 0px;
        left: -150px;
    }
    
    .sns .weibo:hover > span {
        background-position: 0px 0px;
    }
    
    .sns .weixin:hover > span {
        background-position: 0px -36px;
    }
    
    .sns .weixin > span {
        background-position: -53px -34px;
    }
    
    .sns a > div {
        width: 50px;
        height: 50px;
        padding: 0px;
        border-radius: 50%;
        display: inline-block;
        background-color: #36444a;
        margin-right: 50px;
        margin-top: 16px;
    }
    
    .sns .weibo:hover {
        background-color: #f14658;
    }
    
    .sns .weibo > span {
        background-position: -53px 0px;
    }
    
    .sns .weixin:hover {
        background-color: #72C47C;
    }
    </style>
    <script type="text/javascript">
    $(".weixin").mouseover(function() {
        $("#code").css('display', 'block');
    });
    $(".weixin").mouseout(function() {
        $("#code").css('display', 'none');
    });
    </script>
    <!--footer-guide-->
    <!--copyright-->
            <div class="copyright">
            <div class="inner" style="width: 500px;">
<!--                 <div class="w250 r tr mt15">
                    <a class="mr10" href="http://www.anquan.org/" target="_blank"><img src="/lesson1/img/copyright/aqlm.jpg" width="66" height="24" alt="安全联盟行业验证"></a>
                    <a class="mr10" href="http://xinyu.baidu.com/" target="_blank"><img src="/lesson1/img/copyright/bdxy.jpg" width="66" height="24" alt="百度信誉放心访问"></a>
                    <a class="mr10" href="http://kexin.knet.cn/column_1/column_1_2/" target="_blank"><img src="/lesson1/img/copyright/kxwz.jpg" width="66" height="24" alt="可信网站身份验证"></a>
                </div> -->
                <p class="gray9">©山东省鼎立启智教育网学有限公司 - 课程内容版权均归鼎立启智教育网培训网所有  粤ICP备11069432号</p>
                <p class="">广东省 深圳市 专业技术人员继续教育网络学习平台<br>联合运营单位：深圳市工程师联合会</p>
            </div>
        </div>
    <!--copyright-->
</div>
<!-- <div class="aside-bar fixed-top">
    <ul class="aside-bar-inner">
        <li class="aside-bar-item" data-role="collapsible">
            <a class="aside-bar-link">
                <p class="iconfont f30 n">
                    &#xe633;</p>
                <p class="txt">
                    公众账号</p>
            </a>
            <div class="aside-bar-cont">
                <p class="f13 gray6 tc">
                    扫描二维码
                    <br> 关注鼎立启智教育网微信公众账号
                </p>
                <p>
                    <img src="/lesson1/img/pic/qr.jpg" width="130" height="130" alt="鼎立启智教育网微信公众账号"></p>
            </div>
        </li>
        <li class="aside-bar-item" data-role="collapsible">
            <a class="aside-bar-link">
                <p class="iconfont f30 n">
                    &#xe630;</p>
                <p class="txt">
                    学习交流</p>
            </a>
            <div class="aside-bar-cont">
                <p class="f14 gray6 tc">
                    鼎立启智教育网学员交流总群</p>
                <p class="f14">
                    125群：154017892</p>
                <p class="link-blue">
                    <a href="http://shang.qq.com/wpa/qunwpa?idkey=2eee53569300abbcfb8b8a6cab6f7374da37ddcbe5fc37e5015bdec61dbb30fe" target="_blank">进群交流</a></p>
            </div>
        </li>
        <li class="aside-bar-item" data-role="collapsible">
            <a class="aside-bar-link">
                <p class="iconfont f30 n">
                    &#xe63f;</p>
                <p class="txt">
                    留言反馈</p>
            </a>
            <div class="aside-bar-cont msg-board">
                <p class="f16 h40 lh40 gray6 tl">
                    欢迎给我们留言</p>
                <form id="mesform" role="form" method="post" action="">
                    <textarea class="form-area w220" rows="3" id="txtMgs" name="content" placeholder="您有什么问题？可以给我们留言，我们竭尽全力为您解决！"></textarea>
                    <input type="text" class="form-txt h20 lh20 w220 mt10" id="txtMobile" name="phone" placeholder="请输入手机号码，方便为你答疑">
                    <input type="submit" value="提交" href="javascript:;" id="btn-message" class="btn btn-blue1 btn-auto w130 mc h30 f16 mt10 btn-radius btn-message" style="line-height:30px;">
                </form>
            </div>
        </li>
        <li class="aside-bar-item" data-role="collapsible">
            <a class="aside-bar-link">
                <p class="iconfont f30 n">
                    &#xe63c;</p>
                <p class="txt">
                    APP下载</p>
            </a>
            <div class="aside-bar-cont">
                <p class="f13 gray6 tc">
                    扫描二维码下载到手机</p>
                <p>
                    <img src="/lesson1/img/pic/qr.png" width="130" height="130" alt="鼎立启智教育网微信公众账号"></p>
            </div>
        </li>
        <li class="aside-bar-item">
            <a class="aside-bar-link" href="#top" target="_self">
                <p class="iconfont f30 n">
                    &#xe625;</p>
                <p class="txt">
                    返回顶部</p>
            </a>
        </li>
    </ul>
</div> -->


<!-- WPA Button Begin -->
<!-- WPA Button End -->
<!--footer-->
</div>
</body>

</html>
