<div class="ucenter-right cf">
    <div class="tab-setting mar-t20">
        <div class="ucenter-right-head">
            <h3>添加课程</h3>
        </div>
        <div class="tabbed">
            <div class="tabGroup" style="display: block;">
                <form class="form form-job" id="jobForm" action="" method="post">
                    <input type="hidden" id="act" name="act" value="job">
                    <fieldset>
                        <div class="form-item">
                            <div class="item-label">
                                <label>课程名：</label>
                            </div>
                            <div class="item-cont">
                                <select name="direction" id="direction">
                                    <option value="-1">--课程类别</option>
                                    <option value="1">选修课程</option>
                                    <option value="2">必修课程</option>
                                    <option value="3">技能课程</option>
                                </select>
                                <span class="span_error" id="direction_error" style="display:none;">请选择课程类别！</span>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>课程选择：</label>
                            </div>

                            <div class="item-cont">
                                <select name="classify" id="classify">
                                    <option value="-1">--课程选择</option>
                                </select>
                                <span class="span_error" id="classify_error" style="display:none;">请选择课程！</span>
                            </div>
                        </div>

                        <div class="form-item">
                            <div class="item-label">
                                <label>课程名：</label>
                            </div>
                            <div class="item-cont">
                                <input type="text" id="course" placeholder="课程名" name="course" maxlength="20" value="" class="txt sm">
                                <span class="span_error" id="course_error" style="display:none;">请填写课程名 ！</span>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>难易程度：</label>
                            </div>
                            <div class="item-cont">
                                <select name="level" id="level">
                                    <option value="初级">初级</option>
                                    <option value="中级">中级</option>
                                    <option value="高级">高级</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-item">
                            <div class="item-label">
                                <label>课程封面：</label>
                            </div>
                            <div class="item-cont">
                                <input type="hidden" id="type" name="type" value="3" />
                                <input type="hidden" id="title"  name="title"/>
                                <input type="hidden" id="sectionpath" placeholder="视频地址" name="sectionpath"/>
                                <div id="filelist"></div>
                                <div id="container">
                                    <a id="pickfiles" href="javascript:;">选择图片</a>
                                    <a id="uploadfiles" href="javascript:;">上传图片</a> 最大500KB，支持jpg，gif，png格式。
                                </div>
                                <span class="p_error" id="sectionpath_error" style="display:none;">请上传图片 ！</span>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>课程简介：</label>
                            </div>
                            <div class="item-cont">
                                <textarea class="resize-none" style="width: 690px;height:80px" name="info" id="info" maxlength="250"></textarea>
                                <p class="p_error" id="info_error" style="display:none;"> 请填写课程简介！</p>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-cont">
                                <input type="button" id="button" class="btn btn-primary infoBtn" value="提交" jktag="&amp;posOper=60017&amp;posArea=0003">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
$('#direction').change(function(){
        $('#direction_error').hide();
});

$('#classify').change(function(){
        $('#classify_error').hide();
});

$('#course').blur(function(){
    if ($('#course').val() == '' || $('#course').val() == null) {
        $('#course_error').show();
    }else{
        $('#course_error').hide();
    }
});

$('#info').focus(function(){
    if ($('#sectionpath').val() != '') {
        $('#sectionpath_error').hide();
    }
});

$('#info').blur(function(){
    if ($('#info').val() == '' || $('#info').val() == null) {
        $('#info_error').show();
    }else{
        $('#info_error').hide();
    }
});



$("#button").click(function() {
    if ($('#direction').val() == '' || $('#direction').val() == '-1') {
        $('#direction_error').show();
        return false;
    }
    if ($('#classify').val() == '' || $('#classify').val() == '-1') {
        $('#classify_error').show();
        return false;
    }
    if ($('#course').val() == '' || $('#course').val() == null) {
        $('#course_error').show();
        return false;
    }
    if ($('#sectionpath').val() == '' || $('#sectionpath').val() == null) {
        $('#sectionpath_error').show();
        return false;
    }else{
        $('#sectionpath_error').hide();
    }
    if ($('#info').val() == '' || $('#info').val() == null) {
        $('#info_error').show();
        return false;
    }
    var value = {
        "classify_id": $("#classify").val(),
        "course_name": $("#course").val(),
        "course_synopsis": $("#info").val(),
        "course_level": $("#level").val(),
        "img_path": $("#sectionpath").val()
    }
    console.log(value);
    $.ajax({
        type: 'POST',
        url: "<?php echo base_url('./center/add_course'); ?>",
        data: value,

        success: function(result) {
            if (result == 1) {
                // console.log('1');
                alert('success');
                location.reload();
            }else{
                alert('error');
            }
        }
    });
});
$("#direction").change(function() {
    var change_data = {
        "<?php  echo $this->security->get_csrf_token_name();?>":"<?php echo $this->security->get_csrf_hash(); ?>",
        "direction":$("#direction").val(),
    }
    $.ajax({
        type: 'POST',
        url: "<?php echo base_url('./center/get_classify'); ?>",
        data: change_data,

        success: function(result) {
            if (result != '') {
                $('#classify').html(result);
            }
        }
    });
});
</script>
<script src="<?php echo base_url().'UPYUN/lib/plupload-2.1.2/js/plupload.full.min.js'?>"></script>
<script src="<?php echo base_url().'UPYUN/lib/md5.js'?>"></script>
<script src="<?php echo base_url().'UPYUN/asset/main.js'?>"></script>
