<script type="text/javascript" src="<?php echo base_url() ?>index/js/pagination.bootstrap.js"></script>

        <div class="ucenter-right cf">

<style type="text/css">
    .page {
    font-size: 12px;
    height: 30px;
    text-align: right;
    margin-top: 19px;
    margin-right: 17px;
}

.pg_pre,
.pg_next {
    border: 1px solid #ccc;
    margin: 0 3px;
    background-image: url("../image/icon_pg.gif");
    background-repeat: no-repeat;
}

.pg_pre {
    padding: 3px 8px 3px 8px;
    background-position: 7px 3px;
}

a.pg_pre {
    background-position: 7px -19px;
}

.pg_next {
    padding: 3px 8px 3px 8px;
    background-position: -22px 3px;
}

a.pg_next {
    background-position: -22px -19px;
}

.pg_link {
    padding: 3px 8px;
    margin: 0 3px;
    border: 1px solid #ccc;
}

.pg_link:hover,
a.pg_next:hover,
a.pg_pre:hover {
    border: 1px solid #A9C9E2;
    color: #137cce;
}

.pg_curr {
    padding: 3px 8px;
    margin: 0 3px;
    color: #137cce;
    background-color: #E8F5FE;
    border: 1px solid #A9C9E2;
}

</style>
            <div class="fl account-body mar-l20">
                <p class="account-body-nav"><span>我的评论</span><span class="mar-r25 f_r"><a></a></span></p>
                <div class="account-body-table">
                    <volist name="viplogs" id="vo" mod="2"></volist>
                    <volist name="viplogs" id="vo" mod="2"></volist>
                    <table class="jkxy-table">
                        <thead class="jkxy-table-thead">
                            <tr class="jkxy-table-tr">
                                <td><span>昵称</span></td>
                                
                                <td width="500"><span>评论内容</span></td>
                                <td><span>评论时间</span></td>
                            </tr>
                        </thead>
                        <tbody class="jkxy-table-tbody">
                        <?php if($_SESSION['level'] == 1): ?>
                            <?php foreach ($result as $row) : ?>
                            <tr class="jkxy-table-tr">
                                <td><?php echo $row['nickname']; ?></td>
                                <td><?php echo $row['comment']; ?></td>
                                <td><?php echo $row['add_time']; ?></td>
                            </tr>
                            <?php endforeach; ?>
                        <?php elseif($_SESSION['level'] == 0): ?>
                            <?php foreach ($result as $row) : ?>
                            <tr class="jkxy-table-tr">
                                <td><?php echo $row['nickname']; ?></td>
                                <td><?php echo $row['comment']; ?></td>
                                <td><?php echo $row['add_time']; ?></td>
                            </tr>
                            <?php endforeach; ?>

                        <?php endif; ?>
                        </tbody>
                    </table>
           <div class=" pages tr">
                <ul id="pagination">

                </ul>
            </div>
            <div class="" style="clear:both"></div>
            <script type="text/javascript">
            //初始化分页
            window.onload = function() {
                    my_page = new open_pager("pagination");
                    my_page.showTotalTip = false;
                    my_page.pageSize = 2; //每页显示数
                    my_page.pageFuncName = "LoadPaging"; //回调函数名称
                    my_page.currentPage = 1; //当前页
                    my_page.totalRows = "<?php echo $total; ?>"; //总条数
                    // my_page.allowClone = true;
                    // my_page.cloneName = "Div_Clone_Page";
                    my_page.output();
                }
                //调用
            function LoadPaging(pg) {
                //通过get提交
                var _newurl = my_page.createUrl(pg);
                location.href = _newurl;
                // document.getElementById("form1").action = _newurl;
                // document.getElementById("form1").method = "post";
                // document.getElementById("form1").submit();
            }
            </script>
                </div>
            </div>
        </div>
    </div>
</div>
