<div class="ucenter-right cf">
    <div class="tab-setting mar-t20">
        <div class="ucenter-right-head">
            <h3>视屏上传</h3>
        </div>
        <div class="tabbed">
            <div class="tabGroup" style="display: block;">
                <form class="form form-job" id="jobForm" action="/member/settingJob" method="get">
                    <input type="hidden" id="act" name="act" value="job">
                    <fieldset>
                        <div class="form-item">
                            <div class="item-label">
                                <label>课程名：</label>
                            </div>
                            <div class="item-cont">
                                <select class="select" id="title" name="title">
                                <?php foreach ($pass as $row) :?>
                                    <option value="<?php echo $row['title'] ?>"><?php echo $row['title'] ?></option>
                                <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>章节名：</label>
                            </div>
                            <div class="item-cont">
                                <select class="select" id="chapter1" name="title">
                                    <option value="学生">
                                        学生</option>
                                    <option value="教师">
                                        教师</option>
                                    <option value="程序员">
                                        程序员</option>
                                    <option value="创业者">
                                        创业者</option>
                                    <option value="待业者">
                                        待业者</option>
                                    <option value="其他">
                                        其他</option>
                                </select>
                                <input type="text" id="chapter2" placeholder="标题" name="title" maxlength="100" value="" class="txt sm" style="display:none;">
                                <div id="key" style="display:inline-block;">
                                    <a id="add-btn" href="javascript:;">添加章节</a>
                                    <a id="change-chapter" href="javascript:;" style="display:none;">选择章节</a>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                        $(function() {
                            var state = false;
                            $("#key").click(function() {
                                if (state == false) {
                                    $("#chapter1").hide();
                                    $("#chapter2").show();
                                    $("#add-btn").hide();
                                    $("#change-chapter").show();
                                    state = true;
                                } else {
                                    $("#chapter1").show();
                                    $("#chapter2").hide();
                                    $("#add-btn").show();
                                    $("#change-chapter").hide();
                                    state = false;
                                }
                            })
                        })
                        </script>
                        <div class="form-item">
                            <div class="item-label">
                                <label>小节标题：</label>
                            </div>
                            <div class="item-cont">
                                <input type="text" id="title" placeholder="标题" name="title" maxlength="100" value="" class="txt sm">
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>选择视频：</label>
                            </div>
                            <div class="item-cont">
                                <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
                                <div id="container">
                                    <a id="pickfiles" href="javascript:;">选择文件</a>
                                    <a id="uploadfiles" href="javascript:;">上传文件</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>小结简介：</label>
                            </div>
                            <div class="item-cont">
                                <textarea class="resize-none" style="width: 690px;height:80px" name="info" id="info"></textarea>
                                <p style="font-size: 14px;color:red;" id="info_error"></p>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-cont">
                                <input type="button" id="FeedbackButton" class="btn btn-primary infoBtn" value="提交" jktag="&amp;posOper=60017&amp;posArea=0003">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
$('#info').focus(function() {
    $('#info_error').html('');
});
$("#FeedbackButton").click(function() {
    if ($('#info').val() == '') {
        $('#info_error').html('请填写反馈内容！');
        return false;
    }
    var data = {
        "info": $('#info').val(),
        "title": $('#title').val(),
    }
    $.ajax({
        type: 'POST',
        url: "http://www.rfgxy.com/center/feed_back",
        data: 'data=' + JSON.stringify(data),
        success: function(result) {
            // console.log(result);
            if (result == 1) {
                alert('提交成功，谢谢您的反馈！');
                location.href = "http://www.rfgxy.com/center/mydata?label=jiben";
            } else {
                $("#info_error").html("反馈失败！");
                $("#info_error").hide(1000);
                return false;
            }
        }
    });
});
</script>
<script src="<?php echo base_url().'UPYUN/lib/plupload-2.1.2/js/plupload.full.min.js'?>"></script>
<script src="<?php echo base_url().'UPYUN/lib/md5.js'?>"></script>
<script src="<?php echo base_url().'UPYUN/asset/main.js'?>"></script>
