        <div class="ucenter-right cf">


            <div class="fl account-body mar-l20">
                <p class="account-body-nav"><span>我的评论</span><span class="mar-r25 f_r"><a></a></span></p>
                <div class="account-body-table">
                    <volist name="viplogs" id="vo" mod="2"></volist>
                    <volist name="viplogs" id="vo" mod="2"></volist>
                    <table class="jkxy-table">
                        <thead class="jkxy-table-thead">
                            <tr class="jkxy-table-tr">
                                <td><span>昵称</span></td>
                                
                                <td width="500"><span>评论内容</span></td>
                                <td><span>评论时间</span></td>
                            </tr>
                        </thead>
                        <tbody class="jkxy-table-tbody">
                            <tr class="jkxy-table-tr">
                            <?php foreach ($result as $row) : ?>
                                <td><?php echo $row['nickname']; ?></td>
                                <td><?php echo $row['comment']; ?></td>
                                <td><?php echo $row['add_time']; ?></td>
                            <?php endforeach; ?>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
