<!--header-->
<!--slide-->
<!--# include file="inc/slide.aspx" -->
<!--slide-->
<!--container-->
<div id="pager">
    <div class="w-1000 mar-t30 cf ucenter-block">
        <div class="ucenter-left account-left-border">
            <div class="ucneter-l-head cf">
                <div class="ulhead-headicon">
                    <img src="http://assets.jikexueyuan.com/user/avtar/default.gif" id="avatar_img" width="50px" height="50px" alt="心似已灰之木">
                </div>
                <div class="ulhead-info">
                    <p class="ulhead-info-uname">心似已灰之木</p>
                    <p class="ulhead-info-vip"><i class="icon icon-vip-year"></i>
                    </p>
                    <div class="ulhead-info-tool">
                        <a class="ulhead-icon icon-lock ucenter-mail " href="./changepw" title="修改密码" jktag="&amp;posGP=115005&amp;posOper=56002&amp;posArea=0001">
                            <div class="ucenter-mail-tip">修改密码</div>
                        </a>
                        <a href="./mydata" class="ulhead-icon icon-setting ucenter-mail" title="设置个人信息" jktag="&amp;posGP=115005&amp;posOper=56005&amp;posArea=0001"></a>
                    </div>
                </div>
            </div>
            <div class="ucenter-l-list">
                <ul class="ullist-ul">
                    <li class="<?php echo  $active['mydata']?>"><a href="./mydata" jktag="&amp;posGP=115007&amp;posOper=56007&amp;posArea=0002">个人资料</a>
                    </li>
                    <li class="<?php echo  $active['mycourse']?>"><a href="./mycourse" jktag="&amp;posGP=115007&amp;posOper=56007&amp;posArea=0002">我的课程</a>
                    </li>
                    <li class="<?php echo  $active['myorder']?>"><a href="./myorder" jktag="&amp;posGP=115002&amp;posOper=56008&amp;posArea=0002">我的订单</a>
                    </li>
                    <li class="<?php echo  $active['changepw']?>"><a href="./changepw" jktag="&amp;posGP=115003&amp;posOper=56009&amp;posArea=0002">修改密码</a>
                    </li>
                    <li class="<?php echo  $active['comment']?>"><a href="./comment" jktag="&amp;posGP=115005&amp;posOper=56010&amp;posArea=0002">我的评论</a>
                    </li>
                    <li class="<?php echo  $active['feedback']?>"><a href="./feedback" jktag="&amp;posGP=115006&amp;posOper=56011&amp;posArea=0002">意见反馈</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ucenter-right cf">
            <div class="ucenter-right-head">
                <h3>修改密码</h3>
            </div>
            <div class="ucenter-right-body cf">
                <div class="freevip-block">
                    <div class="wrap">
                        <div class="bd">
                            <form class="form form-setting">
                                <fieldset>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>当前密码</label>
                                        </div>
                                        <div class="item-cont no-right">
                                            <input type="password" class="txt sm my-pw">
                                            <span class="warning" style="width:0;height:0; padding: 0; overflow: hidden; display:block;"></span>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>密码</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="password" class="txt sm new-pw" maxlength="32">
                                            <div class="safety pwd-strong" style="display:none;">
                                                <span class="level-1" level="1">弱</span>
                                                <span class="level-2" level="2">中</span>
                                                <span class="level-3" level="3">强</span>
                                            </div>
                                            <span class="warning" style="width:0;height:0; padding: 0; overflow: hidden; display:block;"></span>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>确认密码</label>
                                        </div>
                                        <div class="item-cont no-right">
                                            <input type="password" class="txt sm repeat-pw" maxlength="32">
                                            <span class="warning" style="width:0;height:0; padding: 0; overflow: hidden; display:block;"></span>
                                            <div class="note errTxt " style="display: none">
                                                密码不一致
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-cont">
                                            <input type="button" class="btn btn-primary sm p-sm changepw-btn" value="确定">
                                            <a href="javascript:;" class="btn btn-bezelFree xs p-xs popclose">取消</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ucenter-right cf">
            <div class="mycourse-block">
                <!--                 <div class="mycourse-tab-tit">
                    <ul class="cf mycourse-tab-ul">
                        <li class="active"><a href="http://www.jikexueyuan.com/member/mycourse/xuexi.html" jktag="&amp;posOper=62012&amp;posArea=0003">修改密码</a></li>
                        
                    </ul>
                </div> -->
                <div class="mycourse-page">
                    <div id="page-nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>
