<div class="ucenter-right cf">
    <div class="tab-setting mar-t20">
        <div class="ucenter-right-head">
            <h3>视屏上传</h3>
        </div>
        <div class="tabbed">
            <div class="tabGroup" style="display: block;">
                <form class="form form-job" id="jobForm" action="<?php echo base_url().'center/add_section'?>" method="post">
                    <input type="hidden" id="act" name="act" value="job">
                    <fieldset>
                        <div class="form-item">
                            <div class="item-label">
                                <label>课程名：</label>
                            </div>
                            <div class="item-cont">
                                <select class="select" id="courses" name="section_arr[course_id]" onchange="showCharter(this.value)">
                                    <option value='-1' selected=''>--请选择课程</option>
                                    <?php foreach ($courses as $item):?>
                                    <option value="<?php echo $item['course_id'];?>">
                                        <?php echo $item['course_name'];?>
                                    </option>
                                    <?php endforeach;?>
                                </select>
                                <span class="span_error" id="courses_error" style="display:none;">请选择课程 ！</span>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>章节名：</label>
                            </div>
                            <div class="item-cont" id="chapter">
                                <span id="chapter0">
                                <select class="select" id="chapter1" name="section_arr[chapter_id1]">
                                    <option value="-1">请选择章节</option>

                                </select>
                              </span>
                                <input type="text" id="chapter2" placeholder="标题" name="section_arr[chapter_id2]" maxlength="100" value="" class="txt sm" style="display:none;">
                                <div id="key" style="display:inline-block;">
                                    <a id="add-btn" href="javascript:;">添加章节</a>
                                    <a id="change-chapter" href="javascript:;" style="display:none;">选择章节</a>
                                </div>
                                <span class="span_error" id="chapter_error" style="display:none;">请填添加章节 ！</span>
                            </div>
                        </div>
                        <script type="text/javascript">
                        $(function() {
                            var state = false;
                            $("#key").click(function() {
                                if (state == false) {
                                    $("#chapter1").hide();
                                    $("#chapter2").show();
                                    $("#add-btn").hide();
                                    $("#change-chapter").show();
                                    state = true;
                                } else {
                                    $("#chapter1").show();
                                    $("#chapter2").hide();
                                    $("#add-btn").show();
                                    $("#change-chapter").hide();
                                    state = false;
                                }
                            })
                        })
                        </script>
                        <div class="form-item">
                            <div class="item-label">
                                <label>小节标题：</label>
                            </div>
                            <div class="item-cont">
                                <input type="text" id="title" placeholder="标题" name="section_arr[section_name]" maxlength="100" value="" class="txt sm">
                                <input type="text" id="sectionpath" placeholder="视频地址" name="section_arr[section_path]" maxlength="100" value="" class="txt sm">
                                <span class="p_error" id="title_error" style="display:none;">请填写小节标题 ！</span>

                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>选择视频：</label>
                            </div>
                            <div class="item-cont">
                                <input type="hidden" id="type" name="type" value="1" />
                                <input type="hidden" id="title" name="title" />
                                <input type="hidden" id="sectionpath" placeholder="视频地址" name="sectionpath" />
                                <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
                                <div id="container">
                                    <a id="pickfiles" href="javascript:;">选择视频</a>
                                    <a id="uploadfiles" href="javascript:;">上传视频</a>
                                </div>
                                <span class="p_error" id="sectionpath_error" style="display:none;">请上传视频 ！</span>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-label">
                                <label>小结简介：</label>
                            </div>
                            <div class="item-cont">
                                <textarea class="resize-none" style="width: 690px;height:80px" name="info" id="info"></textarea>
                                <p class="p_error" id="info_error" style="display:none;">请填写小结简介！</p>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-cont">
                                <input type="submit" id="FeedbackButton" class="btn btn-primary infoBtn" value="提交" jktag="&amp;posOper=60017&amp;posArea=0003">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
$('#info').focus(function(){
    if ($('#sectionpath').val() != '') {
        $('#sectionpath_error').hide();
    }
});

$('#info').blur(function(){
    if ($('#info').val() == '' || $('#info').val() == null) {
        $('#info_error').show();
    }else{
        $('#info_error').hide();
    }
});

$('#courses').change(function(){
        $('#courses_error').hide();
});

$('#title').blur(function(){
    if ($('#title') == '' || $('#title') == null) {
        $('#title_error').show();
    }
});

$('#title').focus(function(){
    $('#title_error').hide();
});


$("#FeedbackButton").click(function() {
    if ($('#sectionpath').val() == '' || $('#sectionpath').val() == null) {
        $('#sectionpath_error').show();
        return false;
    }else{
        $('#sectionpath_error').hide();
    }

if ($('#title') == '') {
    $('#title_error').show();
    return false;
}

    if ($('#info').val() == '') {
        $('#info_error').show();
        return false;
    }
    // var data = {
    //     "info": $('#info').val(),
    //     "title": $('#title').val(),
    // }
    // $.ajax({
    //     type: 'POST',
    //     url: "http://www.rfgxy.com/center/feed_back",
    //     data: 'data=' + JSON.stringify(data),
    //     success: function(result) {
    //         // console.log(result);
    //         if (result == 1) {
    //             alert('提交成功，谢谢您的反馈！');
    //             location.href = "http://www.rfgxy.com/center/mydata?label=jiben";
    //         } else {
    //             $("#info_error").html("反馈失败！");
    //             $("#info_error").hide(1000);
    //             return false;
    //         }
    //     }
    // });
});
$('#courses').change(function() {
    var course_data = {
        "<?php  echo $this->security->get_csrf_token_name();?>": "<?php echo $this->security->get_csrf_hash(); ?>",
        'course_id': $('#courses').val()
    }
    $.ajax({
        type: 'POST',
        url: "http://www.rfgxy.com/center/get_charter",
        data: course_data,
        success: function(result) {
            if (result != '') {
                $('#chapter1').html(result);
            }
        }
    })
});
</script>
<script src="<?php echo base_url().'UPYUN/lib/plupload-2.1.2/js/plupload.full.min.js'?>"></script>
<script src="<?php echo base_url().'UPYUN/lib/md5.js'?>"></script>
<script src="<?php echo base_url().'UPYUN/asset/main.js'?>"></script>
