       <div class="ucenter-right cf">
            <div class="mycourse-block">
                <div class="mycourse-tab-tit">
                    <ul class="cf mycourse-tab-ul">
                        <li class="active" id="xuanxiu"><a href="javascript:;" jktag="&amp;posOper=62012&amp;posArea=0003">选修课程</a></li>
                        <li class="" id="bixiu"><a href="javascript:;" jktag="&amp;posOper=62012&amp;posArea=0003">必修课程</a></li>
                        <li class="" id="jineng"><a href="javascript:;" jktag="&amp;posOper=62012&amp;posArea=0003">技能课程</a></li>
                    </ul>
                </div>
                <script type="text/javascript">
                $("#xuanxiu").click(function(){
                    $('#xuanxiu').addClass("active");
                    $('#bixiu').removeClass("active");
                    $('#jineng').removeClass("active");
                    $('#tab1').css('display', 'block');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                });  
                $("#bixiu").click(function(){
                    $('#xuanxiu').removeClass("active");
                    $('#bixiu').addClass("active");
                    $('#jineng').removeClass("active");
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'block');
                    $('#tab3').css('display', 'none');
                });  
                $("#jineng").click(function(){
                    $('#xuanxiu').removeClass("active");
                    $('#bixiu').removeClass("active");
                    $('#jineng').addClass("active");
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'block');                  
                });  
                </script>
                <div class="tab-setting mar-t20">
                    <div class="tabbed">
                        <div class="tabGroup" style="display: block;" id="tab1">
                            <form class="form form-job" id="jobForm" action="/member/settingJob" method="get">
                                <input type="hidden" id="act" name="act" value="job">
                                <fieldset>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>课程名：</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="text" id="name" placeholder="课程名" name="name" maxlength="100" value="" class="txt sm">
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>标题：</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="text" id="title" placeholder="标题" name="title" maxlength="100" value="" class="txt sm">
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>课程封面：</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="text" class="txt sm w-sm" placeholder="课程封面" name="" id="" value="">
                                            <div id="btn">上传图片</div> 最大500KB，支持jpg，gif，png格式。
                                            <ul id="ul_pics" class="ul_pics clearfix"></ul>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>课程简介：</label>
                                        </div>
                                        <div class="item-cont">
                                            <textarea placeholder="课程简介" class="resize-none" style="width: 690px;height:80px" name="info" id="info"></textarea>
                                            <p style="font-size: 14px;color:red;" id="info_error"></p>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-cont">
                                            <input type="button" id="FeedbackButton" class="btn btn-primary infoBtn" value="提交反馈" jktag="&amp;posOper=60017&amp;posArea=0003">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tabGroup" style="display: none;" id="tab2">
                            <form class="form form-job" id="jobForm" action="/member/settingJob" method="get">
                                <input type="hidden" id="act" name="act" value="job">
                                <fieldset>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>阶段：</label>
                                        </div>
                                        <div class="item-cont">
                                            <select name="stage" id="stage" class="select">
                                                <option value="小学">小学</option>
                                                <option value="初中">初中</option>
                                                <option value="高中">高中</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>年级：</label>
                                        </div>
                                        <div class="item-cont">
                                            <select name="grade" id="grade" class="select">
                                                <option value="一年级">一年级</option>
                                                <option value="二年级">二年级</option>
                                                <option value="三年级">三年级</option>
                                                <option value="四年级">四年级</option>
                                                <option value="五年级">五年级</option>
                                                <option value="六年级">六年级</option>
                                                <option value="初一">初一</option>
                                                <option value="初二">初二</option>
                                                <option value="初三">初三</option>
                                                <option value="高一">高一</option>
                                                <option value="高二">高二</option>
                                                <option value="高三">高三</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>科目：</label>
                                        </div>
                                        <div class="item-cont">
                                            <select name="subject" id="subject" class="select">
                                                <option value="语文">语文</option>
                                                <option value="数学">数学</option>
                                                <option value="英语">英语</option>
                                                <option value="化学">化学</option>
                                                <option value="生物">生物</option>
                                                <option value="物理">物理</option>
                                                <option value="政治">政治</option>
                                                <option value="历史">历史</option>
                                                <option value="地理">地理</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>标题：</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="text" id="title" placeholder="标题" name="title" maxlength="100" value="" class="txt sm">
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>课程封面：</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="text" class="txt sm w-sm" placeholder="课程封面" name="" id="" value="">
                                            <div id="btn">上传图片</div> 最大500KB，支持jpg，gif，png格式。
                                            <ul id="ul_pics" class="ul_pics clearfix"></ul>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>课程简介：</label>
                                        </div>
                                        <div class="item-cont">
                                            <textarea placeholder="课程简介" class="resize-none" style="width: 690px;height:80px" name="info" id="info"></textarea>
                                            <p style="font-size: 14px;color:red;" id="info_error"></p>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-cont">
                                            <input type="button" id="FeedbackButton" class="btn btn-primary infoBtn" value="提交反馈" jktag="&amp;posOper=60017&amp;posArea=0003">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tabGroup" style="display: none;" id="tab3">
                            <form class="form form-job" id="jobForm" action="/member/settingJob" method="get">
                                <input type="hidden" id="act" name="act" value="job">
                                <fieldset>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>课程名：</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="text" id="name" placeholder="课程名" name="name" maxlength="100" value="" class="txt sm">
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>标题：</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="text" id="title" placeholder="标题" name="title" maxlength="100" value="" class="txt sm">
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>课程封面：</label>
                                        </div>
                                        <div class="item-cont">
                                            <input type="text" class="txt sm w-sm" placeholder="课程封面" name="" id="" value="">
                                            <div id="btn">上传图片</div> 最大500KB，支持jpg，gif，png格式。
                                            <ul id="ul_pics" class="ul_pics clearfix"></ul>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-label">
                                            <label>课程简介：</label>
                                        </div>
                                        <div class="item-cont">
                                            <textarea placeholder="课程简介" class="resize-none" style="width: 690px;height:80px" name="info" id="info"></textarea>
                                            <p style="font-size: 14px;color:red;" id="info_error"></p>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="item-cont">
                                            <input type="button" id="FeedbackButton" class="btn btn-primary infoBtn" value="提交反馈" jktag="&amp;posOper=60017&amp;posArea=0003">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- form personinfo end -->
                        <!-- form pic -->
                        <div class="tabGroup" style="display: none;">
                            <input type="hidden" id="_csrf" value="8uzVc8iqyhe5UAv2S9yzSf22o+gDDgtHUhUnQ=">
                            <input type="hidden" id="figureUploadPath" value="http://www.jikexueyuan.com/image/upload_avatar">
                            <input type="hidden" id="swfFlush" value="55a049jHXMUUsf/nfj7+/DQmnTJsu+EFdrL6gyKhWVd+9nofKaUan8Ig605F0tA">
                            <input type="hidden" id="pic_src" value="">
                            <div id="altContent">
                                <h2>这里是flash内容，当前的浏览器没有安装或者FlashPlyaer版本不够高，请从<a href="http://www.adobe.com/go/getflashplayer">这里</a>下载安装最新的FlashPlyaer。</h2>
                                <h2>如果您正在使用IE9或IE9以下版本内核的浏览器，请使用更高版本的IE浏览器或谷歌览器重试。</h2>
                            </div>
                        </div>
                        <!-- form pic end -->
                    </div>
                </div>
            </div>
        </div>
    </div>

