


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>第三步:验证成功重置密码_技成自动化培训网</title>
    <link type="text/css" href="<?php echo base_url('index/style/jc.v2.css')?>" rel="stylesheet" media="all" />
    <link type="text/css" href="<?php echo base_url('index/style/register.v2.css')?>" rel="stylesheet" media="all" />
    <link type="text/css" href="<?php echo base_url('index/style/findpwd.css')?>" rel="stylesheet" media="all" />
</head>

<body>
<!-- header start -->
<header>
    <section class="global_nav">
        <nav>
            <div class="nav clearfix">
                <h2 class="logo"><a href="http://www.jcpeixun.com/" target="_blank" title="技成自动化培训网">技成自动化培训网</a></h2>
                <div class="links"><strong class="links1">客服热线：400-111-4100</strong> <strong class="links2">客服在线</strong></div>
            </div>
        </nav>
    </section>
</header>
<!-- header end --> 

<!-- container start -->
<div id="container" class="w960 mc container">
    <div class="main" style="padding:0 0 40px;">
    	<div class="fpwd_title">
        	<h2 class="title">重置密码</h2>
            <div class="ad"></div>
        </div>
        <div class="fpwd_nav">
        	<ul class="clearfix">
            	<li class="step3_1">1.填写账户名</li>
                <li class="step3_2">2.验证身份</li>
                <li class="step3_3">3.重置密码</li>
                <li class="step3_4">4.密码修改成功</li>
            </ul>
        </div>
        
        <div class="fpwd_content3">
        	<div class="fpwd_form3">
            	<form id="findPwdForm3" method="post" action="">
                	<fieldset>
                    	<ol>
                        	<li>&nbsp;</li>
                            <li><label class="f14">新登录密码：</label><input type="password" id="uNpwd" name="uNpwd" class="txt_gray1-240-25" value="" /></li>
                            <li style="padding-left:170px;"><strong class="cred" id="p1_tips">&nbsp;</strong></li>
                         	<li><label class="f14">确认新密码：</label><input type="password" id="uNpwd2" name="uNpwd2" class="txt_gray1-240-25 " value="" /></li>
                            <li style="padding-left:170px;"><strong class="cred" id="p2_tips">&nbsp;</strong><input name="iptlearnerid" type="hidden" id="iptlearnerid" value="<?php echo $token; ?>" /></li>
                            <li style="padding-left:170px;"><a href="javascript:;" class=" btn_blue1-100-30" id="btn_set_pwd">提 交</a></li>                           
                        </ol>
                    </fieldset>
                </form>
            </div>
            <div class="fpwd_right_ad"></div>
        </div>
        
    </div>
</div>
<!-- container end -->

<!-- footer start -->
<footer>
    <div class="constrain">
        <p><a class="links1" href="http://www.jcpeixun.com/AboutUs.aspx" target="_blank">关于我们</a> | <a class="links1" href="http://www.jcpeixun.com/contact.aspx" target="_blank">联系我们</a> | <a class="links1" href="http://www.jcpeixun.com/zhaopin.aspx" target="_blank">人才招聘</a> | <a class="links1" href="http://www.jcpeixun.com/links.aspx" target="_blank">友情链接</a> | <a class="links1" href="http://www.jcpeixun.com/help/index.aspx" target="_blank">帮助中心</a></p>
        <p>全国免费咨询电话：400 111 4100 (工作日9:00-20:30) 邮件：<a class="links2" href="mailto:kefu@jcpeixun.com" target="_blank">kefu@jcpeixun.com </a>版权所有 深圳市技成科技 粤ICP备1106943号</p>
    </div>
</footer>
<!-- footer end -->
<script type="text/javascript" src="<?php echo base_url('index/include/jquery-1.8.2.min.js')?>"></script>
<script type="text/javascript" src="<?php echo base_url('index/include/findpwd.js')?>"></script>
<!-- <script type="text/javascript" src="http://www.jcpeixun.com/include/tongji.js?a=20130514001"></script> -->
</body>
</html>
