


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>第一步:填写帐户名找回密码_鼎立启智教育网自动化培训网</title>
    <link type="text/css" href="<?php echo base_url('index/style/jc.v2.css')?>" rel="stylesheet" media="all" />
    <link type="text/css" href="<?php echo base_url('index/style/register.v2.css')?>" rel="stylesheet" media="all" />
    <link type="text/css" href="<?php echo base_url('index/style/findpwd.css')?>" rel="stylesheet" media="all" />
</head>

<body>
<!-- header start -->
<header>
    <section class="global_nav">
        <nav>
            <div class="nav clearfix">
                <h2 class="logo"><a href="http://www.qfdlqz.com/" target="_blank" title="鼎立启智教育网自动化培训网">鼎立启智教育网自动化培训网</a></h2>
                <div class="links"><strong class="links1">客服热线：0537-4983789</strong> <strong class="links2">客服在线</strong></div>
            </div>
        </nav>
    </section>
</header>
<!-- header end --> 
<!-- container start -->
<div id="container" class="w960 mc">
    <div class="main" style="padding:0 0 40px;">
    	<div class="fpwd_title">
        	<h2 class="title">重置密码</h2>
            <div class="ad"></div>
        </div>
        <div class="fpwd_nav">
        	<ul class="clearfix">
            	<li class="step1_1">1.填写账户名</li>
                <li class="step1_2">2.验证身份</li>
                <li class="step1_3">3.重置密码</li>
                <li class="step1_4">4.密码修改成功</li>
            </ul>
        </div>
        <div class="fpwd_content1">
        	<div class="fpwd_form1">
            	<form id="findPwdForm1" method="post" action="">
                	<fieldset>
                    	<ol>
                            <li>&nbsp;</li>
                        	<li><label class="f14">账户名：</label> <input type="text" id="uName" name="uName" class="txt_gray2-240-30" value="" placeholder="用户名/邮箱/手机号" /></li>
                            <li style="padding-left:120px;font-size:14px;" class="cgray5" id="n_tips">支持邮箱/手机号</li>

                                                                <li>滑动验证：
                                        <div id="div_id_embed"></div>
                                    </li>
                                    <li class="ti3" style="text-indent: 85px;">
                                        <label for="uPwd" id="p_tips">
                                            &nbsp;</label>
                                    </li>
                           <!--  <li><label class="f14">验证码：</label> <input type="text" id="vcode" name="vcode" class="txt_gray1-70-30"  /> <img width="80" height="30" alt="" src="http://www.qfdlqz.com/validatecode.aspx?id=0.9330745298355507" id="imgYzm" class="mt5" /> <a href="javascript:;" id="changeCode" title="看不清楚？换一张">看不清楚？换一张</a></li> -->
                            <li style="padding-left:120px;font-size:14px;" class="cgray5" id="c_tips"></li>
                        </ol> 
                    </fieldset>
                </form>
            </div>
            <div class="fpwd_right_ad"></div>
        </div>
         
        <div class="next" id="fp_next"><span class="pubtn"><i class="btn_l1"></i><a class="pubtn_in" href="javascript:;" id="fp_btn_next1"><span class="pubtn_bg">下一步</span></a><i class="btn_l2"></i></span></div>
        
    </div>
</div>
<!-- container end -->

<!-- footer start -->
<footer>
            <div class="constrain">
                <p><a class="links1" href="http://www.qfdlqz.com/about/us" target="_blank">关于我们</a> | <a class="links1" href="http://www.qfdlqz.com/about/contact" target="_blank">联系我们</a> | <a class="links1" href="http://www.qfdlqz.com/about/job" target="_blank">人才招聘</a> | <a class="links1" href="http://www.qfdlqz.com/about/friendly" target="_blank">友情链接</a> | <a class="links1" href="http://www.qfdlqz.com/about/feedback" target="_blank">意见反馈</a></p>
                <p>全国免费咨询电话：0537-4983789 (工作日9:00-20:30) 邮件：<a class="links2" href="mailto:kefu@rfgxy.com" target="_blank">kefu@rfgxy.com </a>©山东省鼎立启智教育网学有限公司 - 课程内容版权均归鼎立启智教育网培训网所有</p>
            </div>
</footer>
<!-- footer end -->
<script type="text/javascript" src="<?php echo base_url('index/include/jquery-1.8.2.min.js')?>"></script>
        <script type="text/javascript">
        var gtFailbackFrontInitial = function(result) {
                var s = document.createElement('script');
                s.id = 'gt_lib';
                s.src = 'http://static.geetest.com/static/js/geetest.0.0.0.js';
                s.charset = 'UTF-8';
                s.type = 'text/javascript';
                document.getElementsByTagName('head')[0].appendChild(s);
                var loaded = false;
                s.onload = s.onreadystatechange = function() {
                    if (!loaded && (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete')) {
                        loadGeetest(result);
                        loaded = true;
                    }
                };
            }
            //get  geetest server status, use the failback solution


        var loadGeetest = function(config) {

            //1. use geetest capthca
            window.gt_captcha_obj = new window.Geetest({
                gt: config.gt,
                challenge: config.challenge,
                product: 'float',
                offline: !config.success
            });

            gt_captcha_obj.appendTo("#div_id_embed");
        }

        s = document.createElement('script');
        s.src = 'http://api.geetest.com/get.php?callback=gtcallback';
        $("#div_geetest_lib").append(s);

        var gtcallback = (function() {
            var status = 0,
                result, apiFail;
            return function(r) {
                status += 1;
                if (r) {
                    result = r;
                    setTimeout(function() {
                        if (!window.Geetest) {
                            apiFail = true;
                            gtFailbackFrontInitial(result)
                        }
                    }, 1000)
                } else if (apiFail) {
                    return
                }
                if (status == 2) {
                    loadGeetest(result);
                }
            }
        })()

        // ../StartCaptchaServlet.php?rand="+Math.round(Math.random()*100),
        $.ajax({
            url: "../register/check_challenge?rand="+Math.round(Math.random()*100),
            type: "get",
            dataType: 'JSON',
            success: function(result) {
                console.log(result);
                gtcallback(result)
            }
        })
        </script>
<script type="text/javascript" src="<?php echo base_url('index/include/findpwd.js')?>"></script>

<!-- <script type="text/javascript" src="http://www.qfdlqz.com/include/tongji.js?a=20130514001"></script> -->
</body>
</html>
