


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>第四步:密码修改成功_儒风国自动化培训网</title>
    <link type="text/css" href="<?php echo base_url('index/style/jc.v2.css')?>" rel="stylesheet" media="all" />
    <link type="text/css" href="<?php echo base_url('index/style/register.v2.css')?>" rel="stylesheet" media="all" />
    <link type="text/css" href="<?php echo base_url('index/style/findpwd.css')?>" rel="stylesheet" media="all" />
</head>

<body>
<!-- header start -->
<header>
    <section class="global_nav">
        <nav>
            <div class="nav clearfix">
                <h2 class="logo"><a href="http://www.rfgxy.com/" target="_blank" title="儒风国自动化培训网">儒风国自动化培训网</a></h2>
                <div class="links"><strong class="links1">客服热线：400-111-4100</strong> <strong class="links2">客服在线</strong></div>
            </div>
        </nav>
    </section>
</header>
<!-- header end --> 

<!-- container start -->
<div id="container" class="w960 mc container">
    <div class="main" style="padding:0 0 40px;">
    	<div class="fpwd_title">
        	<h2 class="title">重置密码</h2>
            <div class="ad"></div>
        </div>
        <div class="fpwd_nav">
        	<ul class="clearfix">
            	<li class="step4_1">1.填写账户名</li>
                <li class="step4_2">2.验证身份</li>
                <li class="step4_3">3.重置密码</li>
                <li class="step4_4">4.密码修改成功</li>
            </ul>
        </div>
        

        <div class="fpwd_content4">
            <div class="suc_tips">
                <h2 class="suc_tip" style=" width:280px;">恭喜您，密码修改成功！</h2>
                <p class="tc f14" style="height:50px"> <a href="http://www.rfgxy.com/" class="btn_blue1-100-30 mc">进入首页</a></p>
            </div>
        </div>
        
    </div>
</div>
<!-- container end -->

<!-- footer start -->
<footer>
    <div class="constrain">
        <p><a class="links1" href="http://www.rfgxy.com/AboutUs.aspx" target="_blank">关于我们</a> | <a class="links1" href="http://www.rfgxy.com/contact.aspx" target="_blank">联系我们</a> | <a class="links1" href="http://www.rfgxy.com/zhaopin.aspx" target="_blank">人才招聘</a> | <a class="links1" href="http://www.rfgxy.com/links.aspx" target="_blank">友情链接</a> | <a class="links1" href="http://www.rfgxy.com/help/index.aspx" target="_blank">帮助中心</a></p>
        <p>全国免费咨询电话：400 111 4100 (工作日9:00-20:30) 邮件：<a class="links2" href="mailto:kefu@jcpeixun.com" target="_blank">kefu@jcpeixun.com </a>版权所有 深圳市儒风国科技 粤ICP备1106943号</p>
    </div>
</footer>
<!-- footer end -->
<script type="text/javascript" src="<?php echo base_url('index/include/jquery-1.8.2.min.js')?>"></script>
<script type="text/javascript" src="<?php echo base_url('index/include/findpwd.js')?>"></script>
<!-- <script type="text/javascript" src="http://www.rfgxy.com/include/tongji.js?a=20130514001"></script> -->
</body>
</html>
