<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
            
<div class="others">
	<h1>友情链接</h1>
		<div class="clearfix friend-links">
	    <dl>
	        	        <dd><a href="http://hao.360.cn" target="_blank" title="360导航">360导航</a></dd>
	        	        <dd><a href="http://www.php-z.com/" target="_blank" title="PHP站中文网">PHP站中文网</a></dd>
	        	        <dd><a href="http://www.hao123.com" target="_blank" title="hao123">hao123</a></dd>
	        	        <dd><a href="http://www.lagou.com" target="_blank" title="拉勾网">拉勾网</a></dd>
	        	        <dd><a href="http://www.admin10000.com/" target="_blank" title="web开发者">web开发者</a></dd>
	        	        <dd><a href="http://new.iaskjob.com/weblog/" target="_blank" title="学习找工作网">学习找工作网</a></dd>
	        	        <dd><a href="http://fans.tcl.com/portal.php" target="_blank" title="铁粉社区">铁粉社区</a></dd>
	        	        <dd><a href="http://www.phpxuexi.com" target="_blank" title="php学习网">php学习网</a></dd>
	        	        <dd><a href="http://tv.sohu.com/ugc/edu/?qq-pf-to=pcqq.c2c" target="_blank" title="搜狐教育">搜狐教育</a></dd>
	        	        <dd><a href="http://www.js-css.cn/" target="_blank" title="JS代码网">JS代码网</a></dd>
	        	        <dd><a href="http://www.gaosiedu.com" target="_blank" title="高思教育">高思教育</a></dd>
	        	        <dd><a href="http://lbsbbs.amap.com/portal.php" target="_blank" title="高德开发者论坛">高德开发者论坛</a></dd>
	        	        <dd><a href="http://www.welearn.com/" target="_blank" title="微学">微学</a></dd>
	        	        <dd><a href="http://www.liexun.cc" target="_blank" title="猎讯网">猎讯网</a></dd>
	        	        <dd><a href="http://www.wagongzuo.com" target="_blank" title="挖工作">挖工作</a></dd>
	        	        <dd><a href="http://www.sdk.cn" target="_blank" title="SDKcn开发者平台">SDKcn开发者平台</a></dd>
	        	    </dl>
	</div>
		
</div>

          </div>
        </div>
    </div>