    <!--header-->

    <!--slide-->
    <!--# include file="inc/slide.aspx" -->
    <!--slide-->

    <!--container-->
    <div class="container">

        <!--tabs-->
        <div class="inner">
            <div class="tabs1 mt20">
                <ul class="tabs-nav">
                <img width="1200" height="80" src="http://images.qfdlqz.com/upload/advertisement/images/2015121610141545.jpg" alt="2015_圣诞活动">

                </ul>
                <div class="tabs-cont pd20">
                    <dl class="condition clearfix">
                        <dt>类别：</dt>
                        <dd class="condition-cont clearfix f1-condition">
                            <a id="f1-0" class="" href="<?php  echo site_url().'course/0/0/0'?>">全部</a>
                                                        <?php
                                                            $direction=$arr[0];
                                                            foreach ($direction as $key):
                                                        ?>
                            <a id="<?php echo 'f1-'.$key['direction_id']?>" href="<?php  echo site_url().'course/'.$key['direction_id'].'/0/0'?>"><?php echo $key['direction_name']?></a>
                                                    <?php endforeach?>
                        </dd>
                    </dl>

                    <dl class="condition clearfix">
                        <dt>课程：</dt>

                        <dd class="condition-cont clearfix f2-condition">
                                                    <a class="" id="f2-0" href="<?php  echo site_url().'course/'.$_SESSION['direction_id'].'/0/0'?>">全部</a>
                                                    <?php
                                                        $classify=$arr[1];
                                                        foreach ($classify as $key):
                                                    ?>
                                                    <a id="<?php echo 'f2-'.$key['classify_id']?>" href="<?php  echo site_url().'course/'.$key['direction_id'].'/'.$key['classify_id'].'/0'?>"><?php echo $key['classify_name']?></a>
                                                <?php endforeach?>

                        </dd>
                    </dl>
                    <dl class="condition clearfix">
                        <dt>难度：</dt>
                        <dd class="condition-cont clearfix f3-condition">
                            <a class="" href="<?php  echo site_url().'course/'.$_SESSION['direction_id'].'/'.$_SESSION['classify_id'].'/0'?>">全部</a>
                            <a id="f3-1"  href="<?php  echo site_url().'course/'.$_SESSION['direction_id'].'/'.$_SESSION['classify_id'].'/1'?>">初级</a>
                            <a id="f3-2" href="<?php  echo site_url().'course/'.$_SESSION['direction_id'].'/'.$_SESSION['classify_id'].'/2'?>">中级</a>
                            <a id="f3-3" href="<?php  echo site_url().'course/'.$_SESSION['direction_id'].'/'.$_SESSION['classify_id'].'/3'?>">高级</a>
                            <a id="f3-4" href="<?php  echo site_url().'course/'.$_SESSION['direction_id'].'/'.$_SESSION['classify_id'].'/4'?>">其他</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <!--tabs-->

        <div class="inner mt20 oh">
            <div class="clearfix bd1 bds bdgrayd">


                <span class="r gray6 f16 lh45 pr20"><?php echo $arr['total']?></span>
                <span class="r gray6 f16 lh45 pr20"><?php echo $arr['page']?></span>

                <div class="tabs-nav1 bd0" style="background-color:#FFF;">
                    <a id="Psort-1" class="" href="?f1=0&f2=0&psort=1">近期热门</a>
                </div>
            </div>
            <div class="inner oh">
                <ul class="listview13 clearfix" style="width:1220px;">

                                        <?php
                                            $course=$arr[2];
                                            foreach ($course as $key):
                                        ?>
                                        <li>
                        <div class="li-wrap mb10">
                            <a href="<?php echo site_url().'course/'.$key['course_id'] ?>">
                                <img src="<?php echo $key['img_path']?>" width="263" height="150" alt=""/>
                                <div class="li-info">
                                    <p class="h40 lh20 f16"><?php echo $key['course_name']?></p>
                                    <p class="li-desc mt5"><?php echo $key['course_synopsis']?></p>
                                </div>
                            </a>
                        </div>
                        <p class="lh20 gray6 dn"><i class="graya iconfont f14">&#xe63a;</i> 课程安排：8天×2小时</p>
                        <p class="lh20 gray6 dn"><i class="graya iconfont f14">&#xe610;</i> 开课时间：2014-1-19 14:55:17</p>
                        <p class="pt1"><span class="btn btn-blue2 btn-small r"><?php echo $key['course_level']?></span><span class="f14 gray9"><i class="graya iconfont f14 Hui-iconfont">&#xe702;</i> <em class="colblue"><?php echo $key['collects']?></em>收藏</span></p>
                    </li>
                                            <?php endforeach?>
                </ul>
            </div>
            <!--pages-->
            <!--pages-->
        </div>

        <!--课程推荐-->
      <div class="inner mt20">
                <div class="bd1 bdgrayd bds pl20 pt10 pb10 bgwhite">
                    <h3 class="h30 lh30 f16">
                        课程推荐</h3>
                    <div style="width: 1178px;" class="oh">
                        <ul class="listview clearfix lh25">

                   <li><a class="ellipsis" href="/lesson/2134/">MODBUS通信协议及其应用</a></li>

                   <li><a class="ellipsis" href="/lesson/1508/">三菱PLC通信基础及应用</a></li>

                   <li><a class="ellipsis" href="/lesson/2151/">三菱FX3U定位控制与伺服应用技术</a></li>

                   <li><a class="ellipsis" href="/lesson/1883/">西门子LOGO!基础及应用</a></li>

                   <li><a class="ellipsis" href="/lesson/2146/">三菱FX系列PLC定位控制技术基础知识</a></li>





                        </ul>
                    </div>
                </div>
            </div>
        <!--课程推荐-->

    </div>
    <!--container-->


