<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
            
<div class="others">
    <h1>人才招聘</h1>
    <div class="space-side">
        <ul class="perface">
            <li>亲，很高兴在这里与你相遇，能在这里找到我，说明你对小慕足够喜爱足够上心，多谢你的厚爱！</li>
            <li>小慕现在拿出最大诚意急寻合战友。自上线以来，慕课网受到广大程序员的各种喜爱，小慕除内心窃喜意外，深知自己肩上责任重大，<br>只有做出更好的课程，拿出更好的产品体验，才能对得起各位猿猿同学的喜爱。</li>
            <li>小慕虽不是富二代，但家底也算殷实，来到慕课网，我们绝不会亏待大家，不低于bat的待遇、五险一金、免费零食这些基本保障，大家都能享受到。<br>不过你这么有追求，相信你更看重我们年轻的活力，积极向上的精气神，以及想做一番事业的决心和勇气。</li>
            <li>寻找气息相投的小伙伴，一起mooc，一起改变中国教育！</li>
        </ul>
        <ul class="clearfix job-nav">
            <li><a href="#product-center">产品中心</a></li>
            <li><a href="#dev-center">研发中心</a></li>
            <li><a href="#operate-center">运营中心</a></li>
            <li><a href="#content-center">内容中心</a></li>
        </ul>

        <div id="product-center" class="works-wrap">
            <h2>产品中心</h2>
            <div class="job-block">
                <h3>社区产品经理</h3>
                <ol>
                    <li>-&nbsp;负责带领团队对用户需求、市场需求和业务需求进行调研分析，不断优化产品，提升产品质量，提高用户活跃度。 </li>
                    <li>-&nbsp;负责后台及社区产品的规划设计，负责项目的执行和效果评估以及后续改进工作</li>
                    <li>-&nbsp;带领团队完成产品策划工作，包括MRD、PRD撰写及部分交互设计工作；</li>
                    <li>-&nbsp;协助开发、测试团队理解和掌握需求，对产品需求方向和易用性负责；</li>
                    <li>-&nbsp;负责相关产品开发项目周期和进度把控，并对产品开发直至上线运营及项目完成进度和质量负责；</li>
                    <li>-&nbsp;负责跟踪产品上线后的产品运营，根据客户反馈进行产品优化改进</li>
                    <li>-&nbsp;关注业界动态，不断优化用户体验，及时制定产品的应变方案。</li>
                </ol>
                <h4>职位要求:</h4>
                <ol>
                    <li>-&nbsp;3年以上社区产品经验；</li>
                    <li>-&nbsp;有从原型设计到上线、运营的经验，曾独立负责过后台、广告、社区等产品原型设计和用户运营工作；</li>
                    <li>-&nbsp;熟悉WEB、WAP及HTML5产品设计规范，具备优秀的UE/UI的设计意识和表达能力；</li>
                    <li>-&nbsp;热爱互联网，关注用户体验，对新鲜事物敏感，对新型产品有自己的见解；</li>
                    <li>-&nbsp;具备较强的文字表现能力、PPT文案撰写能力、口头表达能力和学习能力； </li>
                    <li>-&nbsp;善用数据分析，收集用户意见反馈，持续优化产品；</li>
                    <li>-&nbsp;熟练运用Axure、VISIO、Mindmanage、PPT、等办公软件公软件。</li>
                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>

            </div>
            <div class="job-block">
                <h3>资深WUI/视觉设计师</h3>
                <ol>
                    <li>-&nbsp;负责公司整个产品线及相关的WUI及GUI界面及其它图形设计工作；</li>
                    <li>-&nbsp;根据产品原型完成产品的用户界面设计；</li>
                    <li>-&nbsp;三年以上交互设计经验；</li>
                    <li>-&nbsp;负责优化WUI和GUI的视觉交互流程，为用户提供更流畅的操作感觉；</li>
                    <li>-&nbsp;视觉设计规范和工作流程的设定；</li>
                </ol>
                <h4>职位要求:</h4>
                <ol>
                    <li>-&nbsp;精通设计类软件，有Web、App等用户界面的设计经验及作品；</li>
                    <li>-&nbsp;美术、平面设计、计算机等相关专业，学历不限；</li>
                    <li>-&nbsp;具有较高的艺术设计能力、审美观点，有三年以上UI界面设计工作经验，有完整的个人作品；</li>
                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>
            </div>
        </div>
        <div id="dev-center" class="works-wrap">
            <h2>研发中心</h2>
            <div id="web-mger" class="job-block">
                <h3>PHP高级开发工程师</h3>
                <ol>
                    <li>-&nbsp;设计规划教育社区视频类网站系统架构；</li>
                    <li>-&nbsp;核心应用或者模块实现；</li>
                    <li>-&nbsp;维护优化网站；</li>
                    <li>-&nbsp;对其它工程师进行技术指导；</li>
                </ol>
                <h4>职位要求:</h4>
                <ol>
                    <li>-&nbsp;熟悉linux，至少熟悉一种shell脚本语言(bash/perl/python等)；</li>
                    <li>-&nbsp;熟悉nginx/lighttpd/apache之一的配置和优化；</li>
                    <li>-&nbsp;本科以上学历，至少有2年以上php开发经验；</li>
                    <li>-&nbsp;熟悉mysql/postgresql/sqlserver数据库之一的开发与使用，熟悉memcached、redis的使用；</li>
                    <li>-&nbsp;有大访问量网站开发、规划经验优先；</li>
                    <li>-&nbsp;有视频播放、流媒体类网站研发维护经验优先；</li>
                    <li>-&nbsp;有linux环境下c/c++/java开发经验优先；</li>
                    <li>-&nbsp;工作热情、积极，易于沟通，能迅速融入团队，有一定抗压能力；</li>
                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>
            </div>
            <div class="job-block">
                <h3>前端高级开发工程师</h3>
                <ol>
                    <li>-&nbsp;负责教育社区类网站的前端框架、核心模块设计和实现；</li>
                    <li>-&nbsp;持续优化前端界面和脚本，保证兼容性和高性能；</li>
                    <li>-&nbsp;为团队内其它成员提供培训和指导。</li>
                </ol>
                <h4>职位要求：</h4>
                <ol>
                    <li>-&nbsp;2年以上互联网前端开发工作经验；</li>
                    <li>-&nbsp;熟悉html/js/css/html5/flash等开发；</li>
                    <li>-&nbsp;熟悉常用的1-2种ajax技术及框架（jquery/moontools/extjs/nodejs等）；</li>
                    <li>-&nbsp;熟悉原生JS编写；</li>
                    <li>-&nbsp;熟悉浏览器兼容技术、前端性能优化；</li>
                    <li>-&nbsp;良好的沟通能力和团队协作能力；</li>
                    <li>-&nbsp;善于学习，自我驱动，了解和学习业界新技术。</li>
                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>
            </div>
            <div class="job-block">
                <h3>iOS/Android开发工程师</h3>
                <ol>
                    <li>-&nbsp;负责社区、视频类ios/Android 产品开发优化维护；</li>
                    <li>-&nbsp;编写相应模块的设计文档，独立完成编码及单元测试；</li>
                    <li>-&nbsp;与团队成员充分、有效沟通协作，进行技术风险评估、项目时间评估；</li>
                    <li>-&nbsp;为团队内其它成员提供培训和指导；</li>
                </ol>
                <h4>职位要求：</h4>
                <ol>
                    <li>-&nbsp;熟悉掌握Objective-C 编程语言；或者熟悉java开发语言；</li>
                    <li>-&nbsp;熟悉iOS或Android ui、网络、数据库、xml/json解析等开发技巧；</li>
                    <li>-&nbsp;熟悉iOS或Android SDK及相关开发、调试、优化工具；</li>
                    <li>-&nbsp;至少有2年以上手机端app实际开发经验（iOS或Android平台）；</li>
                    <li>-&nbsp;有在app Store或Android应用市场发布过作品的优先；</li>
                    <li>-&nbsp;有视频/sns/社区/LBS等移动互联网产品开发经验者优先；</li>
                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>
            </div>
        </div>
        <div id="operate-center" class="works-wrap">
            <h2>运营中心</h2>
            <div class="job-block">
                <h3>高级运营专员（移动端）</h3>
                <ol>
                    <li>-&nbsp;负责慕课网客户端的渠道推广建设和合作运营，完成app产品的推广和运营KPI指标；</li>
                    <li>-&nbsp;拓展渠道合作伙伴，包括手机厂商、渠道商、第三方应用商店等推广渠道；</li>
                    <li>-&nbsp;推广渠道数据监控和反馈跟踪，对推广数据进行分析，有针对性的调整推广策略。 </li>
                </ol>
                <h4>职位要求:</h4>
                <ol>
                    <li>-&nbsp;了解教育市场，特别是网络教育平台的推广优先；</li>
                    <li>-&nbsp;优秀的语言表达和团队沟通能力；</li>
                    <li>-&nbsp;优秀的数据分析能力和严密的逻辑思维；</li>
                    <li>-&nbsp;具有很强的事业进取心与自我激励能力，能承受快速发展型企业带来的工作压力；</li>
                    <li>-&nbsp;2年以上客户端运营经验。</li>

                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>
            </div>
            <div class="job-block">
                <h3>资深网络推广</h3>
                <ol>
                    <li>-&nbsp;通过各媒体、渠道合作、提升网站流量和注册会员，完成KPI指标；</li>
                    <li>-&nbsp;负责慕课网相关的广告投放和后期数据分析、监测；</li>
                    <li>-&nbsp;根据慕课网推广计划负责拓展和维护合作伙伴关系；</li>
                    <li>-&nbsp;挖掘各媒体、渠道及运营的需求，深入挖掘并整合各</li>方优势资源；
                    <li>-&nbsp;负责所有合作上的跟进工作（包括合同拟定、合同接入、对接跟进、后期维护）。</li>
                </ol>
                <h4>职位要求:</h4>
                <ol>
                    <li>-&nbsp;2年以上业务拓展和网站推广或商务合作经验；</li>
                    <li>-&nbsp;充满激情、刻苦勤奋、独立开展工作能力强、悟性高、善于总结、能承受压力；</li>
                    <li>-&nbsp;具有在线教育网站或社区运营经验者优先；</li>
                    <li>-&nbsp;个人建站者，有站长经验者优先。</li>
                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>
            </div>
        </div>
        <div id="content-center" class="works-wrap">
            <h2>内容中心</h2>
            <div class="job-block">
                <h3>教学设计经理</h3>
                <ol>
                    <li>-&nbsp;调研用户的学习需求，搭建培训产品体系，设计具有前瞻性与实用性的课程；</li>
                    <li>-&nbsp;配合讲师完成课程一体化设计方案，包括教学内容、教学大纲、教学活动、考核方式等；</li>
                    <li>-&nbsp;根据用户学习需要，为授课内容提供合理建议；激发讲师灵感，策划新颖的授课方式；</li>
                    <li>-&nbsp;协调各部门共同配合完成课程开发，控制开发进度及质量，并对成果进行验收；</li>
                    <li>-&nbsp;负责主讲教师的招聘与绩效考核工作，有效完成师资库管理与优秀师资储备工作；</li>
                    <li>-&nbsp;持续跟踪教学产品的运营情况，配合讲师不断改进课程质量，提高培训效果。</li>
                </ol>
                <h4>职位要求:</h4>
                <ol>
                    <li>-&nbsp;热爱教育行业，本科以上学历；</li>
                    <li>-&nbsp;三年以上IT技能培训工作经验，负责过课程策划，课程研发到上线运营全流程；有一定的技术背景；</li>
                    <li>-&nbsp;懂用户，懂互联网；较强的产品管理及组织协调能力，沟通表达能力强，并具有团队合作力；</li>
                    <li>-&nbsp;能独立思考，具有创新的思维和意识，极强的责任心。思路清晰，踏实缜密。具有一定的抗压能力。</li>
                    <li>-&nbsp;具有一定的文字功底，熟练使用Mindmaneger、PPT等办公软件；</li>
                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>
            </div>

            <div class="job-block">
                <h3>讲师</h3>
                <ol>
                    <li>-&nbsp;根据用户的学习需求，设计开发更具有前瞻性与实用性的课程；完成课程一体化设计方案，包括教学内容、教学大纲、教学指南、教学活动等； </li>
                    <li>-&nbsp;按照教学计划要求，完成在线课程录制，优化改进； </li>
                    <li>-&nbsp;完善培训教辅材料、案例体系，制定课程考核标准，并建立题库； </li>
                    <li>-&nbsp;指导助教开展网上学习辅导活动，帮助助教提高专业教学能力。</li>
                </ol>
                <h4>职位要求</h4>
                <ol>
                    <li>-&nbsp;热爱教育行业，专科以上学历； </li>
                    <li>-&nbsp;具有PHP开发、Android开发、ios开发、python开发2年以上一线项目开发经验；2年以上讲师经验；</li>
                    <li>-&nbsp;技术控，语言表达流利，思路清晰，有独特的授课风格及表现力，注重理论联系实际，深入浅出； </li>
                    <li>-&nbsp;能独立完成教学资料的开发（题库、案例库）；具有较高的技术水平和丰富的项目开发经验; 懂用户学习心理，善于沟通； </li>
                    <li>-&nbsp;擅于学习，工作态度积极主动，对学员有极强的责任心；具有创新的思维和意识；具有一定的抗压能力；</li>
                    <li>-&nbsp;熟练使用Mindmaneger、PPT等办公软件。</li>
                </ol>
                <p class="job-email">简历请发送到:wubinhua@imooc.com 或 ada@imooc.com</p>
            </div>
        </div>
    </div>
</div>


          </div>
        </div>
    </div>