<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎来到登录页_鼎立启智教育网</title>
    <meta name="description" content="鼎立启智教育网网提供PLC视频教程、数控冲床、电工基础知识、数控编程等高清视频教程,打造自动化在线远程教育第一品牌.(PLC|西门子|三菱|欧姆龙|变频器|触摸屏|数控|电工)" />
    <link type="text/css" rel="stylesheet" href="<?php echo base_url('index/style/jc.v2.css'); ?>" />
    <link type="text/css" rel="stylesheet" href="<?php echo base_url('index/style/register.v2.css'); ?>" />
    <style type="text/css">
        .login_ad { 
			/* 
			background-image: url(http://images.qfdlqz.com/tit_20140904_2.png); 
            background-image: url(http://images.qfdlqz.com/tit_20140917_1.jpg);
           background-image: url(http://images.qfdlqz.com/tit_20150706_1.jpg);
            background-image: url(http://images.qfdlqz.com/tit_0001.jpg);
			http://www.qfdlqz.com/appDownload/app_page.html*/
			 background-image: url(http://images.qfdlqz.com/tit_20151026_1.jpg);
			 
			 
			
		}
    </style>
</head>
<body>
    

    <!-- header start -->
    <header>
    <section class="global_nav">
        <nav>
            <div class="nav clearfix">
                <h2 class="logo"><a href="http://www.qfdlqz.com/" title="鼎立启智教育网">鼎立启智教育网</a></h2>
                <div class="links"><strong class="links1">客服热线：0537-4983789</strong> <strong class="links2 dn">客服在线</strong></div>
            </div>
        </nav>
    </section>
</header>
    <!-- header end -->
    <!-- container start -->
    <div id="container" class="w960 mc">
        <div class="main clearfix" style="background: none repeat scroll 0 0 transparent;">
            <div class="login_ad">
                <a href="http://www.qfdlqz.com/topic/act/20151111/index.html#index" target="_blank" style="display:block; height:100%;width:100%;">
                    <div style="width: 400px; padding: 0px 2px 2px 2px;" class="LoginRight">
                        <div class="LoginRightCont">
                            <!--
                  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="400" height="305">
                      <param name="movie" value="/images/login_1.swf" />http://u.qfdlqz.com/topic/act/simens/?login
                      <param name="quality" value="high" />
                      <embed src="/images/login_1.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="400" height="305"></embed>
                  </object>-->
                        </div>
                        <div class="LoginRightImg pt10"></div>
                </a>
            </div>
        </div>
        <div class="login_forms" style="width: 425px; padding-top: 53px; border-top: solid 1px #ddd;">
            <form id="loginForm" method="post" action="<?php echo site_url().'/Login/checklogin'?>">
            <fieldset>
                <ol>
                    <li>帐号：
                        <input type="text" id="uName" name="uName" class="txt_gray3-260-30"
                            placeholder="用户名/邮箱/手机号" maxlength="40" /><input type="hidden" name="callback" value="http://my.qfdlqz.com/study/FreeLesson.aspx" />
                    </li>
                    <li class="tips">
                        <label for="uEmail" id="e_tips">&nbsp;</label>
                    </li>
                    <li>密码：
                        <input type="password" id="uPwd" name="uPwd" class="txt_gray3-260-30" />
                        <a href="http://www.qfdlqz.com/forget/step1" target="_blank" class="f14">
                            忘记密码？</a></li>
                    <li class="tips">
                        <label for="uPwd" id="p_tips">&nbsp;</label>
                    </li>
                    <li class="tips2 clearfix">
                            <!--<div class="l h30">
                                <input type="checkbox" id="re_uname" name="re_uname" checked="checked" />
                                <label for="re_uname">记住账户名</label>
                            </div>-->
                        <div class="l h30">
                            <input type="checkbox" id="auto_login" checked="checked" />
                            <label for="auto_login">自动登录</label>
                        </div>
                    </li>
                    <li class="btns" id="btns" style="line-height: 25px;">
                        <span class="pubtn"><i class="btn_l1"></i>
                            <a class="pubtn_in" href="javascript:;" id="login">
                                <span class="pubtn_bg">登 录</span></a><i class="btn_l2"></i></span><a href="http://www.qfdlqz.com/register"
                                    class="ml35 f14" target="_blank">注册新账号</a></li>
                    <li class="btns2" id="btns2" style="display: none;">正在登录，请稍候<b>...</b></li>
                    <!-- <button type="submit">登录</button> -->
                </ol>
            </fieldset>
            </form>
        </div>
    </div>
    </div>
    <!-- container end -->
    <!-- footer start -->
    <footer>
    <div class="constrain">
        <p><a class="links1" href="http://www.qfdlqz.com/about/us" target="_blank">关于我们</a> | <a class="links1" href="http://www.qfdlqz.com/about/contact" target="_blank">联系我们</a> | <a class="links1" href="http://www.qfdlqz.com/about/job" target="_blank">人才招聘</a> | <a class="links1" href="http://www.qfdlqz.com/about/friendly" target="_blank">友情链接</a> </p>
        <p>全国免费咨询电话：0537-4983789 (工作日9:00-20:30) 邮件：<a class="links2" href="mailto:kefu@qfdlqz.com" target="_blank">kefu@qfdlqz.com </a>©山东省鼎立启智教育网学有限公司 - 课程内容版权均归鼎立启智教育网培训网所有</p>
    </div>
</footer>
        <script type="text/javascript" src="<?php echo base_url('index/include/jquery-1.8.2.min.js'); ?>"></script>
    <!-- footer end -->
        <script type="text/javascript" src="<?php echo base_url('index/include/jquery-1.8.2.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo base_url('index/include/login.js')?>"></script>
    <!-- // <script type="text/javascript" src="http://www.qfdlqz.com/include/tongji.js?a=20130514001"></script> -->
</body>
</html>
