<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>现场培训-技成培训网-自动化专业在线培训的首选工控网平台-视频教程下载</title>
    <meta name="description" content="技成自动化培训网课程中心，提供最新最全的专业自动化课程培训视频，提供长期在线答疑辅导服务,确保技成学员学以致用。" />
    <meta name="keywords" content="西门子S7-200,S7-300,三菱PLC视频,变频器视频 欧姆龙视频教程,工控教程,PLC培训，plc教程视频" />
    <link rel="stylesheet" href="<?php echo base_url('index/lesson1/css/reset.css') ?>">
    <link rel="stylesheet" href="<?php echo base_url('index/lesson1/css/font/iconfont.css') ?>">
    <link rel="stylesheet" href="<?php echo base_url('index/lesson1/css/basic.css') ?>">
    <link rel="stylesheet" href="<?php echo base_url('index/lesson1/css/style.css') ?>">
    <style type="text/css">
    /* -------------------------------------------------
 * pages
 * -------------------------------------------------
*/
    
    .pages li {
        display: inline;
    }
    
    .pages .active a {
        border-color: #188EEE;
        background-color: #188EEE;
        color: #FFF;
    }
    
    body {
        background-color: white;
    }
    
    .header {
        border-bottom: 1px solid white;
        box-shadow: none;
    }
    
    .tabs1 .tabs-cont {
        border: 1px solid #DDD;
    }
    
    .con-wrap1 {
        background-color: #f3f3f3;
        margin-bottom: 0;
    }
    
    .container {
        width: 1200px!important;
        margin-right: auto;
        margin-left: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    
    .col-xs-24 {
        width: 100%;
    }
    
    .header-top {
        height: 40px;
        line-height: 40px;
    }
    
    .header-top-left {
        float: left;
    }
    
    .header-top-right {
        float: right;
    }
    
    .clearfix {
        zoom: 1;
    }
    
    .l {
        float: left;
    }
    
    .m0 {
        margin: 0;
    }
    
    .header-top-right li {
        float: left;
        height: 40px;
        line-height: 40px;
        margin-left: 15px;
    }
    
    .guide-nav {
        margin-left: 50px;
    }
    </style>
    <!--日常特效插件-->
    <!--日常特效插件-->
</head>

<body>
    <div class="wrap">
        <!--header-->
        <script>
        window.enable_ad_stat_ord = true; //表示本页面启用订单来源统计
        </script>
        <div class="con-wrap con-wrap1">
            <div class="container con1">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="header-top clearfix">
                            <div class="header-top-left">
                                <a href="javascript:;" id="btn-addToFav" class="btn-link btn-link6">收藏技成</a>
                                <!-- <a href="http://www.rfgxy.com/v4/" class="btn-link btn-link6 ml15">回到旧版</a> -->
                            </div>
                            <div class="header-top-right clearfix">
                                <!DOCTYPE html>
                                <?php if (empty($_SESSION['username'])): ?>
                                    <ul class="l m0" id="login_top_nologin">
                                        <li>
                                            <div><a href="http://www.rfgxy.com/login" class="btn-link btn-link6">[请登录]</a></div>
                                        </li>
                                        <li>
                                            <div><a href="http://www.rfgxy.com/register" class="btn-link btn-link6">[免费注册]</a></div>
                                        </li>
                                    </ul>
                                    <?php else : ?>
                                        <ul class="l m0" id="login_top_logined">
                                            <li>
                                                <b class="cgray6"><?php echo $_SESSION['username']; ?></b>
                                                <span class="fw" style="color:#188eee">[普通会员]</span>，
                                                <span class="cgray6">欢迎来技成培训！</span><a href="http://www.rfgxy.com/logout" class="btn-link btn-link9">[退出]</a>
                                            </li>
                                            <li>
                                                <div><a href="http://my.rfgxy.com/orderLesson/order.aspx" target="_blank" class="btn-link btn-link6">我的订单</a></div>
                                            </li>
                                        </ul>
                                        <?php endif; ?>
                                            <ul class="l m0">
                                                <!--
                                <li><div><a href="http://my.rfgxy.com/" target="_blank" class="btn-link btn-link6">学员中心</a></div></li>
                                -->
                                                <li>
                                                    <div><a href="http://www.rfgxy.com/player_page/play_show.html?adfrom=old" target="_blank" class="btn-link btn-link6">技成播放器</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="http://www.rfgxy.com/lesson1/guide.aspx" target="_blank" class="btn-link btn-link6" style="color:Red;">新手攻略</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="http://www.rfgxy.com/sitemap.aspx" target="_blank" class="btn-link btn-link6">网站导航</a></div>
                                                </li>
                                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="inner clearfix">
                <a class="logo mr20" href="/"><img src="/lesson1/img/logo.png" width="250" height="66" alt="技成培训"></a>
                <!--位置导航-->
                <div class="guide-nav mr20">
                    <li>
                        <a class="nav-link" href="/lesson1/jinpin.aspx">首页</a>
                    </li>
                    <li>
                        <span class="fs pr10 pl10">&gt;</span>
                        <strong class="gray3">选课中心</strong>
                    </li>
                </div>
                <!--位置导航-->
                <!--搜索框-->
                <div class="h-search mr20">
                    <div class="search-input search-area">
                        <input type="text" name="txtSearch" class="txt-search1" id="txtSearch" placeholder="搜索课程" />
                    </div>
                    <a href="javascript:;" class="search-btn searchsubmit btn-search1" id="btn-search1" onfocus="this.blur();">
                        <i class="iconfont f20"></i></a>
                </div>
                <!--搜索框-->
                <script type="text/javascript">
                /*  搜索    */
                var
                    $searchArea = $(".search-area"),
                    $txtSearch = $("#txtSearch"),
                    $btnSsearch1 = $("#btn-search1"),

                    s = "17323522629653896619",
                    searchTypes = {
                        "all": function(arg1) {
                            return "http://zhannei.baidu.com/cse/search?q=" + arg1 + "&s=" + s;
                        },
                        "course": function(arg1) {
                            return "http://www.jcpeixun.com/lesson/lessonSearch?q=" + escape(arg1);
                        },
                        "video_course": function(arg1) {
                            return "http://www.jcpeixun.com/lesson/lessonSearch?q=" + escape(arg1);
                        },
                        "case_course": function(arg1) {
                            return "http://www.jcpeixun.com/lesson/lessonSearch?q=" + escape(arg1) + "&course=%u6848%u4F8B%u8BFE%u7A0B";
                        },
                        "down": function(arg1) {
                            return "http://zhannei.baidu.com/cse/search?q=" + arg1 + "&s=" + s + "&nsid=2";
                        }
                    },
                    searchValidate = function() {
                        var
                            txtSearch = $txtSearch.val();
                        if (!txtSearch) {
                            $txtSearch.val("请输入课程").focus();
                        } else if (!$.trim(txtSearch).indexOf("请输入课程")) {
                            $txtSearch.val("请输入课程").focus();
                        } else {
                            var
                                search_type_on = "all",
                                search_text = $txtSearch.val(),
                                cur_location = window.location.href;
                            if (!cur_location.indexOf("http://www.jcpeixun.com/xiazai/")) {
                                search_type_on = "down";
                            };
                            window.location.href = searchTypes[search_type_on](search_text);
                        }
                    };
                $searchArea.on({
                    "mouseover": function() {
                        var
                            txtSearch = $txtSearch.val();
                        if ($.trim(txtSearch) == "请输入课程") {
                            $txtSearch.val("");
                        }
                        $txtSearch.focus();
                    }
                });
                $txtSearch.on({
                    "keydown": function(event) {
                        if (event.which == 13) {
                            searchValidate();
                        }
                    }
                });
                $btnSsearch1.on({
                    "click": function() {
                        searchValidate();
                    }
                });
                </script>
                <div class="h-user">
                    <!--已登录-->
                    <div class="user-center">
                        <!--用户菜单-->
                        <!--                <div class="user-wrap" data-role="collapsible">
                    <div class="user-head">
                        <a class="user-head-inner" href="http://my.jcpeixun.com/">
                            <img src="/lesson1/_temp/stu.jpg" width="32" height="32"></a>
                        <i class="caret"></i>
                    </div>
                    <div class="user-cont">
                        <div class="user-info">
                            普通会员<span class="gray9 f12">(0001-01-01到期)</span> <a class="f12" href="http://u.jcpeixun.com/member/">
                                续费</a></div>
                        <div class="user-menu">
                            <a href="http://my.jcpeixun.com/">学员中心</a> <a href="http://my.jcpeixun.com/messager/list.aspx">
                                我的消息<span></span></a> <a href="http://my.jcpeixun.com/study/FreeLesson.aspx" target="_blank">
                                    我的课程</a> <a href="http://my.jcpeixun.com/orderLesson/order.aspx" target="_blank">我的订单</a>
                            <a href="http://my.jcpeixun.com/study/favorite.aspx" target="_blank">我的收藏</a> <a
                                href="http://my.jcpeixun.com/study/NewLesson.aspx" target="_blank">新课上架</a>
                            <a href="http://www.jcpeixun.com/userreg.aspx?u=20130925003" class="btn-link btn-link9"
                                target="_blank">赚学费</a> <a href="http://my.jcpeixun.com/orderLesson/coupon.aspx"
                                    class="btn-link btn-link9" target="_blank">优惠券</a> 
                                      <a href="/lesson1/person_xufei.aspx"
                                        class="fw" style="background: url(http://images.jcpeixun.com/bg_20130926001.gif) no-repeat scroll 60px 0px transparent;">会员续费</a> 
                                          <a href="http://u.jcpeixun.com/member/"
                                        class="fw" style="background: url(http://images.jcpeixun.com/bg_20130926001.gif) no-repeat scroll 60px 0px transparent;">购买会员</a>
                                    <a href="http://www.jcpeixun.com/logout.aspx?callback=http://www.jcpeixun.com/lesson1/scene.aspx"
                                        class="fw">退出</a>
                        </div>
                    </div>
                </div> -->
                        <!--用户菜单-->
                        <!--购物车-->
                        <!--                 <div class="user-shop" data-role="collapsible">
                    <a class="shop-btn" href="http://www.jcpeixun.com/emailregister.aspx">用户注册</a>
              
            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--header-->
        <!--slide-->
        <!--# include file="inc/slide.aspx" -->
        <!--slide-->
        <!--container-->
        <style type="text/css">

.header {
    border-bottom: 1px solid rgba(37, 28, 28, 0.18);
    box-shadow: none;
}
#main {
    min-height: 750px;
    padding: 20px 0;
    background-color: rgba(51, 51, 51, 0.03);
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.other-left {
    position: relative;
    width: 220px;
    padding: 0 20px;
    overflow: visible;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}
.other-left li {
    position: relative;
    width: 220px;
    height: 60px;
    overflow: visible;
    border-bottom: 1px solid #edf1f2;
}
.other-left li a {
    position: relative;
    display: block;
    padding: 0 10px 0 30px;
    margin-left: -20px;
    width: 220px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 14px;
    color: #787d82;
}
.other-right {
    margin-left: 280px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;
}
.other-right-wrap {
    position: relative;
    min-height: 750px;
}
.other-left li.selected a span {
    color: #cc0000;
}
.others {
    padding: 10px 40px 50px;
}
.other-left li.selected:before {
    content: " ";
    position: absolute;
    top: 0;
    width: 2px;
    height: 60px;
    background-color: #cc0000;
    left: -21px;
}
        </style>
<div id="main">

<div class="container clearfix">
    <ul class="other-left l">
      <li>
        <a href="/about/us"><span>关于我们</span></a>
      </li>
      <li>
        <a href="/about/group"><span>团队介绍</span></a>
      </li>
      <li>
         <a href="/about/job"><span>人才招聘</span></a>
      </li>
      <li class="selected">
        <a href="/about/recruit"><span>讲师招募</span></a>
      </li>
      <li>
        <a href="/about/contact"><span>联系我们</span></a>
      </li>
      <li>
        <a no-pjajx="" href="/about/faq"><span>常见问题</span></a>
      </li>
      <li>
        <a no-pjajx="" href="/about/feedback"><span>意见反馈</span></a>
      </li>
      <li>
        <a no-pjajx="" href="/about/friendly"><span>友情链接</span></a>
      </li>
    </ul>
    <div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
<div id="pjax-container">
            
<div class="others">
    <h1>讲师招募</h1>
    <div class="space-side">
      <p>想试水尝尝网络讲师的滋味？快加入慕课网讲师队伍吧！</p>
      <div class="job-block">
          <h2>我们希望你：</h2>
          <ol>
            <li>-&nbsp;热衷分享；</li>
            <li>-&nbsp;有3年以上的大型项目开发经验；</li>
            <li>-&nbsp;至少精通前端开发技术、Html5（游戏）、PHP、3G开发、JAVA、Python、cocos2d-x、Unity 3D开发技术中的一项；</li>
          </ol>
          <h2>你的收获：</h2>
          <ol>
            <li>-&nbsp;额外收入；</li>
            <li>-&nbsp;技术的沉淀与分享；</li>
            <li>-&nbsp;迅速增长的粉丝及业内知名度；</li>
          </ol>
	      <br>
                            <a href="/seek/lecturer" target="_blank" class="btn btn-green">立即加入</a>
                  	<!-- <h2>快联系我们吧！</h2>
          <ol>
            <li>
              <h3>邹童鞋</h3>
              <p class="recruit-contact">
                电话：<span>18911888156</span><br/>
                QQ: <span>576264119</span> <br/>
                Email: <span>daisy@imooc.com</span>
              </p>

            </li>
          </ol>-->
      </div>
    </div>
</div>

          </div>
</div>

</div>
        <!--footer-->
        <div class="footer mt20">
            <!--footer-guide-->
                   <div class="foot-guide inner clearfix">
            <dl class="fg-item2">
                <dt class="h30 lh30 b f14">精品课程</dt>
                <dd class="clearfix">
                    <a class="w140" href="/lesson1/search-list.aspx?keyword=三菱">三菱视频教程</a>
                    <a class="w80"  href="/lesson1/search-list.aspx?keyword=电工">电工</a>
                    <a class="w140" href="/lesson1/search-list.aspx?keyword=案例课程">案例课程</a>
                    <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子">西门子视频教程</a>
                    <a class="w80"  href="/lesson1/search-list.aspx?keyword=数控">数控</a>
                    <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子S7-200">西门子S7-200</a>
                    <a class="w140" href="/lesson1/search-list.aspx?keyword=指令详解">指令详解</a>
                    <a class="w80"  href="/lesson1/search-list.aspx?keyword=组态王">组态王</a>
                    <a class="w140" href="/lesson1/search-list.aspx?keyword=西门子S7-300">西门子S7-300</a>
                    <a class="w140" href="/lesson1/search-list.aspx?keyword=变频器">变频器</a>
                    <a class="w80"  href="/lesson1/search-list.aspx?keyword=PID">PID</a>
                    <a class="w140" href="/lesson1/search-list.aspx?keyword=伺服">伺服</a>



                </dd>
            </dl>
            <dl class="fg-item">
                <dt class="h30 lh30 b f14">学习咨询</dt>
                <dd><a href="/lesson1/jinpin.aspx">选课中心</a></dd>
                <dd><a href="/lesson1/jihua.aspx">学习计划</a></dd>
                <dd><a href="/knowledge/">文章中心</a></dd>
                <dd><a href="http://www.jcpeixun.com/xiazai/">技成下载库</a></dd>
                  <dd style="width:100px;"><a href="http://www.jcpeixun.com/lesson1/tear_user.aspx">助教老师邀请通道</a> </dd>
            </dl>
            <dl class="fg-item">
                <dt class="h30 lh30 b f14">帮助中心</dt>
                
                <dd><a href="http://www.jcpeixun.com/lesson1/guide.aspx">新手上路</a></dd>
              
                <dd><a href="http://www.jcpeixun.com/help/help36.aspx">积分获取、规则</a></dd>
                <dd><a href="http://www.jcpeixun.com/help/help12.aspx" target="_blank">升级与购买</a></dd>
                <dd><a href="http://www.jcpeixun.com/help/help25.aspx" target="_blank">购买白金学员</a></dd>
                <dd><a href="http://www.jcpeixun.com/help/help22.aspx" target="_blank">购买金牌学员</a></dd>
               
            </dl>
            <dl class="fg-item">
                <dt class="h30 lh30 b f14">关于技成</dt>
                <dd><a href="http://www.jcpeixun.com/AboutUs.aspx">了解技成</a></dd>
                <dd><a href="http://www.jcpeixun.com/contact.aspx">联系我们</a></dd>
                <dd><a href="http://www.jcpeixun.com/zhaopin.aspx">加入我们</a></dd>
                 <dd><a href="http://www.jcpeixun.com/lesson1/tear_info.aspx">助教老师</a></dd>
                 <dd><a href="http://exam.jcpeixun.com/jcexam/certificateprofile.aspx">证书查询</a></dd>
            </dl>
            <dl class="fg-item">
                <dt class="h30 lh30 b f14">客户端</dt>
                <dd><a href="http://www.jcpeixun.com/player_page/play_show.html?adfrom=old">技成播放器</a></dd>
                <dd><a href="http://www.jcpeixun.com/appDownload/app_page.html">技成手机APP</a></dd>
                <dd><a href="http://weibo.com/jcpx">新浪微博</a></dd>
                <dd><a href="http://bbs.jcpeixun.com/thread-39246-1-1.html">官方微信</a></dd>
            </dl>
            <dl class="fg-item" style="border-right:0; padding-right:0;">
                <dt class="h30 lh30 f14">合作服务</dt>
                <dd><a href="http://www.jcpeixun.com/help/help21.aspx">个人服务</a></dd>
                <dd><a href="/lesson1/weipei.aspx">企业服务</a></dd>
                <dd><a href="/lesson1/weipei.aspx">院校服务</a></dd>
            </dl>
        </div>
            <!--footer-guide-->
            <!--copyright-->
            <!--         <div class="copyright">
            <div class="inner">
                <div class="w250 r tr mt15">
                    <a class="mr10" href="http://www.anquan.org/" target="_blank"><img src="/lesson1/img/copyright/aqlm.jpg" width="66" height="24" alt="安全联盟行业验证"></a>
                    <a class="mr10" href="http://xinyu.baidu.com/" target="_blank"><img src="/lesson1/img/copyright/bdxy.jpg" width="66" height="24" alt="百度信誉放心访问"></a>
                    <a class="mr10" href="http://kexin.knet.cn/column_1/column_1_2/" target="_blank"><img src="/lesson1/img/copyright/kxwz.jpg" width="66" height="24" alt="可信网站身份验证"></a>
                </div>
                <p class="gray9">©深圳市技成科技有限公司 - 课程内容版权均归技成培训网所有  粤ICP备11069432号</p>
                <p class="">广东省 深圳市 专业技术人员继续教育网络学习平台<br>联合运营单位：深圳市工程师联合会</p>
            </div>
        </div> -->
            <!--copyright-->
        </div>
        <div class="aside-bar fixed-top">
            <ul class="aside-bar-inner">
                <li class="aside-bar-item" data-role="collapsible">
                    <a class="aside-bar-link">
                        <p class="iconfont f30 n">
                            &#xe633;</p>
                        <p class="txt">
                            公众账号</p>
                    </a>
                    <div class="aside-bar-cont">
                        <p class="f13 gray6 tc">
                            扫描二维码
                            <br> 关注技成微信公众账号
                        </p>
                        <p>
                            <img src="/lesson1/img/pic/qr.jpg" width="130" height="130" alt="技成微信公众账号"></p>
                    </div>
                </li>
                <li class="aside-bar-item" data-role="collapsible">
                    <a class="aside-bar-link">
                        <p class="iconfont f30 n">
                            &#xe630;</p>
                        <p class="txt">
                            学习交流</p>
                    </a>
                    <div class="aside-bar-cont">
                        <p class="f14 gray6 tc">
                            技成学员交流总群</p>
                        <p class="f14">
                            125群：154017892</p>
                        <p class="link-blue">
                            <a href="http://shang.qq.com/wpa/qunwpa?idkey=2eee53569300abbcfb8b8a6cab6f7374da37ddcbe5fc37e5015bdec61dbb30fe" target="_blank">进群交流</a></p>
                    </div>
                </li>
                <li class="aside-bar-item" data-role="collapsible">
                    <a class="aside-bar-link">
                        <p class="iconfont f30 n">
                            &#xe63f;</p>
                        <p class="txt">
                            留言反馈</p>
                    </a>
                    <div class="aside-bar-cont msg-board">
                        <p class="f16 h40 lh40 gray6 tl">
                            欢迎给我们留言</p>
                        <form id="mesform" role="form" method="post" action="">
                            <textarea class="form-area w220" rows="3" id="txtMgs" name="content" placeholder="您有什么问题？可以给我们留言，我们竭尽全力为您解决！"></textarea>
                            <input type="text" class="form-txt h20 lh20 w220 mt10" id="txtMobile" name="phone" placeholder="请输入手机号码，方便为你答疑">
                            <input type="submit" value="提交" href="javascript:;" id="btn-message" class="btn btn-blue1 btn-auto w130 mc h30 f16 mt10 btn-radius btn-message" style="line-height:30px;">
                        </form>
                    </div>
                </li>
                <li class="aside-bar-item" data-role="collapsible">
                    <a class="aside-bar-link">
                        <p class="iconfont f30 n">
                            &#xe63c;</p>
                        <p class="txt">
                            APP下载</p>
                    </a>
                    <div class="aside-bar-cont">
                        <p class="f13 gray6 tc">
                            扫描二维码下载到手机</p>
                        <p>
                            <img src="/lesson1/img/pic/qr.png" width="130" height="130" alt="技成微信公众账号"></p>
                    </div>
                </li>
                <li class="aside-bar-item">
                    <a class="aside-bar-link" href="#top" target="_self">
                        <p class="iconfont f30 n">
                            &#xe625;</p>
                        <p class="txt">
                            返回顶部</p>
                    </a>
                </li>
            </ul>
        </div>
        <script type="text/jscript">
        var txtMgs;
        var txtMobile
        $(".msg-board").on("click", "#btn-message", function() {

            txtMgs = $("#txtMgs").val();
            txtMobile = $("#txtMobile").val();
            if (!(/^(13[0-9]|15[0-9]|17[0-9]|18[0-9])\d{8}$/).test(txtMobile)) {
                alert("请输入正确的手机号码");
                d.show(document.getElementById('txtMobile'));
                $("#txtMobile").focus();
            } else {
                $.post("http://www.jcpeixun.com/ashx/studentsound/CreateMsg.ashx", $("#mesform").serialize())
                    .done(function(d) {
                        if (d == "留言内容过长") {
                            alert("您的留言内容过长");
                            d.show(document.getElementById('txtMgs'));
                            $("#txtMgs").focus();
                        } else {

                            alert("留言成功!如紧急,请拨免费咨询:400-111-4100");
                            d.show(document.getElementById('btn-message'));
                        }

                    });
            }
        });
        </script>
        <script>
        (function() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://images.jcpeixun.com/static/js/tongji.js?a=201601';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
        </script>
        <!-- WPA Button Begin -->
        <!-- WPA Button End -->
        <!--footer-->
    </div>
</body>

</html>
