<div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
            
<div class="others">
    <h1>讲师招募</h1>
    <div class="space-side">
      <p>想试水尝尝网络讲师的滋味？快加入慕课网讲师队伍吧！</p>
      <div class="job-block">
          <h2>我们希望你：</h2>
          <ol>
            <li>-&nbsp;热衷分享；</li>
            <li>-&nbsp;有3年以上的大型项目开发经验；</li>
            <li>-&nbsp;至少精通前端开发技术、Html5（游戏）、PHP、3G开发、JAVA、Python、cocos2d-x、Unity 3D开发技术中的一项；</li>
          </ol>
          <h2>你的收获：</h2>
          <ol>
            <li>-&nbsp;额外收入；</li>
            <li>-&nbsp;技术的沉淀与分享；</li>
            <li>-&nbsp;迅速增长的粉丝及业内知名度；</li>
          </ol>
	      <br>
                            <a href="/seek/lecturer" target="_blank" class="btn btn-green">立即加入</a>
                  	<!-- <h2>快联系我们吧！</h2>
          <ol>
            <li>
              <h3>邹童鞋</h3>
              <p class="recruit-contact">
                电话：<span>18911888156</span><br/>
                QQ: <span>576264119</span> <br/>
                Email: <span>daisy@imooc.com</span>
              </p>

            </li>
          </ol>-->
      </div>
    </div>
</div>

          </div>
        </div>
    </div>