<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>注册_儒风国学院_帐号</title>
    <meta name="description" content="儒风国学院网提供PLC视频教程、数控冲床、电工基础知识、数控编程等高清视频教程,打造自动化在线远程教育第一品牌.(PLC|西门子|三菱|欧姆龙|变频器|触摸屏|数控|电工)" />
    <link type="text/css" href="<?php echo base_url('index/style/jc.v2.css'); ?>" rel="stylesheet" media="all" />
    <link type="text/css" href="<?php echo base_url('index/style/register.v2.css'); ?>" rel="stylesheet" media="all" />
    <link type="text/css" href="<?php echo base_url('index/style/autoMail.css'); ?>" rel="stylesheet" media="all" />
    <style type="text/css">
    .login_forms .tips {
        height: 25px;
        line-height: 25px;
        text-indent: 85px;
    }
    </style>
</head>

<body>
    <!-- header start -->
    <header>
        <section class="global_nav">
            <nav>
                <div class="nav clearfix">
                    <h2 class="logo"><a href="http://www.rfgxy.com" title="儒风国学院">儒风国学院</a></h2>
                    <div class="links"><strong class="links1">客服热线：110-110-110</strong> <strong class="links2 dn">客服在线</strong></div>
                </div>
            </nav>
        </section>
    </header>
    <!-- header end -->
    <!-- container start -->
    <div id="container" class="w960 mc">
        <div class="clearfix">
            <div class="l b f20 h25 lh25 cblue-2">
                注册新学员</div>
            <div class="r h25 lh25 pr10">
                我已经注册，现在就<a href="<?php echo base_url('/login'); ?>">登录</a></div>
        </div>
        <div class="main clearfix main2">
            <div style="margin: 0px auto; float: none; position: relative;" id="reg_form" class="login_forms">
                <!-- <form id="regForm" method="post" action="<?php  ?>" enctype="multipart/form-data"> -->
                <?php echo validation_errors(); ?>
                    <?php echo form_open('register/do_register'); ?>
                        <fieldset>
                            <ol>
                                                                <li>用&nbsp;户&nbsp; 名&nbsp;：
                                    <input type="text" id="utrueName" name="username" class="reg_txt txt_gray3-260-30" title="您的姓名" placeholder="" maxlength="10" />
                                </li>
                                <li class="tips">
                                    <label for="utrueName" id="utrueName_tips"></label>
                                </li>
                                <li>手机号码：
                                    <input type="text" id="umobile" name="umobile" class="reg_txt txt_gray3-260-30" title="手机号码" placeholder="" onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
                                </li>
                                <li class="tips">
                                    <label for="umobile" id="m_tips">
                                        &nbsp;</label>
                                </li>

                                <li>用户邮箱：
                                    <input type="text" id="uEmail" name="email" class="reg_txt txt_gray3-260-30" title="建议使用QQ邮箱" placeholder="" />
                                </li>
                                <li class="tips">
                                    <label for="uEmail" id="e_tips">
                                        &nbsp;</label>
                                </li>
                                <li>密&nbsp;码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：
                                    <input type="password" id="uPwd" name="password" class="reg_txt txt_gray3-260-30" />
                                </li>
                                <li class="ti3" style="text-indent: 85px;">
                                    <label for="uPwd" id="p_tips">
                                        &nbsp;</label>
                                </li>
                                <li>重复密码：
                                    <input type="password" id="reuPwd" name="repassword" class="reg_txt txt_gray3-260-30" />
                                </li>
                                <div class="box" id="div_geetest_lib">
                                    <li class="tips">
                                        <label for="uEmail" id="e_tips">
                                            &nbsp;</label>
                                    </li>
                                    <li>滑动验证：
                                        <div id="div_id_embed"></div>
                                    </li>
                                    <li class="ti3" style="text-indent: 85px;">
                                        <label for="uPwd" id="p_tips">
                                            &nbsp;</label>
                                    </li>
                                    <style type="text/css">
                                    #div_id_embed {
                                        height: 22px;
                                        display: inline-block;
                                    }
                                    </style>
                                    <li style="padding-left: 90px;">
                                        <input type="text" name="validateCode" id="validateCode" class="reg_txt txt_gray3-260-30" style="width: 170px;" placeholder="请输入手机验证码">
                                        <input type="hidden" name="va" value="1">
                                        <a href="javascript:;" id="sendCode" data_tips="获取验证码" class="mt5" style="border-color: #2495c7;
                                color: #2495c7;">获取验证码</a> <strong id="cdown_tips" class="cdown_tips" style="display: none;">
                                    90秒后才能再发送</strong> </li>
                                    <li class="tips">
                                        <label for="umobile" id="m_tips">
                                            &nbsp;</label>
                                    </li>
                                    <li class="ti3">
                                        <input type="checkbox" id="agree" checked="checked" />
                                        <label for="agree">
                                            我已认真阅读并同意</label>
                                        <a href="http://www.rfgxy.com/service.aspx" class="f14" target="_blank">用户条款</a>
                                        <a href="http://www.rfgxy.com/help/yinSiTiaokuan.shtml" class="f14" target="_blank">
                                隐私条款</a> </li>
                                    <li class="btns" id="btns"><span class="pubtn"><i class="btn_l1"></i><a class="pubtn_in"
                            href="javascript:" id="register"><span class="pubtn_bg" style="padding: 0.1em 1em;
                                font-size: 18px;">立即注册</span></a> <i class="btn_l2"></i></span>
                                        <!-- <div id="register" style="width:30px;height:30px">立即注册</div> -->
                                    </li>
                                    <!-- <li class="btns2" id="btns2" style="display: none;">正在注册，请稍候<b>...</b></li> -->
                                    <!-- <input type="submit" value="button"/> -->
                            </ol>
                        </fieldset>
                        <input type="hidden" name="learnerId_recommend" id="learnerId_recommend" value="0" />
                        <input type="hidden" name="gettype" id="gettype" value="getpassword" />
                        </form>
                        </div>
                        <div class="login_ad" style="float: right; display: none;">
                            <div class="login_ad_contents">
                                <ul>
                                    <li class="cred1 f20 b pl20">学工控技术，拿10万年薪</li>
                                    <li class="cred1 b pt20">PLC、变频器、触摸屏、组态、电工远程培训</li>
                                    <li class="cgray1">视频教程+在线辅导+实操设备送到家</li>
                                    <li class="cgray1">马上注册，免费学习超过100课时视频教程，免费下载海量学习资料</li>
                                </ul>
                            </div>
                        </div>
            </div>
        </div>
        <!-- container end -->
        <!-- footer start -->
        <footer>
            <div class="constrain">
                <p><a class="links1" href="http://www.rfgxy.com/AboutUs.aspx" target="_blank">关于我们</a> | <a class="links1" href="http://www.rfgxy.com/contact.aspx" target="_blank">联系我们</a> | <a class="links1" href="http://www.rfgxy.com/zhaopin.aspx" target="_blank">人才招聘</a> | <a class="links1" href="http://www.rfgxy.com/links.aspx" target="_blank">友情链接</a> | <a class="links1" href="http://www.rfgxy.com/help/index.aspx" target="_blank">帮助中心</a></p>
                <p>全国免费咨询电话：110110110 (工作日9:00-20:30) 邮件：<a class="links2" href="mailto:kefu@rfgxy.com" target="_blank">kefu@rfgxy.com </a>版权所有 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            </div>
        </footer>
        <!-- footer end -->
        <script type="text/javascript" src="<?php echo base_url('index/include/jquery-1.8.2.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo base_url('index/include/autoMail.js'); ?>"></script>
        <script type="text/javascript">
        var gtFailbackFrontInitial = function(result) {
                var s = document.createElement('script');
                s.id = 'gt_lib';
                s.src = 'http://static.geetest.com/static/js/geetest.0.0.0.js';
                s.charset = 'UTF-8';
                s.type = 'text/javascript';
                document.getElementsByTagName('head')[0].appendChild(s);
                var loaded = false;
                s.onload = s.onreadystatechange = function() {
                    if (!loaded && (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete')) {
                        loadGeetest(result);
                        loaded = true;
                    }
                };
            }
            //get  geetest server status, use the failback solution


        var loadGeetest = function(config) {

            //1. use geetest capthca
            window.gt_captcha_obj = new window.Geetest({
                gt: config.gt,
                challenge: config.challenge,
                product: 'float',
                offline: !config.success
            });

            gt_captcha_obj.appendTo("#div_id_embed");
        }

        s = document.createElement('script');
        s.src = 'http://api.geetest.com/get.php?callback=gtcallback';
        $("#div_geetest_lib").append(s);

        var gtcallback = (function() {
            var status = 0,
                result, apiFail;
            return function(r) {
                status += 1;
                if (r) {
                    result = r;
                    setTimeout(function() {
                        if (!window.Geetest) {
                            apiFail = true;
                            gtFailbackFrontInitial(result)
                        }
                    }, 1000)
                } else if (apiFail) {
                    return
                }
                if (status == 2) {
                    loadGeetest(result);
                }
            }
        })()

        // ../StartCaptchaServlet.php?rand="+Math.round(Math.random()*100),
        $.ajax({
            url: "../index.php/register/check_challenge?rand="+Math.round(Math.random()*100),
            type: "get",
            dataType: 'JSON',
            success: function(result) {
                console.log(result);
                gtcallback(result)
            }
        })
        </script>
        <script type="text/javascript">
        $(function() {
            $("#sendCode").click(function() {
                value = gt_captcha_obj.getValidate();
                phone = $("#umobile").val();
                value.phone = phone;
                result = JSON.stringify(value);
                if (!(/^(13[0-9]|15[0-9]|17[0-9]|18[0-9])\d{8}$/).test(phone)) {
                    alert("请输入正确的手机号码");
                } else if (result == "false") {
                    alert('滑动验证未通过');
                } else {

                    // console.log(result);
                    $.ajax({
                        type: 'POST',
                        url: "../index.php/register/check_phone",
                        data: "value=" + result,
                        success: function(result) {
                            console.log(result);
                            if (result == 1) {
                                alert('短信验证发送成功');
                            } else if (result == -6) {
                                alert('滑动验证未通过');
                            } else if (result == -10) {
                                alert('手机号已经存在');
                            } else {
                                alert('短信验证发送失败');
                            }
                        }
                    })
                }
            })
        })
        </script>
        <script type="text/javascript">
        $(function() {
            function Radom4() {
                var charactors = "abcd2ef3gh4ij5k6mn7pq8rst9uvwxyz";
                var value = '',
                    i;
                for (j = 1; j <= 4; j++) {
                    i = parseInt(35 * Math.random());
                    value = value + charactors.charAt(i);
                }
                return value;
            }

            function gotoEmailHost(email, away) {
                var url = email.split('@')[1];
                if (away == 1) {
                    window.location.href = hash[url];
                } else if (away == 2) {
                    window.open(hash[url], '_blank');
                }
            }

            // function CountDown(id1, id2, timer) {
            //     $("#" + id2).hide();
            //     var $id1 = $("#" + id1);
            //     var i = timer;
            //     var fn = function() {
            //         $id1.html("还有" + i + "秒");
            //         !i && $id1.hide() && $("#" + id2).show() && clearInterval(timer);
            //         i--;
            //     };
            //     timer = setInterval(fn, 1000);
            //     fn();
            //     $id1.show();
            // }

            var hash = {
                'qq.com': 'http://mail.qq.com',
                'vip.qq.com': 'http://mail.vip.qq.com',
                'gmail.com': 'http://mail.google.com',
                'sina.com': 'http://mail.sina.com.cn',
                '163.com': 'http://mail.163.com',
                '126.com': 'http://mail.126.com',
                'yeah.net': 'http://www.yeah.net/',
                'sohu.com': 'http://mail.sohu.com/',
                'tom.com': 'http://mail.tom.com/',
                'sogou.com': 'http://mail.sogou.com/',
                '139.com': 'http://mail.10086.cn/',
                'hotmail.com': 'http://www.hotmail.com',
                'live.com': 'http://login.live.com/',
                'live.cn': 'http://login.live.cn/',
                'live.com.cn': 'http://login.live.com.cn',
                '189.com': 'http://webmail16.189.cn/webmail/',
                'yahoo.com.cn': 'http://mail.cn.yahoo.com/',
                'yahoo.cn': 'http://mail.cn.yahoo.com/',
                'eyou.com': 'http://www.eyou.com/',
                '21cn.com': 'http://mail.21cn.com/',
                '188.com': 'http://www.188.com/',
                'foxmail.coom': 'http://www.foxmail.com',
                'simmtech-xian.com': ''
            };

            $('#uEmail').autoMail({
                emails: ['qq.com', '163.com', '126.com', 'sina.com', 'sohu.com', 'yahoo.cn', 'gmail.com', 'hotmail.com', 'live.cn']
            });

            var vUemail = /^\w+([-+.]\w+)*@\w+([-+.]\w+)*\.\w+([-+.]\w+)*$/;


            function $trim(arg) {
                return $.trim(arg);
            }
            $("#utrueName").focus(function() {
                $("#utrueName_tips").html("");
                // $(this).attr("class", "reg_txt txt_gray3-260-30");
                $(this).attr("class", "txt_blue2-260-30");
            });

            $("#umobile").focus(function() {
                $("#umobile").attr("class", "txt_blue2-260-30");
                $.ajax({
                        type: 'POST',
                        url: "../index.php/register/check_username",
                        data: "username=" + $("#utrueName").val(),
                        success: function(result) {
                            // console.log(result);
                            if (result == -10) {
                                 $("#utrueName_tips").attr("class", "cred").html("用户名已存在！");
                                return false;
                            }
                        }
                    });
            });
            $("#uEmail").focus(function() {
                var sEmail = $("#uEmail").val();
                if ($trim(sEmail) == "建议使用QQ邮箱") {
                    $("#uEmail").val("");
                }
                $("#e_tips").attr("class", "cgray5").html("请输入常用邮箱");
                $(this).attr("class", "txt_blue2-260-30");
            });




            $("#uPwd").focus(function() {
                $("#e_tips").attr("class", "cgray5").html("");
                var sEmail = $("#uEmail").val();
                if (!vUemail.test($trim(sEmail))) {
                    $("#e_tips").attr("class", "cred").html("请输入常用邮箱");
                    $("#uEmail").attr("class", "txt_red2-260-30");
                } else {
                    var t_sEmail = $trim(sEmail);
                    var i_sEmail = t_sEmail.substring(t_sEmail.indexOf("@") + 1);
                    if (!hash[i_sEmail]) {
                        $("#e_tips").attr("class", "cred").html("为了确保您能及时收到邮件，建议使用QQ邮箱");
                        $("#uEmail").attr("class", "txt_red2-260-30");
                    } else {
                      
                        $.ajax({
                            type: 'POST',
                            url: "../index.php/register/check_email",
                            // data: "value=" + result,
                            data: "value=" + $('#uEmail').val(),

                            success: function(result) {
                                console.log(result);
                                // alert(result);
                                if (result == -10) {
                                    // alert('该邮箱已被注册,请更换邮箱');
                                    $("#e_tips").attr("class", "cred").html("该邮箱已被注册,请更换邮箱，或直接<a href=\"newlogin.aspx\">登录</a>");
                                    $("#uEmail").attr("class", "txt_red2-260-30");
                                    // return false;
                                }
                            }
                        })

                    }

                }
                var sPwd = $(this).val();
                var rePwd = $("#reuPwd").val();
                $("#p_tips").attr("class", "cgray5").html("6-20字符，可使用字母、数字或符号的组合");
                $(this).attr("class", "txt_blue2-260-30");

            });

            $("#reuPwd").focus(function() {
                $("#reuPwd").attr("class", "txt_blue2-260-30");
            });

            $("#validateCode").focus(function() {
                $("#validateCode").attr("class", "txt_blue2-260-30");
            });
            $("#reuPwd").blur(function() {
                if ($trim($('#uPwd').val()) != $trim($('#reuPwd').val())) {
                    $("#p_tips").attr("class", "cred").html("两次密码输入不一致");
                    // return false;
                }
            });





            // $("#reg_form").delegate("#register", "click", function() {
            $("#register").click(function() {
                    var umobile = $("#umobile").val();
                    var sEmail = $("#uEmail").val();
                    var sPwd = $("#uPwd").val();
                    var rePwd = $("#reuPwd").val();
                    var validateCode = $("#validateCode").val();
                    var utrueName = $("#utrueName").val();

                    if (!(/^(13[0-9]|15[0-9]|17[0-9]|18[0-9])\d{8}$/).test(umobile)) {

                        $("#m_tips").attr("class", "cred").html("请输入正确的手机号码.");
                        $("#umobile").attr("class", "txt_red2-260-30");
                        return false;
                    }
                    if (utrueName == "") {
                        $("#utrueName_tips").attr("class", "cred").html("还未输入姓名！");
                        $("#utrueName").attr("class", "txt_red2-260-30");
                        return false;

                    }
                    //if (!vUemail.test($trim(sEmail))) {
                    var t_sEmail = $trim(sEmail);
                    var i_sEmail = t_sEmail.substring(t_sEmail.indexOf("@") + 1);
                    if (!hash[i_sEmail]) {
                        $("#e_tips").attr("class", "cred").html("请输入常用邮箱");
                        $("#uEmail").attr("class", "txt_red2-260-30");
                        return false;
                    }

                    if ($trim(sPwd).length < 6 || $trim(sPwd).length > 20) {
                        $("#p_tips").attr("class", "cred").html("请输入正确的密码");
                        $("#uPwd").attr("class", "txt_red2-260-30");
                        return false;
                    }

                    if ($trim(sPwd) != $trim(rePwd)) {
                        $("#p_tips").attr("class", "cred").html("两次密码输入不一致");
                        return false;
                    }

                    if ($("#agree").prop("checked") == false) {
                        alert("请认证阅读 用户条款 和 隐私条款");
                        return false;
                    }


                    if (hash[i_sEmail] && ($trim(sPwd).length > 5 && $trim(sPwd).length < 21 && $("#agree").prop("checked") == true)) {
                        // $("#btns").hide();
                        // $("#btns2").show();
                        // var radomnumber = Radom4();
                        var data = {
                            "email": sEmail,
                            "phone": umobile,
                            "password": sPwd,
                            "username": utrueName,
                            "validatecode": validateCode
                        }


                        $.ajax({
                            type: 'POST',
                            url: "../index.php/register/do_register",
                            data: 'data=' + JSON.stringify(data),

                            success: function(result) {
                                console.log(result);
                                if (result == 1) {
                                    alert("注册成功！");
                                    location.href = "http://127.0.0.1/code32/index.php/center";
                                } else if (result < 0) {
                                    alert("验证码输入错误");
                                }else if(result == "error"){
                                    alert("非法提交请重试");
                                }
                            }
                        })
                    }
                })
        })
        </script>
        <!--<script type="text/javascript" src="http://www.rfgxy.com/include/couplet.js"></script>-->
        <!--     // <script type="text/javascript" src="http://www.rfgxy.com/include/tongji.js?a=20130514001"></script> -->
        <!-- <script language="JavaScript" src="http://tj.rfgxy.com/tj.js" type="text/JavaScript"></script> -->
</body>

</html>