
    <div id="content" class="white">
        <h1><img src="<?php echo base_url('back/img/icons/posts.png'); ?>" alt="" /> Table</h1>
        <div class="bloc">
            <div class="title">
                Table Content
            </div>
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>Uid</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>手机号</th>
                            <th>注册时间</th>
                            <th><img src="<?php echo base_url('back/img/th-comment.png'); ?>" alt="" /></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($result as $row) : ?>
                            <tr>
                                <td>
                                    <?php echo $row['uid']; ?>
                                </td>
                                <td>
                                    <?php echo $row['username']; ?>
                                </td>
                                <td>
                                    <?php echo $row['email']; ?>
                                </td>
                                <td>
                                    <?php echo $row['phone'];?>
                                </td>
                                <td>
                                    <?php echo $row['blance'];?>
                                </td>
                                <td>35</td>
                                <td class="actions">
                                    <a href="#" title="Edit this content"><img src="<?php echo base_url('back/img/icons/actions/edit.png'); ?>" alt="" /></a>
                                    <a href="#" title="Delete this content"><img src="<?php echo base_url('back/img/icons/actions/delete.png'); ?>" alt="" /></a>
                                </td>
                            </tr>
                            <?php endforeach;?>
                    </tbody>
                </table>
                <div class="pagination">
                    <a href="#" class="prev">«</a>
                    <a href="#">1</a>
                    <a href="#" class="current">2</a> ...
                    <a href="#">21</a>
                    <a href="#">22</a>
                    <a href="#" class="next">»</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>