<link rel="stylesheet" href="<?php echo base_url('back/css/backmask.css'); ?>" />
<div id="content" class="white">
    <h1><img src="<?php echo base_url('back/img/icons/posts.png'); ?>" alt="" /> Table</h1>
    <div class="bloc">
        <div class="title">
            Table Content
        </div>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>网站名</th>
                        <th>网站链接</th>
                        <th>添加时间</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <input type="hidden" id="len" value="<?php echo count($result); ?>" />
                    <?php  for($i=0;$i<count($result);$i++){ ?>
                    <tr>
                        <td>
                            <?php echo $result[$i]['link']; ?>
                        </td>
                        <td>
                            <?php echo $result[$i]['name']; ?>
                        </td>
                        <td>
                            <?php echo $result[$i]['url']; ?>
                        </td>
                        <td>
                            <?php echo $result[$i]['add_time']; ?>
                        </td>
                        </td>
                        <td class="actions">
                            <a href="#" title="Edit this content"><img src="<?php echo base_url('back/img/icons/actions/edit.png'); ?>" alt="" /></a>
                            <a data-id="<?php echo $result[$i]['link']; ?>" href="#" title="Delete this content" class="delete_button"><img src="<?php echo base_url('back/img/icons/actions/delete.png'); ?>" alt="" /></a>
                        </td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
            <div class="pagination">
                <a href="#" class="prev">«</a>
                <a href="#">1</a>
                <a href="#" class="current">2</a> ...
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#" class="next">»</a>
            </div>
        </div>
    </div>
</div>
<div id="zoombox" class="zoombox" style="position: fixed;top: 30%;left: 38%;">
    <div class="mask" style="display: none; opacity: 0.8;"></div>
    <div class="cd-popup-container" style="display:none;">
        <p style="height:22px">你确定你要删除这个元素吗?</p>
        <ul class="cd-buttons">
            <li id="delete_yes"><a href="#">是</a></li>
            <li id="delete_no"><a href="#">否</a></li>
        </ul>
        <a href="#" class="cd-popup-close img-replace">关闭</a>
    </div>
</div>

<script type="text/javascript" src="<?php echo base_url('back/js/delete-btn.js'); ?>"></script>
<script type="text/javascript">
$('#delete_yes').click(function() {
    $.ajax({
        url: "../admin/link/delete_link",
        type: "POST",
        data: "value=" + id,
        success: function(result) {
            $('.mask').hide();
            $('.cd-popup-container').hide();
            if (result == 1) {
                alert('删除成功！');
                location.reload();
            } else {
                alert('操作失败！！');
            }
        }
    })
});
</script>
</body>

</html>
