<script src="<?php echo base_url('index/js/plupload.full.min.js'); ?>" type="text/javascript"></script>
<link rel="stylesheet" href="<?php echo base_url('back/css/backmask.css'); ?>" />
<div id="content" class="white">
    <h1><img src="<?php echo base_url('back/img/icons/posts.png');?>" alt="" /> Course Data</h1>
    <div class="bloc">
        <div class="title">
            <div class="tabs" id="tabs1" style="left:-1px">
                <a href="#tab1">全部数据</a>
                <a href="#tab2">未审核</a>
                <a href="#tab3">未通过</a>
                <a href="#tab4">管理员添加</a>
            </div>
        </div>
        <div class="content">
            <div id="tab1">
                <div class="content">
                    <table class="noalt">
                        <tbody>
                            <?php  for($i=0;$i<count($result);$i++){ ?>
                            <tr>
                                <td class="picture" style="width:80px;"><img style="width:80px;" src="<?php echo $result[$i]['img_path'];?>" alt="" /></td>
                                <td>
                                    <p>
                                        <strong><a href="#"><?php echo $result[$i]['course_name']; ?></a></strong>
                                        <br/>
                                        <em><?php echo $result[$i]['add_time'];?> <a href="#"><?php echo $result[$i]['course_level'];?></a></em>
                                        <br/>
                                        <?php echo $result[$i]['course_synopsis'];?>
                                    </p>
                                </td>
                                <td class="actions">
                                    <a data-kid="<?php echo $result[$i]['course_id']; ?>" href="javascript:;" title="Delete this content" class="check_button"><img src="<?php echo base_url('back/img/icons/actions/edit.png');?>" alt="" /></a>
                                    <a data-id="<?php echo $result[$i]['course_id']; ?>" href="javascript:;" title="Delete this content" class="delete_button"><img src="<?php echo base_url('back/img/icons/actions/delete.png'); ?>" alt="" /></a>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tab2">
                <div class="content">
                    <table class="noalt">
                        <tbody>
                            <?php  for($i=0;$i<count($wait);$i++){ ?>
                            <tr>
                                <td class="picture" style="width:80px;"><img style="width:80px;" src="<?php echo $wait[$i]['img_path'];?>" alt="" /></td>
                                <td>
                                    <p>
                                        <strong><a href="#"><?php echo $wait[$i]['course_name']; ?></a></strong>
                                        <br/>
                                        <em><?php echo $wait[$i]['add_time'];?> <a href="#"><?php echo $wait[$i]['course_level'];?></a></em>
                                        <br/>
                                        <?php echo $wait[$i]['course_synopsis'];?>
                                    </p>
                                </td>
                                <td class="actions">
                                    <a data-kid="<?php echo $wait[$i]['course_id']; ?>" href="javascript:;" title="Delete this content" class="check_button"><img src="<?php echo base_url('back/img/icons/actions/edit.png');?>" alt="" /></a>
                                    <a data-id="<?php echo $wait[$i]['course_id']; ?>" href="javascript:;" title="Delete this content" class="delete_button"><img src="<?php echo base_url('back/img/icons/actions/delete.png'); ?>" alt="" /></a>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tab3">
                <div class="content">
                    <table class="noalt">
                        <tbody>
                            <?php  for($i=0;$i<count($nopass);$i++){ ?>
                            <tr>
                                <td class="picture" style="width:80px;"><img style="width:80px;" src="<?php echo $nopass[$i]['img_path'];?>" alt="" /></td>
                                <td>
                                    <p>
                                        <strong><a href="#"><?php echo $nopass[$i]['course_name']; ?></a></strong>
                                        <br/>
                                        <em><?php echo $nopass[$i]['add_time'];?> <a href="#"><?php echo $nopass[$i]['course_level'];?></a></em>
                                        <br/>
                                        <?php echo $nopass[$i]['course_synopsis'];?>
                                    </p>
                                </td>
                                <td class="actions">
                                    <a data-kid="<?php echo $nopass[$i]['course_id']; ?>" href="javascript:;" title="Delete this content" class="check_button"><img src="<?php echo base_url('back/img/icons/actions/edit.png');?>" alt="" /></a>
                                    <a data-id="<?php echo $nopass[$i]['course_id']; ?>" href="javascript:;" title="Delete this content" class="delete_button"><img src="<?php echo base_url('back/img/icons/actions/delete.png'); ?>" alt="" /></a>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tab4">
                <div class="content">
                    <table class="noalt">
                        <tbody>
                            <?php  for($i=0;$i<count($admin);$i++){ ?>
                            <tr>
                                <td class="picture" style="width:80px;"><img style="width:80px;" src="<?php echo $admin[$i]['img_path'];?>" alt="" /></td>
                                <td>
                                    <p>
                                        <strong><a href="#"><?php echo $admin[$i]['course_name']; ?></a></strong>
                                        <br/>
                                        <em><?php echo $admin[$i]['add_time'];?> <a href="#"><?php echo $admin[$i]['course_level'];?></a></em>
                                        <br/>
                                        <?php echo $admin[$i]['course_synopsis'];?>
                                    </p>
                                </td>
                                <td class="actions">
                                    <a data-kid="<?php echo $admin[$i]['course_id']; ?>" href="javascript:;" title="Delete this content" class="check_button"><img src="<?php echo base_url('back/img/icons/actions/edit.png');?>" alt="" /></a>
                                    <a data-id="<?php echo $admin[$i]['course_id']; ?>" href="javascript:;" title="Delete this content" class="delete_button"><img src="<?php echo base_url('back/img/icons/actions/delete.png'); ?>" alt="" /></a>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


