    <!DOCTYPE html>
<html>

<head>
    <title>Your Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jQuery AND jQueryUI -->
    <script type="text/javascript" src="<?php echo base_url('back/js/libs/jquery/1.6/jquery.min.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo base_url('back/js/libs/jqueryui/1.8.13/jquery-ui.min.js'); ?>"></script>
    <!-- Compressed Version
        <link type="text/css" rel="stylesheet" href="min/b=CoreAdmin&f=css/reset.css,css/style.css,css/jqueryui/jqueryui.css,js/jwysiwyg/jquery.wysiwyg.old-school.css,js/zoombox/zoombox.css" />
        <script type="text/javascript" src="min/b=CoreAdmin/js&f=cookie/jquery.cookie.js,jwysiwyg/jquery.wysiwyg.js,tooltipsy.min.js,iphone-style-checkboxes.js,excanvas.js,zoombox/zoombox.js,visualize.jQuery.js,jquery.uniform.min.js,main.js"></script>
        -->
    <link rel="stylesheet" href="<?php echo base_url('back/css/min.css'); ?>" />
    <script type="text/javascript" src="<?php echo base_url('back/js/min.js'); ?>"></script>
</head>

<body>
    <script type="text/javascript" src="<?php echo base_url('back/content/settings/main.js'); ?>"></script>
    <link rel="stylesheet" href="<?php echo base_url('back/content/settings/style.css'); ?>" />
    <div class="settings" id="settings">
        <div class="wrapper">
            <div class="grid3">
                <div class="titre">Backgrounds</div>
                <a href="<?php echo base_url('back/css/img/bg.html'); ?>" class="backgroundChanger active" title="White"></a>
                <a href="<?php echo base_url('back/css/img/dark-bg.html'); ?>" class="backgroundChanger dark" title="Dark"></a>
                <a href="<?php echo base_url('back/css/img/wood.html'); ?>" class="backgroundChanger dark" title="Wood"></a>
                <a href="<?php echo base_url('back/css/img/altbg/smoothwall.html'); ?>" class="backgroundChanger" title="Smoothwall"></a>
                <a href="<?php echo base_url('back/css/img/altbg/black_denim.html'); ?>" class="backgroundChanger dark" title="black_denim"></a>
                <a href="<?php echo base_url('back/css/img/altbg/carbon.html'); ?>" class="backgroundChanger dark" title="Carbon"></a>
                <a href="<?php echo base_url('back/css/img/altbg/double_lined.html'); ?>" class="backgroundChanger" title="Double lined"></a>
                <div class="clear"></div>
            </div>
            <div class="grid3">
                <div class="titre">Bloc style</div>
                <a href="black.html" class="blocChanger" title="Black" style="background:<?php echo base_url('back/css/img/bloctitle.png'); ?>;"></a>
                <a href="white.html" class="blocChanger active" title="White" style="background:<?php echo base_url('back/css/img/white-title.png'); ?>;"></a>
                <a href="wood.html" class="blocChanger" title="Wood" style="background:<?php echo base_url('back/css/img/wood-title.jpg'); ?>;"></a>
                <div class="clear"></div>
            </div>
            <div class="grid3">
                <div class="titre">Sidebar style</div>
                <a href="grey.html" class="sidebarChanger active" title="Grey" style="background:#494949"></a>
                <a href="black.html" class="sidebarChanger" title="Black" style="background:#262626"></a>
                <a href="white.html" class="sidebarChanger" title="White" style="background:#EEEEEE"></a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <a class="settingbutton" href="#">
        </a>
    </div>
    <!--              
                HEAD
                        -->
    <div id="head">
        <div class="left">
            <a href="#" class="button profile"><img src="<?php echo base_url('back/img/icons/top/huser.png'); ?>" alt="" /></a> Hi,
            <!-- <a href="#"><?php echo $_SESSION['username'] ?></a> | -->
            <a href="<?php echo base_url('index.php/admin/login/logout'); ?>">Logout</a>
        </div>
        <div class="right">
            <form action="#" id="search" class="search placeholder">
                <label>Looking for something ?</label>
                <input type="text" value="" name="q" class="text" />
                <input type="submit" value="rechercher" class="submit" />
            </form>
        </div>
    </div>
    <!--            
                SIDEBAR
                         -->
    <div id="sidebar">
        <ul>
            <li class="<?php echo $current['data_back'] ?>">
                <a href="index.html">
                        <img src="<?php echo base_url('back/img/icons/menu/inbox.png'); ?>" alt="" />
                        数据后台
                    </a>
            </li>
            <li class="<?php echo $current['user_manage'] ?>"><a href="#"><img src="<?php echo base_url('back/img/icons/menu/layout.png'); ?>" alt="" />用户管理</a>
                <ul>
                    <li class="<?php echo $current['user_data'] ?>"><a href="<?php echo base_url('admin/user')?>">用户数据</a></li>
                    <li class="<?php echo $current['teacher_data'] ?>"><a href="<?php echo base_url('admin/teacher')?>">老师数据</a></li>
                    <li class="<?php echo $current['add_teacher'] ?>"><a href="<?php echo base_url('admin/teacher/add_teacher')?>">老师数据</a></li>

                </ul>
            </li>
            <li class="<?php echo $current['course_manage'] ?>"><a href="#"><img src="<?php echo base_url('back/img/icons/menu/brush.png'); ?>" alt="" />课程管理</a>
                <ul>

                    <li class="<?php echo $current['required_course'] ?>"><a href="<?php echo base_url('admin/course/required')?>">必修课程</a></li>
                    <li class="<?php echo $current['elective_course'] ?>"><a href="<?php echo base_url('admin/course/elective')?>">选修课程</a></li>
                    <li class="<?php echo $current['skill_course'] ?>"><a href="<?php echo base_url('admin/course/skill')?>">技能课程</a></li>
                </ul>
            </li>
            <li class="<?php echo $current['video_manage'] ?>"><a href="#"><img src="<?php echo base_url('back/img/icons/menu/brush.png'); ?>" alt="" />视屏管理</a>
                <ul>
                    <li class="<?php echo $current['all_video'] ?>"><a href="<?php echo base_url('admin/video/all')?>">所有视屏</a></li>
                    <li class="<?php echo $current['upload_video'] ?>"><a href="<?php echo base_url('admin/video/add')?>">上传视屏</a></li>
                   
                </ul>
            </li>
            <li class="<?php echo $current['order_manage'] ?>"><a href="#"><img src="<?php echo base_url('back/img/icons/menu/brush.png'); ?>" alt="" />订单管理</a>
                <ul>
                    <li class="<?php echo $current['all_order'] ?>"><a href="<?php echo base_url('admin/order/all')?>">所有订单</a></li>
                    <li class="<?php echo $current['account_data'] ?>"><a href="<?php echo base_url('admin/account/all')?>">流水数据</a></li>
                                    
                </ul>
            </li> 
            <li class="<?php echo $current['comment_manage'] ?>"><a href="#"><img src="<?php echo base_url('back/img/icons/menu/brush.png'); ?>" alt="" />评论管理</a>
                <ul>
                    <li class="<?php echo $current['all_comment'] ?>"><a href="<?php echo base_url('admin/comment')?>">所有评论</a></li>
                </ul>
            </li> 
            <li class="<?php echo $current['link_manage'] ?>"><a href="#"><img src="<?php echo base_url('back/img/icons/menu/brush.png'); ?>" alt="" />友链管理</a>
                <ul>
                    <li class="<?php echo $current['all_link'] ?>"><a href="<?php echo base_url('admin/link')?>">所有友链</a></li>
                    <li class="<?php echo $current['add_link'] ?>"><a href="<?php echo base_url('admin/link/add')?>">添加友链</a></li>
                </ul>
            </li>            
       </ul>
    </div>