    <script type="text/javascript">
    $(function() {
        $(".collapse>.collapse-aside>.collapse-menu").click(function() {
            if ($(this).parents(".collapse-wrap").hasClass("open")) {
                $(this).parents(".collapse-wrap").removeClass("open");
                $(this).attr("title", "展开菜单").html("<span>&lt;&lt;</span>");
            } else {
                $(this).parents(".collapse-wrap").addClass("open");
                $(this).attr("title", "隐藏菜单").html("<span>&gt;&gt;</span>");
            }
            return false;
        })


    })
    </script>
        <!--container-->
        <div class="container">
            <!--bread-crumb-->
            <div class="bread-crumb inner">
                <a href="http://www.rfgxy.com/">首页</a> <em class="fs">&gt;</em> <a href="http://www.rfgxy.com/lesson1/jinpin.aspx">选课中心
                  </a><em class="fs">&gt;</em> <a href="http://www.rfgxy.com/lesson1/jinpin.aspx">精品课程 </a><em class="fs">&gt;</em><span>
                      <a href="http://www.rfgxy.com/lesson/2179/">
                          西门子S7-200PLC模拟量应用篇</a></span>
            </div>
            <!--bread-crumb-->
            <!--课程简介-->
            <div class="inner">
                <div class="bd1 bds bdgrayd bgwhite clearfix rel" style="border:0px solid white;">
                    <script type="text/javascript" src="<?php echo base_url().'index/show/jwplayer.js'?>"></script>
                    <div class="r bdl bds bdgrayd" style="width: 1072px;float:none;border: 1px solid #ccc;">
                        <div class="clearfix h600 rel oh collapse-wrap" style="height: 576px;">
                            <!--侧栏伸展-->
                            <div class="clearfix collapse">
                                <div class="collapse-aside l" style="background:#7bd4ee">
                                    <a class="fs f12 collapse-menu" title="展开菜单" href="javascript:void(0)" style="background:#0596cf"><span>&lt;&lt;</span></a>
                                </div>
                                <div class="collapse-cont l">
                                    <h3 class="h35 lh35 f16 gray6 bdb bds bdgrayd pl10">
                                          课程大纲目录</h3>
                                    <div style="min-height: 567px; _height: 567px; overflow-y: auto;">
                                        <p class="pl10 h30 lh30 gray6 f14 pt5">
                                            <?php echo $arr[2][0]['course_name']?>
                                        </p>
                                        <dl class="dl-list1 link-gray" style="overflow-y: scroll; overflow-x: hidden;">
                                            <?php
                                              $chapter=$arr[0];
                                              $section=$arr[1];
                                         $lenth=count($chapter);
                                          $lenth2=count($section);
                                          for($i=0;$i<$lenth;$i++){?>
                                                <dt style="background-position: 84px 10px; background-image: none;" title=" <?php echo $chapter[$i]['chapter_name'];?>">
                                                    <span class="w50 l tr pr10 dn">章节</span>
                                                    <span class="w30 l tc">
                              <em class="circle1"><?php echo $chapter[$i]['order_no']?></em>
                              </span>
                                                    <span class=" l ellipsis pl10">
                              <?php echo $chapter[$i]['chapter_name'];?>
                              </span>
                                                </dt>
                                                <?php for ($t=0; $t<$lenth2; $t++) {
                                  if ($chapter[$i]['chapter_name']==$section[$t]['chapter_name']){?>
                                                <dd>
                                                    <a href="<?php echo site_url().'/showtv/showbyid/'. $section[$t]['section_id']?><?php echo '/'.$arr[2][0]['course_id']?>" title="<?php echo $section[$t]['section_name'];?>" class="<?php

                                          if($section[$t]['section_id']==$_SESSION['section_id']){
                                              $str='hover';
                                              echo $str;
                                          };
                                          ?>">
                                                        <span class="w60  l tr "></span>
                                                        <span class="w30 l tc"><em class="circle2"></em></span>
                                                        <span class=" l ellipsis pl10">
                                          <?php
                                           if(count($section[$t]['order_no'])==1){
                                             echo '00'.$section[$t]['order_no'].'.';
                                           }else if(count($section[$t]['order_no'])==2){
                                             echo '0'.$section[$t]['order_no'].'.';
                                           }else{
                                             echo $section[$t]['order_no'].'.';
                                           }
                                          ?>
                                          <?php echo $section[$t]['section_name'];?>
                                          </span> </a>
                                                </dd>
                                                <?php
                                                  }



                                              }


                                          }
                                               ?>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <!--侧栏伸展-->
                            <div class="vedio-wrap">
                                <div id="player" style="width: 1050px;">
                                    <div class="video" id="CuPlayer">
                                        <video src="<?php
                                foreach ($arr[1] as $section) {
                                  if($section['section_id']==$_SESSION['section_id']){
                                    echo 'http://code32.b0.upaiyun.com/video/'.$section['section_name'];
                                  }
                                }

                          ?>" width="1024" height="576" controls="controls" type="video/mp4"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="pd20 gray6 lh25 f14">
                                <span class="w70 gray9 l">课时介绍：</span>
                                <p style="padding-left: 80px;">
                                    【001.s7-200扩展模块-模拟量模块】讲述模拟量模块的分类依据及相应的类别</p>
                                <div class="clearfix mt20">
                                    <div class="w250 l mr50">
                                        <a class="btn btn-radius f14" href="http://www.rfgxy.com/lesson/2179/11886.html">下一课时 <i class="iconfont">
                                          </i></a>
                                    </div>
                                    <div class="w500 l">
                                        <a class="btn btn-radius f14 mr5 icon-btn" href="javascript:;" id="down11885" data-lesson-name="001.s7-200扩展模块-模拟量模块" data-lesson-id="11885">
                                                  资料下载 <i class="iconfont"></i></a>
                                        <a class="btn btn-radius f14 mr5" id="collect-video-btn">
                                          收藏课程</a>
                                        <div id="bdshare" class="bdshare_t get-codes-bdshare btn w60 mr10" style="height: 24px;">
                                            <strong class="bg bg1"></strong><strong class="cgray6 bds_more" style="background: none !important;
                                              color: #999999">分享</strong> <i class="iconfont"></i>
                                        </div>
                                    </div>
                                    <div class="r">
                                        <!--您已购买，可下载学习--->
                                        <form id="course_form" name="course_form" method="post" autocomplete="off">
                                            <a class="btn btn-bdblue btn-blue1 btn-radius f18 mr5" href="http://www.rfgxy.com/lesson1/paly_suc.aspx" target="_blank" title="下载播放器观看视频">
                                       下载播放器</a>
                                            <a class="btn btn-bdblue btn-blue1 btn-radius f18 mr5 pay_buys" href="javascript:;" data-id="2179" data-name="西门子S7-200PLC模拟量应用篇">
                                                <i class="iconfont f24" style="line-height: 1.2"></i>立即购买</a>
                                            <input type="hidden" id="downUrl" value="http://pan.baidu.com/s/1bng2pUf">
                                            <input type="hidden" id="grade" value="0">
                                            <input id="paycourse_id" name="paycourse_id" type="hidden" value="2179">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--课程简介-->
                <div class="inner mt20 clearfix">
                    <!--左侧栏目块-->
                    <div class="w880 l">
                        <!--最新点评-->
                        <div class="inner mt0 clearfix">
                            <!--左侧栏目块-->
                            <div class="w880 l">
                                <!--热门点评-->
                                <!--点评-->
                                <div class="box1 mt0">
                                    <div class="bhead">
                                        <h3>
                                          热门点评</h3>
                                    </div>
                                    <ul class="pl20 pr20 listview7">
                                        <li class="clearfix">
                                            <div class="w50 h50 l">
                                                <a href="http://www.rfgxy.com/lesson/2179/11885.html#">
                                                  <img src="<?php echo base_url().'index/show/stu.jpg"'?>" width="50" height="50" alt=""></a></div>
                                            <div class="f14" style="padding-left: 70px;">
                                                <form id="comment_form" name="comment_form" method="post" autocomplete="off">
                                                    <textarea class="form-area input_comment1" id="input_comment1" name="input_comment1" style="width: 754px; _width: 752px;" rows="4" placeholder="有什么感想，您也来说说吧！"></textarea>
                                                    <div class="pt10 h35 pb10">
                                                        <span class="r gray9">最多输入<em class="colblue" id="inpNum">200</em>字 <a href="javascript:;" id="add_comment1" class="btn btn-blue1 btn-radius ml10 f16">提交</a> </span>
                                                    </div>
                                                    <input id="Hidden1" name="commentcourseid" value="2179" type="hidden">
                                                </form>
                                            </div>
                                        </li>
                                        <?php foreach ($comment as $row): ?>
                                        <li class="clearfix">
                                            <div class="w50 h50 l">
                                                <a href="#">
                                                    <img src="http://www.jcpeixun.com/user/uimg.aspx?lid=1530609" width="50" height="50" alt=""></a>
                                            </div>
                                            <div class="f14" style="padding-left: 70px;">
                                                <p class="link-blue lh30">
                                                    <a class="b" href="#">
                                                        <?php echo $row['nickname'] ?>
                                                    </a> <span class="gray9 lh20 pb5">发表于:<?php echo $row['add_time'] ?></span></p>
                                                <p class="lh22">
                                                    <?php echo $row['comment'] ?>
                                                </p>
                                                <p class="link-blue lh30 gray9 tr mt10">
                                                    <a></a>
                                                </p>
                                            </div>
                                        </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--最新点评-->
                        <!--pages-->
                        <div class="pages mt10 tc">
                            <div class="lesson_comments_pager">
                                <div style="clear: both; margin-top: 10px;">
                                    <div class="cutPage" id="jcCommentBar"></div>
                                    <div class="cl">
                                    </div>
                                </div>
                                <script type="text/javascript">
                                $(function() {
                                        //初始化评论分页
                                        _page_CommentBar = new open_pager("jcCommentBar");
                                        _page_CommentBar.pageSize = 20; //每页显示数
                                        _page_CommentBar.pageFuncName = "CommentLoading"; //回调函数名称
                                        _page_CommentBar.currentPage = 1; //当前页
                                        _page_CommentBar.totalRows = 0; //总条数
                                        _page_CommentBar.allowClone = true;
                                        //_page_CommentBar.cloneName="jcCommentBarClone";
                                        _page_CommentBar.output();


                                    })
                                    //调用
                                function CommentLoading(pg) {
                                    $(".listview7").html("<img src='/images/loading-3.gif'/>正在加载评论......");
                                    //$(window).scrollTop(835);//设置滚动条据顶部距离
                                    _page_CommentBar.currentPage = parseInt(pg);
                                    //在这里做数据处理。异步查询数据库记录输出html
                                    $.post("/lesson1/GetCourseCommentsnew.aspx", {
                                        courseid: '2179',
                                        pagesize: _page_CommentBar.pageSize,
                                        currentpage: _page_CommentBar.currentPage
                                    }, function(msg) {
                                        $(".listview7").html(msg);
                                    });
                                    _page_CommentBar.output();
                                }
                                </script>
                            </div>
                        </div>
                        <!--pages-->

                    </div>
                    <!--左侧栏目块-->
                    <!--右侧栏目块-->
                    <div class="w300 r">
                        <!--热门推荐-->
                        <div class="box1 mt0">
                            <div class="bhead">
                                <h3>
              热门课程</h3>
                            </div>
                            <div class="pt10 pb10 pl20 pr20">
                                <ul>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/3/">
                          <img src="<?php echo base_url().'index/show/20150522113604296.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/3/">
                              西门子S7-200PLC从入门到精通</a></p>
                                            <p>
                                                <strong class="colblue">

                              300.9万</strong>人关注</p>
                                        </div>
                                    </li>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/1773/">
                          <img src="<?php echo base_url().'index/show/20150521170840656.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/1773/">
                              电工基础</a></p>
                                            <p>
                                                <strong class="colblue">

                              241.9万</strong>人关注</p>
                                        </div>
                                    </li>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/1/">
                          <img src="<?php echo base_url().'index/show/20150522113705656.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/1/">
                              三菱FX系列PLC功能指令详解</a></p>
                                            <p>
                                                <strong class="colblue">

                              206.2万</strong>人关注</p>
                                        </div>
                                    </li>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/1507/">
                          <img src="<?php echo base_url().'index/show/20150522113805937.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/1507/">
                              三菱FX PLC编程与应用入门</a></p>
                                            <p>
                                                <strong class="colblue">

                              124.8万</strong>人关注</p>
                                        </div>
                                    </li>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/2146/">
                          <img src="<?php echo base_url().'index/show/20150521164133312.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/2146/">
                              三菱FX系列PLC定位控制技术基础知识</a></p>
                                            <p>
                                                <strong class="colblue">

                              16.8万</strong>人关注</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--热门推荐-->
                        <!--新上架课程-->
                        <div class="box1 mt20">
                            <div class="bhead">
                                <h3>
                                  新上架课程</h3>
                            </div>
                            <div class="pt10 pb10 pl20 pr20">
                                <ul>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/2146/">
                                              <img src="<?php echo base_url().'index/show/20150521164133312.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/2146/">
                                                  三菱FX系列PLC定位控制技术基础知识</a></p>
                                            <p>
                                                <strong class="colblue">
                                                  88599</strong>人关注</p>
                                        </div>
                                    </li>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/2149/">
                                              <img src="<?php echo base_url().'index/show/20150521163944062.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/2149/">
                                                  伺服驱动器功能参数设置与实操训练</a></p>
                                            <p>
                                                <strong class="colblue">
                                                  37727</strong>人关注</p>
                                        </div>
                                    </li>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/2148/">
                                              <img src="<?php echo base_url().'index/show/20150521164004890.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/2148/">
                                                  机械识图</a></p>
                                            <p>
                                                <strong class="colblue">
                                                  28574</strong>人关注</p>
                                        </div>
                                    </li>
                                    <li class="clearfix pt10 pb10">
                                        <div class="w120 l">
                                            <a href="http://www.rfgxy.com/lesson/2150/">
                                              <img src="<?php echo base_url().'index/show/20150521163918437.jpg'?>" width="120" height="85" alt=""></a></div>
                                        <div class="w130 r lh20">
                                            <p class="f14 mb5">
                                                <a href="http://www.rfgxy.com/lesson/2150/">
                                                  ABB机器人实操与应用技巧</a></p>
                                            <p>
                                                <strong class="colblue">
                                                  19970</strong>人关注</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--新上架课程-->
                    </div>
                    <!--右侧栏目块-->
                </div>
                <!--课程推荐-->
                <div class="inner mt20">
                    <div class="bd1 bdgrayd bds pl20 pt10 pb10 bgwhite">
                        <h3 class="h30 lh30 f16">
                          课程推荐</h3>
                        <div style="width: 1178px;" class="oh">
                            <ul class="listview clearfix lh25">
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/2146/">三菱FX系列PLC定位控制技术基础知识</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/2149/">伺服驱动器功能参数设置与实操训练</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/3/">西门子S7-200PLC从入门到精通</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1759/">WINCC 应用与提高</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1663/">异步电动机基础原理</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1/">三菱FX系列PLC功能指令详解</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1538/">程序控制FX系列PLC运行停止方式</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1539/">通过三菱软件用电脑监控保存PLC数据方式</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1540/">三菱触摸屏多语言画面实现方式</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/5/">变频调速应用技术</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1541/">三菱FX系列PLC浮点运算指令使用方式</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1542/">三菱FX系列PLC注释使用方式</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1543/">CP1H与上位软件iFIX进行串口通讯</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1544/">OMRONPLC编程软件中功能块</a></li>
                                <li><a class="ellipsis" href="http://www.rfgxy.com/lesson/1545/">PLC模拟量的采集及处理</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--课程推荐-->
            </div>
            <!--container-->
